---
import UnitLayout from '../../layouts/UnitLayout.astro';

import ContentColumn from '../../components/ContentColumn.astro';
import FormattedText from '../../components/FormattedText.astro';
import UnitDay from '../../components/UnitDay.astro';
import UnitQuestions from '../../components/UnitQuestions.astro';
import UnitStrip from '../../components/UnitStrip.astro';

const number = 2;
const title = "Soil as Archive";
---
<UnitLayout
    number={number}
    title={title}
>
    <UnitStrip imageSrc="/images/unit-x/unit-X-strip.jpeg" alt="Illustrations" />

    <ContentColumn>
        <FormattedText>
            <p class="large">
                How does soil speak? What are its silences? In this unit we consider the histories that are embedded in,
                revealed by, and erased by soil.
            </p>
            <p>
                Michel-Rolph Trouillot writes:
            </p>
            <blockquote>
                “Silences enter the process of historical production at four crucial moments: the moment of fact
                creation (the making of <em>sources</em>); the moment of fact assembly (the making of <em>archives</em>);
                the moment of fact retrieval (the making of <em>narratives</em>); and the moment of introspective
                significance (the making of <em>history</em> in the final instance)” (pp. 26-27)
            </blockquote>
            <ul>
                <li>
                    How can we envision soil as an archive—what does this help us see? What silences are embedded in
                    this archive?
                </li>
                <li>
                    How have soil archives been created and used and in the service of what projects? What erasures are
                    embedded in this process?
                </li>
                <li>
                    How can we reimagine soil as an archive—one that materializes the lasting legacies of imperial
                    histories and racialized social relations?
                </li>
            </ul>
            <p>
                Understanding the way that social and historical processes manifest materially in the soil can both help
                us understand how we live with the legacies of past and ongoing processes, but also to take control of
                the archive—to better understand what those legacies are and how we might reshape them.
            </p>
        </FormattedText>

        <UnitDay
            number={1}
            headline="Archives of Soil"
        >
            <FormattedText>
                <p>
                    Soil collections are archives in the sense that they bring together materials and organize them; in the
                    sense that they further certain (violent) classification projects; in the sense that they tell
                    historical stories; and in the sense that they have afterlives.
                </p>
            </FormattedText>

            <UnitQuestions
                    questions={[
                        "How have soil archives been created and used and in the service of what projects?",
                        "What are the implications of the typologies that have been created for understanding and archiving soil?",
                    ]}
            />
        </UnitDay>

        <UnitDay
            number={2}
            headline="Archives conspicuously without Soils"
        >
            <FormattedText>
                <p>
                    Some archives are about soil, and intentionally index soil within archival frameworks. Some archives
                    go to elaborate lengths to remove soil–we might say, following Michel-Rolph Trouillot, to silence
                    soil–and we can see an example of this in the modern herbarium. Plant collectors laboriously
                    disentangle plants from soil, using chemical washes and dehydrators in order to mount plants flat on
                    a piece of paper. These herbarium sheets are then archived and organized according to evolutionary
                    relationships. Soil information is very rarely included, except for in one herbarium, which is
                    called the “Codex Badiano.” This is the oldest extant medicinal text in the Americas, and its
                    illustrations of plants always include roots and soil. Clearly, its authors thought that soil was an
                    important part of how plants should be described. In this lesson, we will consider what the
                    silencing of soil in botanical archives has meant historically, and what it might teach us about the
                    metaphysics of our contemporary empirical practices.
                </p>
            </FormattedText>
        </UnitDay>

        <UnitDay
            number={3}
            headline="Soil as an archive of historical relations"
        >
            <FormattedText>
                <p>
                    Soils and their substrates, such as arsenic ore, help us tell histories of racism, empire,
                    capitalism, and landscape. Learn that our soils are created by many forms of circulation. Learn how
                    chemical-intensive agriculture emerged, in part, through the social relations with and within soils.
                </p>
            </FormattedText>
        </UnitDay>

        <UnitDay
            number={4}
            headline="Soil as a living archive of social relations"
        >

        </UnitDay>
    </ContentColumn>
</UnitLayout>