---
import Layout from "../layouts/Layout.astro";
import PageContent from "../components/PageContent.astro";
import PageHeader from "../components/PageHeader.astro";
---

<Layout title="Colophon">
    <main>
        <PageHeader title="Colophon" />
        <PageContent>
        </PageContent>
    </main>
</Layout>