---
import Layout from "../layouts/Layout.astro";
import PageContent from "../components/PageContent.astro";
import PageHeader from "../components/PageHeader.astro";
---

<Layout title="Contributors">
    <main>
        <PageHeader title="Contributors" />
        <PageContent>

        </PageContent>
    </main>
</Layout>