---
import Layout from "../layouts/Layout.astro";
import LongFormContent from "../components/LongFormContent.astro";
import PageContent from "../components/PageContent.astro";
import PageHeader from "../components/PageHeader.astro";
---

<Layout title="Contributors">
    <main>
        <PageHeader title="Contributors" />
        <PageContent>
        	<LongFormContent>
	        	<p class="bio" id="cynthia-browne">
		        	<b>Cynthia Browne</b> is a Research Scholar at the Max Planck Institute for History of Science, where she currently leads
					the working group “Troubling Exposure.” The group, as well as Browne’s research, examines exposure as a documentary practice
					that has been foundational to certain forms of environmental knowledge, as well as integral to counter-documentary practices
					that work to disclose how trajectories of environmental exposure intersect with legacies and infrastructures of colonialism
					and racial privilege.
				</p>
				<p class="bio" id="emily brownell">
					<b>Emily Brownell</b> is a Senior Lecturer in Environmental History at the University of Edinburgh. Her current project,
					<i>Stories from the Substrate</i>, considers 20th Century East African history through a variety of interventions with,
					and extractions from, the soil.
				</p>
				<p class="bio" id="amiel-bize">
					<b>Amiel Bize</b> is an Assistant Professor of Anthropology at Cornell University whose research focuses on social and
					economic transformations at capitalist margins. Her current book project, <i>The Post-Agrarian Question</i>, considers how people
					make value, in material and meaningful ways, in rural East Africa. She has also published on practices of “gleaning” (claiming
					the right to leftovers) and is beginning new research on green finance.
				</p>
				<p class="bio" id="seth-denizen">
					<b>Seth Denizen</b> is a researcher and design practitioner trained in landscape architecture, evolutionary biology, and
					human geography. His published work is multidisciplinary, addressing art and design, soil science, urban geography
					and agriculture. He is currently an Assistant Professor at the Sam Fox School of Design and Visual Arts and his book
					with Montserrat Bonvehi-Rosich, <i>Thinking through Soil: wastewater agriculture in the Mezquital Valley</i> came out with
					Harvard Design Press in the spring of 2025.
				</p>
				<p class="bio" id="dotan-halevy">
					Dotan Halevy is an environmental historian of the modern Middle East and a senior lecturer at the department of Middle
					Eastern and African history at Tel Aviv University. His current research project, Settling Sands: Commodification, Displacement,
					and the Modern Coastline 1900-1970, explores how the Eastern Mediterranean coastal plain, sparsely populated for centuries,
					emerged in the modern period as an aggressive frontier of economic and political expansion.
				</p>
				<p class="bio" id="basil-ibrahim">
					<b>Basil Ibrahim</b> is an independent researcher and writer based in Ithaca, New York. His research explores the political
					life of voluntary associations, in particular the mobilization and sustenance of collectives as a mechanism for social
					and economic insurance. He works historically and ethnographically and has collaborated with Amiel Bize on several
					projects including: a multifaceted project around public services under a regime of permanent austerity, focused on
					a lower-middle class Nairobi housing estate; and research on rural life in East Africa.
				</p>
				<p class="bio" id="brian-jones">
					<b>Brian Jones</b> is a historian and web developer who has worked on a broad array of digital projects including The Public Domain
					Review, The Appendix, and history of local music in Austin, Texas. You can find out more about his work at
					<a href="https://brianjon.es/">https://brianjon.es/</a>.
				</p>
				<p class="bio" id="paul-kurek">
					<b>Paul Kurek</b> is a Postdoc in the Society of Fellows and an Assistant Professor of German at the University of Michigan.
					His current book project, <i></i>Heavy Load-Bearing Modernity: A Cultural Geology of Albert Speer’s Berlin/Germania</i>, unpacks the
					intellectual and material history of the so-called heavy load-bearing cylinder, arguably history’s heaviest memorial.
				</p>
				<p class="bio" id="johannes-lehmann">
					<b>Johannes Lehmann</b> is the Liberty Hyde Bailey Professor of Soil Biogeochemistry at Cornell University. His research
					focuses on nano-scale investigations of soil organic matter, the biogeochemistry of pyrogenic carbon, sustainable soil
					management, climate change, biochar systems and the circular economy. He is a member of the U.S. National Academy of
					Sciences and the German National Academy of Sciences (Leopoldina), and serves as Associate Editor for the Proceedings
					of the National Academy of Sciences.
				</p>
				<p class="bio" id="tamar-novick">
					<b>Tamar Novick</b> is Assistant Professor of the History of Technology at the Technical University of Munich. Her
					research lies at the intersection of the history of technology, environmental history, and Middle East studies. She
					is the author of <i>Milk and Honey: Technologies of Plenty in the Making of a Holy Land</i> (MIT Press, 2023), and her current
					research focuses on meanings and uses of bodily waste.
				</p>
				<p class="bio" id="jayson-maurice-porter">
					<b>Jayson Maurice Porter</b> is an assistant professor of history at the University of Maryland, College Park where he
					teaches environmental histories of Mexico, the African Diaspora, oilseed crops, and agrochemicals. He serves as a
					Black and Indigenous Climate Faculty Fellow at UMD’s Indigenous Futures Lab, a board member of Rutgers University’s
					Black Ecologies Lab, and a co-designer of the Chicago Teachers Union’s Environmental Justice Freedom School.
				</p>
				<p class="bio" id="natsha-russell">
					<b>Natasha Russell</b> is an artist and illustrator based in Edinburgh, Scotland. Her work is usually developed in collaboration
					with communities, researchers or organisations in order to visualise their ideas and to explore connections between
					people and their surrounding environments. Often, these projects are developed in response to a particular location or
					environment and take the form of murals, ink drawings and linocuts. You can see her work at <a href="https://www.natasharussell.com/">https://www.natasharussell.com/</a>.
				</p>
				<p class="bio" id="steven-stoll">
					<b>Steven Stoll</b> is Professor of History at Fordham University. He is the author of <i>Ramp Hollow: The Ordeal of
					Appalachia</i> (2017). He is writing “A Word For Land: How We Relate in the Spaces We Create”, to be published by
					Yale University Press.
				</p>
				<p class="bio" id="lulu-tessua">
					<b>Lulu Tessua</b> is a PhD student at the University of Nairobi where she is pursuing her PhD in Anthropology. Her current
					research is on the afterlives of Ndungu Agricultural Project in Kilimanjaro, Tanzania, with a major focus on pesticide
					use and its effects on health and environment.
				</p>
        	</LongFormContent>
        </PageContent>
    </main>
</Layout>

<style>
p.bio {
	margin-bottom: 4rem;
}
</style>
