---
import Layout from "../layouts/Layout.astro";
import PageHeader from "../components/PageHeader.astro";
---

<Layout title="Essays">
    <main>
        <PageHeader title="Essays" />
        <ul>
        	<li>
         		<span class="place">Under the electron miscroscope, Lehmann Lab, Cornell University, New York</span>
           		<span class="title">Behaviour instead of Identity: Functional Complexity of Organic Matter as an Organising Principle in Soil Ecosystems</span>
             	<span class="byline">Johannes Lehmann</span>
	         </li>
			<li>
				<span class="place"></span>
				<span class="title"></span>
				<span class="byline">Novick</span>
			</li>
			<li>
				<span class="place"></span>
				<span class="title"></span>
				<span class="byline">Brownell</span>
			</li>
			<li>
				<span class="place"></span>
				<span class="title"></span>
				<span class="byline">Porter</span>
			</li>
			<li>
				<span class="place"></span>
				<span class="title"></span>
				<span class="byline">Stoll</span>
			</li>
			<li>
				<span class="place"></span>
				<span class="title"></span>
				<span class="byline">Tessua</span>
			</li>
			<li>
				<span class="place"></span>
				<span class="title"></span>
				<span class="byline">Browne</span>
			</li>
			<li>
				<span class="place"></span>
				<span class="title"></span>
				<span class="byline">Kurek</span>
			</li>
			<li>
				<span class="place"></span>
				<span class="title"></span>
				<span class="byline">Halevy</span>
			</li>
	    </ul>
    </main>
</Layout>
