---
import Layout from "../layouts/Layout.astro";
import PageHeader from "../components/PageHeader.astro";
---

<Layout title="Essays">
    <main>
        <PageHeader title="Essays" />
    </main>
</Layout>