---
import Layout from '../layouts/Layout.astro';

import HomepageDisplay from '../components/HomepageDisplay.svelte';
---
<Layout
    title="Grasping Soil"
    suppressFooter={true}
>
    <main>
        <HomepageDisplay client:load />
    </main>
</Layout>
