---
import Layout from '../layouts/Layout.astro';
import PageContent from '../components/PageContent.astro';

const starSvg = (await import("../assets/star.svg?raw")).default;
---

<Layout title="Grasping Soil">
	<main>
		<div class="hero-container">
			<div class="image-clipper">
				<img src="/images/hero.png" alt="placeholder hero image" />
			</div>
			<div class="text-overlay">
				<h1 class="title">
					Grasping<br />
					Soil
				</h1>
			</div>
		</div>
		<PageContent>
			<div class="intro-links">
				a <a class="syllabus-link" href="/syllabus">syllabus</a> + <a class="essays-link" href="/essays">essays</a>
			</div>
			<div class="horizontal-stars">
				<span set:html={starSvg} />
				<span set:html={starSvg} />
				<span set:html={starSvg} />
			</div>
			<div class="abstract">
				<p class="large">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ornare, massa et vehicula pulvinar, augue orci interdum lorem, sollicitudin pharetra massa mi quis ex. Sed consequat ex eget tortor ultrices, non efficitur arcu fringilla. Ut accumsan erat in augue eleifend iaculis. Ut tempus justo elit, quis blandit est luctus at. Sed et tellus eget sem condimentum egestas. Ut consectetur ex at vulputate imperdiet. Nunc vulputate arcu massa, et interdum ante tincidunt nec. Quisque imperdiet ultricies nunc eget sagittis. Mauris consequat ligula vitae nisi facilisis tempus. Fusce cursus finibus varius. Praesent at dolor sit amet orci maximus ultrices.
				</p>
				<p>
					Aliquam consectetur eu ligula quis tempus. Etiam pretium vulputate nulla et vestibulum. Suspendisse potenti. Vestibulum metus enim, aliquam et massa id, consectetur accumsan eros. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam enim nisl, ornare nec iaculis at, laoreet nec nisi. Cras viverra at arcu a bibendum. Quisque aliquam lectus quam, sed maximus leo dictum a. Etiam maximus magna vitae nisi sagittis, vitae pharetra ex mollis. Vivamus felis purus, aliquet vitae ullamcorper vel, eleifend vel velit. Suspendisse rhoncus augue vel nibh vestibulum ultricies. Aenean rhoncus felis id nulla tristique, nec sodales orci tincidunt. Ut sagittis nibh sed enim condimentum faucibus. Nam pulvinar turpis ante, a ornare mi accumsan ut. Suspendisse ipsum est, aliquam non placerat in, aliquam non odio. Etiam consequat molestie arcu, ut fermentum felis dapibus eu.
				</p>
				<p>
					In hac habitasse platea dictumst. In massa ante, pharetra quis erat eget, blandit pretium augue. Quisque rhoncus ultricies placerat. Vestibulum ac nibh ultricies, feugiat mauris eget, dictum nisi. Suspendisse ac posuere tortor. Proin luctus finibus mi, id ullamcorper enim interdum vitae. Aenean tempus, diam quis feugiat hendrerit, ex orci finibus lorem, non semper nisi nibh ac ex. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed elementum turpis magna, ut condimentum tellus lobortis eu. Morbi quis tincidunt turpis. Aenean tellus metus, tristique at rutrum quis, pretium nec arcu. Suspendisse in mauris elit. Nunc lorem metus, mollis non massa vel, cursus tincidunt est. Nam justo elit, consequat et metus porttitor, hendrerit porttitor nisi. Fusce cursus maximus egestas. Cras mollis massa vel sollicitudin pellentesque.
				</p>
				<p>
					Phasellus ac fringilla lectus. Fusce eleifend, nisl sed sodales aliquet, diam ipsum porttitor metus, et pretium arcu quam sit amet nisi. Curabitur non malesuada ipsum. Phasellus cursus tristique ligula, nec fringilla turpis tincidunt dapibus. Pellentesque fermentum, nisl vitae dignissim sollicitudin, magna libero convallis dui, id fringilla lacus urna ac est. Nam consequat arcu eu justo lacinia iaculis. Nunc pretium mi tellus, non pulvinar est maximus eu. Ut aliquam nisl nec urna laoreet, eu sodales ligula rutrum. Curabitur lorem risus, rutrum non congue ac, convallis nec libero. Mauris mollis ultrices arcu, a dapibus mi molestie vel. Nulla pulvinar tristique pharetra. Etiam quis accumsan elit. Integer bibendum justo quis mattis vestibulum. Sed nec lectus lobortis, placerat mi quis, condimentum nunc. Morbi dignissim congue tellus, id faucibus tortor. Nunc sed libero lacus.
				</p>
			</div>
		</PageContent>
	</main>
</Layout>

<style>
.hero-container {
	display: block;
	flex-grow: 0;
	margin: 2rem auto 4rem auto;
	max-width: 90%;
	position: relative;
	width: auto:
}

.hero-container .image-clipper {
	aspect-ratio: 3.2;
	overflow: hidden;
}


.hero-container img {
	display: block;
	max-width: 100%;
	opacity: .7;
	position: relative;
	z-index: 0;
}

.hero-container .text-overlay {
	height: 100%;
	margin-left: calc(-1 * (var(--max-content-width) / 2));
	max-width: var(--max-content-width);
	position: absolute;
		top: 0;
		left: 50%;
	width: 100%;
	z-index: 1;
}

@media screen and (max-width: 1280px) {
	.hero-container .text-overlay {
		margin-left: calc(-50vw);
	}
}

.hero-container h1.title {
	color: var(--primary-text-color);
	font-family: 'Ocotillo', sans-serif;
	font-size: 8rem;
	font-weight: 700;
	line-height: 80%;
	margin: 0;
	position: absolute;
		left: 40px;
		bottom: 1rem;
	text-transform: uppercase;
	z-index: 1;
}


.intro-links {
	color: var(--secondary-text-color);
	font-family: 'Paix', sans-serif;
	font-size: 2rem;
	margin: 4rem 0 2rem 0;
	text-align: center;
	text-transform: uppercase;
}

.intro-links a {
	color: var(--primary-text-color);
	text-decoration-color: transparent;
	transition: all .3s ease;
}

.intro-links a:hover {
	text-decoration-color: var(--primary-text-color);
}

.horizontal-stars {
	column-gap: .5rem;
	display: flex;
	justify-content: center;
	margin-bottom: 3rem;
}

.horizontal-stars span {
	display: block;
	width: 1.5rem;
}

.horizontal-stars span :global(svg path) {
	fill: var(--decorative-warm-gray);
}

.abstract {
	padding: 2rem 40px;
}

.abstract p:first-of-type {
	margin-top: 0;
}

.abstract p {
	font-size: 1.1rem;
	font-weight: 300;
	line-height: 145%;
	margin: 2rem auto;
	max-width: 740px;
}

.abstract p.large {
	font-size: 1.4rem;
	font-weight: 400;
}

</style>