---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Grasping Soil">
	<main>
		<div class="hero-container">
			<img src="/images/hero.jpg" alt="placeholder hero image" />
			<h1 class="title">
				<span class="word">Grasping</span><br />
				<span class="word">Soil</span>
			</h1>
		</div>
		<div class="content">
			<div class="abstract">
				<p>
					Officiis et qui nisi nisi incidunt cumque. Consequatur impedit delectus odio tenetur et odit.
					Molestias occaecati debitis odit atque ducimus quos. Id dolorum dolorem necessitatibus et.
					Ea quis et aliquam aliquid iste ut.
				</p>
			</div>
			<div class="links">
				<div class="text-content">
					<a class="big-link" href="/syllabus">
						Syllabus
					</a>
					<ul>
						<li>
							<a href="units/1-soil-as-substrate">
								<span class="number">1</span>
								Soil as Substrate
							</a>
						</li>
						<li>
							<a href="units/2-soil-as-archive">
								<span class="number">2</span>
								Soil as Archive
							</a>
						</li>
						<li>
							<a href="units/3-soil-as-health">
								<span class="number">3</span>
								Soil as Health
							</a>
						</li>
						<li>
							<a href="units/4-soil-as-belonging">
								<span class="number">4</span>
								Soil as Belonging
							</a>
						</li>
					</ul>
					<a class="big-link" href="/essays">
						Essays
					</a>
				</div>
				<img
					class="image-underlay"
					src="/images/jagged-alternations.svg"
				/>
			</div>
		</div>
	</main>
</Layout>

<style>
main {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	min-height: 100vh;
}

.hero-container {
	aspect-ratio: 2.4;
	background-color: var(--text-color);
	flex-grow: 0;
	overflow: hidden;
	position: relative;
	width: 100%:
}

.hero-container img {
	display: block;
	max-width: 100%;
	position: relative;
	z-index: 0;
}

.hero-container h1.title {
	font-size: 4rem;
	font-weight: 600;
	line-height: 100%;
	margin: 0;
	position: absolute;
		left: 40px;
		bottom: 2rem;
	z-index: 1;
}

.hero-container h1.title span {
	background-color: var(--translucent-background-color);
	color: var(--text-color);
	display: inline-block;
	padding: .2em;
}

.hero-container h1.title span:nth-of-type(1) {
	padding-bottom: .1em;
}

.hero-container h1.title span:nth-of-type(2) {
	padding-top: 0;
	padding-bottom: 0;
}

.content {
	display: grid;
	flex-grow: 1;
	grid-template-areas: "abstract links";
	grid-template-columns: 1fr 1fr;
	margin: 0 auto;
	max-width: 1280px;
	width: 100%;
}

.content .abstract {
	grid-area: abstract;
	padding: 2rem 40px;;
}

.content .abstract p:first-of-type {
	margin-top: 0;
}

.content .abstract p {
	font-size: 1.2em;
	line-height: 145%;
}

.content .links {
	grid-area: links;
	overflow: hidden;
	position: relative;
}

.content .links img.image-underlay {
	display: block;
	max-width: none;
	min-width: 640px;
	position: absolute;
		bottom: 0;
	width: auto;
	z-index: 0;
}

.content .links .text-content {
	margin: 8px 0;
	position: relative;
	z-index: 1;
}

.content .links ul {
	display: grid;
	grid-template-columns: 1fr 1fr;
	list-style-type: none;
	margin: 8px 0;
	padding: 0;
}

.content .links li {
	margin: 0;
	padding: 0;
}

.content .links li .number {
	align-items: center;
	border: solid 1px var(--background-color);
	color: var(--background-color);
	display: flex;
	font-size: .4em;
	justify-content: center;
	height: 1rem;
	line-height: 100%;
	vertical-align: top;
	width: 1rem;
}

.content .links ul a {
	align-items: center;
	box-shadow: inset 0 0 0 0 var(--background-color);
	box-sizing: border-box;
	color: var(--background-color);
	column-gap: .333em;
	display: flex;
	font-size: 1.75rem;
	height: 100%;
	justify-content: flex-start;
	line-height: 100%;
	padding: .5em;
	text-decoration: none;
	transition: all ease 0.2s;
}

.content .links ul a:hover {
	box-shadow: inset 0 0 0 4px var(--accent-color-brown-1);
	color: var(--accent-color-brown-1);
}

.content .links ul a:hover .number {
	color: var(--accent-color-brown-1);
	border-color: var(--accent-color-brown-1);
}

.content .links ul li:nth-child(1) a {
	background-color: var(--text-color);
}

.content .links ul li:nth-child(1) .number {
	background-color: var(--text-color);
}

.content .links ul li:nth-child(2) a {
	background-color: var(--accent-color);
}
.content .links ul li:nth-child(2) .number {
	background-color: var(--accent-color);
}

.content .links ul li:nth-child(3) a {
	background-color: var(--accent-color-brown-2);
}
.content .links ul li:nth-child(4) a {
	background-color: var(--accent-color-brown-3);
}

a.big-link {
	background-color: var(--text-color);
	box-shadow: inset 0 0 0 0 var(--background-color);
	color: var(--background-color);
	display: block;
	font-size: 2rem;
	padding: .5em .75em;
	text-align: center;
	text-decoration: none;
}

a.big-link:hover {
	box-shadow: inset 0 0 0 4px var(--accent-color-brown-1);
	color: var(--accent-color-brown-1);
}
</style>