---
import Layout from '../layouts/Layout.astro';

const starSvg = (await import("../assets/star.svg?raw")).default;
---

<Layout title="Grasping Soil">
	<main>
		<div class="hero-container">
			<div class="image-clipper">
				<img src="/images/hero.jpg" alt="placeholder hero image" />
			</div>
			<div class="striped-border-stroke" />
			<div class="striped-border" />
			<div class="text-overlay">
				<h1 class="title">
					Grasping<br />
					Soil
				</h1>
			</div>
		</div>
		<div class="content">
			<div class="intro-links">
				a <a class="syllabus-link" href="#">syllabus</a> + <a class="essays-link" href="#">essays</a>
			</div>
			<div class="horizontal-stars">
				<span set:html={starSvg} />
				<span set:html={starSvg} />
				<span set:html={starSvg} />
			</div>
			<div class="abstract">
				<p>
					Officiis et qui nisi nisi incidunt cumque. Consequatur impedit delectus odio tenetur et odit.
					Molestias occaecati debitis odit atque ducimus quos. Id dolorum dolorem necessitatibus et.
					Ea quis et aliquam aliquid iste ut.
				</p>
			</div>
		</div>
	</main>
</Layout>

<style>
main {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	min-height: 100vh;
}

.hero-container {
	display: block;
	flex-grow: 0;
	margin: 2rem auto 4rem auto;
	max-width: 90%;
	position: relative;
	width: auto:
}

.hero-container .image-clipper {
	aspect-ratio: 3.2;
	overflow: hidden;
}

.hero-container div.striped-border {
	background: linear-gradient(
		to right,
		var(--accent-color-unit-1) 0%,
		var(--accent-color-unit-1) 20%,
		var(--accent-color-unit-2) 20%,
		var(--accent-color-unit-2) 53%,
		var(--accent-color-unit-3) 53%,
		var(--accent-color-unit-3) 86%,
		var(--accent-color-unit-4) 86%,
		var(--accent-color-unit-4) 100%
	);
	height: 4px;
	width: 100%;
}

.hero-container div.striped-border-stroke {
	background: linear-gradient(
		to right,
		var(--accent-outline-unit-1) 0%,
		var(--accent-outline-unit-1) 20%,
		var(--accent-outline-unit-2) 20%,
		var(--accent-outline-unit-2) 53%,
		var(--accent-outline-unit-3) 53%,
		var(--accent-outline-unit-3) 86%,
		var(--accent-outline-unit-4) 86%,
		var(--accent-outline-unit-4) 100%
	);
	height: 1px;
	width: 100%;
}

.hero-container img {
	display: block;
	max-width: 100%;
	opacity: .7;
	position: relative;
	z-index: 0;
}

.hero-container .text-overlay {
	height: 100%;
	margin-left: calc(-1 * (var(--max-content-width) / 2));
	max-width: var(--max-content-width);
	position: absolute;
		top: 0;
		left: 50%;
	width: 100%;
	z-index: 1;
}

@media screen and (max-width: 1280px) {
	.hero-container .text-overlay {
		margin-left: calc(-50vw);
	}
}

.hero-container h1.title {
	color: var(--accent-color-blue);
	font-family: 'Paix', sans-serif;
	font-size: 8rem;
	font-weight: 700;
	line-height: 80%;
	margin: 0;
	position: absolute;
		left: 40px;
		bottom: -3.36rem;
	text-transform: uppercase;
	z-index: 1;
}

.content {
	flex-grow: 1;
	margin: 0 auto;
	max-width: var(--max-content-width);
	padding-bottom: 8rem;
	width: 100%;
}

.content .intro-links {
	color: var(--primary-text-color);
	font-family: 'Paix', sans-serif;
	font-size: 2rem;
	margin: 4rem 0 2rem 0;
	text-align: center;
	text-transform: uppercase;
}

.intro-links a.syllabus-link {
	color: var(--accent-color-unit-1);
	text-decoration-color: var(--accent-srgb-highlight-unit-1);
	text-decoration-color: var(--accent-p3-highlight-unit-1);
	transition: all .3s ease;
}

.intro-links a.syllabus-link:hover {
	color: var(--accent-srgb-highlight-unit-1);
	color: var(--accent-p3-highlight-unit-1);
}

.intro-links a.essays-link {
	color: var(--accent-color-blue);
	text-decoration-color: var(--accent-srgb-highlight-blue);
	text-decoration-color: var(--accent-p3-highlight-blue);
	transition: all .3s ease;
}

.intro-links a.essays-link:hover {
	color: var(--accent-srgb-highlight-blue);
	color: var(--accent-p3-highlight-blue);
}

.content .horizontal-stars {
	column-gap: .5rem;
	display: flex;
	justify-content: center;
	margin-bottom: 3rem;
}

.content .horizontal-stars span {
	display: block;
	width: 1.5rem;
}

.content .horizontal-stars span :global(svg path) {
	fill: var(--decorative-warm-gray);
}

.content .abstract {
	padding: 2rem 40px;
}

.content .abstract p:first-of-type {
	margin-top: 0;
}

.content .abstract p {
	font-size: 1.4em;
	font-weight: 400;
	line-height: 145%;
	margin: 2rem auto;
	max-width: 740px;
}

</style>