---
import Layout from "../layouts/Layout.astro";
import PageHeader from "../components/PageHeader.astro";
---

<Layout title="Syllabus">
    <main>
        <PageHeader title="Syllabus" />
    </main>
</Layout>