---
import Layout from "../layouts/Layout.astro";
import PageHeader from "../components/PageHeader.astro";
import PageContent from "../components/PageContent.astro";
import IllustratedUnitButton from "../components/IllustratedUnitButton.astro";
---

<Layout title="Syllabus">
    <main>
        <PageHeader title="Syllabus" />
        <PageContent>
            <ul>
                <li>
                    <IllustratedUnitButton
                        unit={1}
                        title="Soil as Substrate"
                        path="/units/1-soil-as-substrate"
                    />
                </li>
                <li>
                    <IllustratedUnitButton
                            unit={2}
                            title="Soil as Archive"
                            path="/units/2-soil-as-archive"
                    />
                </li>
                <li>
                    <IllustratedUnitButton
                            unit={3}
                            title="Soil as Health"
                            path="/units/3-soil-as-health"
                    />
                </li>
                <li>
                    <IllustratedUnitButton
                            unit={4}
                            title="Soil as Belonging"
                            path="/units/4-soil-as-belonging"
                    />
                </li>
            </ul>
        </PageContent>
    </main>
</Layout>

<style>
ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    max-width: 840px;
    width: 75%;
}

li {
    margin: 2rem 0 0 0;
    padding: 0;
}

li:first-child {
    margin-top: 0;
}
</style>