---
import Layout from "../layouts/Layout.astro";
import PageHeader from "../components/PageHeader.astro";
import PageContent from "../components/PageContent.astro";
---

<Layout title="Syllabus">
    <main>
        <PageHeader title="Syllabus" />
        <PageContent>
            <ul class="units">
                <li>
                    <span class="number">1</span>
                    <div class="content-wrapper">
                        <a href="/units/1-soil-as-substrate">
                            <span class="label">Soil as Substrate</span>
                        </a>
                    </div>
                </li>
                <li>
                    <span class="number">2</span>
                    <div class="content-wrapper">
                        <a href="/units/2-soil-as-archive">
                            <span class="label">Soil as Archive</span>
                        </a>
                    </div>
                </li>
                <li>
                    <span class="number">3</span>
                    <div class="content-wrapper">
                        <a href="/units/3-soil-as-health">
                            <span class="label">Soil as Health</span>
                        </a>
                    </div>
                </li>
                <li>
                    <span class="number">4</span>
                    <div class="content-wrapper">
                        <a href="/units/4-soil-as-belonging">
                            <span class="label">Soil as Belonging</span>
                        </a>
                    </div>
                </li>
            </ul>
        </PageContent>
    </main>
</Layout>

<style>
    ul.units {
        column-gap: 2rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    ul.units li {
        aspect-ratio: 1.6667;
        margin-top: 4rem;
        position: relative;
    }

    ul.units .content-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        z-index: 1;
    }

    ul.units a {
        align-items: center;
        border-width: 0 0 4px 0;
        border-style: solid;
        display: flex;
        font-size: 2rem;
        height: 66.6667%;
        justify-content: flex-start;
        padding: .5em 1em;
        text-decoration: none;
        transition: all .3s ease;
    }

    ul.units li:nth-of-type(1) a {
        background-color: var(--accent-color-unit-1);
        border-color: var(--accent-srgb-highlight-unit-1);
        border-color: var(--accent-p3-highlight-unit-1);
        color: var(--accent-srgb-highlight-unit-1);
        color: var(--accent-p3-highlight-unit-1);
    }
    ul.units li:nth-of-type(1) a span.label {
        filter:
            drop-shadow(-1px 0 0 var(--accent-outline-unit-1))
            drop-shadow(1px 0 0 var(--accent-outline-unit-1))
            drop-shadow(0 -1px 0 var(--accent-outline-unit-1))
            drop-shadow(0 1px 0 var(--accent-outline-unit-1))
        ;
    }
    ul.units li:nth-of-type(1) a:hover {
        background-color: var(--accent-outline-unit-1);
    }
    ul.units li:nth-of-type(2) a {
        background-color: var(--accent-color-unit-2);
        border-color: var(--accent-srgb-highlight-unit-2);
        border-color: var(--accent-p3-highlight-unit-2);
        color: var(--accent-srgb-highlight-unit-2);
        color: var(--accent-p3-highlight-unit-2);
    }
    ul.units li:nth-of-type(2) a span.label {
        filter:
            drop-shadow(-1px 0 0 var(--accent-outline-unit-2))
            drop-shadow(1px 0 0 var(--accent-outline-unit-2))
            drop-shadow(0 -1px 0 var(--accent-outline-unit-2))
            drop-shadow(0 1px 0 var(--accent-outline-unit-2))
        ;
    }
    ul.units li:nth-of-type(2) a:hover {
        background-color: var(--accent-outline-unit-2);
    }
    ul.units li:nth-of-type(3) a {
        background-color: var(--accent-color-unit-3);
        border-color: var(--accent-srgb-highlight-unit-3);
        border-color: var(--accent-p3-highlight-unit-3);
        color: var(--accent-srgb-highlight-unit-3);
        color: var(--accent-p3-highlight-unit-3);
    }
    ul.units li:nth-of-type(3) a span.label {
        filter:
            drop-shadow(-1px 0 0 var(--accent-outline-unit-3))
            drop-shadow(1px 0 0 var(--accent-outline-unit-3))
            drop-shadow(0 -1px 0 var(--accent-outline-unit-3))
            drop-shadow(0 1px 0 var(--accent-outline-unit-3))
        ;
    }
    ul.units li:nth-of-type(3) a:hover {
        background-color: var(--accent-outline-unit-3);
    }
    ul.units li:nth-of-type(4) a {
        background-color: var(--accent-color-unit-4);
        border-color: var(--accent-srgb-highlight-unit-4);
        border-color: var(--accent-p3-highlight-unit-4);
        color: var(--accent-srgb-highlight-unit-4);
        color: var(--accent-p3-highlight-unit-4);
    }
    ul.units li:nth-of-type(4) a span.label {
        filter:
            drop-shadow(-1px 0 0 var(--accent-outline-unit-4))
            drop-shadow(1px 0 0 var(--accent-outline-unit-4))
            drop-shadow(0 -1px 0 var(--accent-outline-unit-4))
            drop-shadow(0 1px 0 var(--accent-outline-unit-4))
        ;
    }
    ul.units li:nth-of-type(4) a:hover {
        background-color: var(--accent-outline-unit-4);
    }

    ul.units li span.number {
        display: block;
        color: var(--background-color);
        font-family: 'Paix', sans-serif;
        font-size: 12rem;
        font-weight: 700;
        line-height: 100%;
        margin: 0;
        padding: 0;
        position: absolute;
            top: -3.6rem;
            left: -1.4rem;
        text-transform: uppercase;
        z-index: 0;
    }

    ul.units li:nth-of-type(1) span.number {
        filter:
                drop-shadow(-1px 0 0 var(--accent-color-unit-1))
                drop-shadow(1px 0 0 var(--accent-color-unit-1))
                drop-shadow(0 -1px 0 var(--accent-color-unit-1))
                drop-shadow(0 1px 0 var(--accent-color-unit-1))
        ;
    }
    ul.units li:nth-of-type(2) span.number {
        filter:
                drop-shadow(-1px 0 0 var(--accent-color-unit-2))
                drop-shadow(1px 0 0 var(--accent-color-unit-2))
                drop-shadow(0 -1px 0 var(--accent-color-unit-2))
                drop-shadow(0 1px 0 var(--accent-color-unit-2))
        ;
    }
    ul.units li:nth-of-type(3) span.number {
        filter:
                drop-shadow(-1px 0 0 var(--accent-color-unit-3))
                drop-shadow(1px 0 0 var(--accent-color-unit-3))
                drop-shadow(0 -1px 0 var(--accent-color-unit-3))
                drop-shadow(0 1px 0 var(--accent-color-unit-3))
        ;
    }
    ul.units li:nth-of-type(4) span.number {
        filter:
                drop-shadow(-1px 0 0 var(--accent-color-unit-4))
                drop-shadow(1px 0 0 var(--accent-color-unit-4))
                drop-shadow(0 -1px 0 var(--accent-color-unit-4))
                drop-shadow(0 1px 0 var(--accent-color-unit-4))
        ;
    }


</style>