---
import Layout from "../../layouts/Layout.astro";

import EssayHeader from "../../components/EssayHeader.astro";
import LongFormContent from "../../components/LongFormContent.astro";
import PageContent from "../../components/PageContent.astro";
---

<Layout>
	<main>
		<PageContent>
			<LongFormContent>
				<EssayHeader
					locationTag="The Ring of Fire"
					title="Arsenic Cycles Through Racism and Empire"
					byline="Jayson Maurice Porter"
				/>
				<p class="note">
					<!-- TODO: Figure out formatting -->
					A version of this paper was previously published in February 2024 in Smithsonian’s online magazine, Distillations https://www.sciencehistory.org/stories/magazine/rings-of-fire/. We are very grateful they have allowed us to republish it here.
				</p>
				<p>
					Arsenic is a byproduct of Earth bubbling from the inside out. Before there was life, and therefore before the possibility of
					toxicity, arsenic spewed from holes and crevasses in Earth’s crust and bonded with sulphur, iron, and other metals.
				</p>
				<p>
					Arsenic was an abundant and bioavailable nutrient for organisms that craved metal ions during the anaerobic stages of evolution.<sup class="note" id="note-ref-1"><a href="#note-1">1</a></sup>
					It offered biogeochemical pathways for organisms to survive in these environments without oxygen. Some of the earliest microbes
					on Earth evolved with arsenic released from volcanoes, plate tectonics and deep-sea vents.<sup class="note" id="note-ref-2"><a href="#note-2">2</a></sup>
					They breathed the stuff. It’s perhaps no coincidence, then, that arsenic sits in group 15 of the periodic table as a metalloid,
					dualistic in nature: metal and nonmetal, life giver and taker.
				</p>
				<p>
					Oxidised arsenic became toxic to most living things with the arrival of oxygen-breathing organisms around two billion years ago.
					During the Great Oxidation Event, cyanobacteria began to fill Earth’s atmosphere with oxygen. Life had to develop strategies to combat
					toxic elements, including arsenic (III), which oxidised into more bioavailable forms, such as arsenate (V). Given the ‘broad-scale
					sensitization of microbial life’ to arsenate, ‘protective mechanisms’ against the metalloid spread throughout the tree of life.<sup class="note" id="note-ref-3"><a href="#note-3">3</a></sup>
					Its toxicity now connects life through pathways of resistance.
				</p>
				<p>
					The cells of cyanobacteria, fungi, and plants share many things in common; one of them is an aversion to arsenic. Humans, like other
					animals, are also biologically wired to reject arsenic. However, our societies began to accept arsenic as an essential element for
					modern world-building during the Industrial Revolution. How these industrial societies transformed this geological byproduct into a
					source of economic and political power had a lot to do with who was exposed to the benefits of arsenic and who was exposed to its harm.
					In the Americas, unnatural arsenic exposure increased under settler colonialism and slavery.
				</p>
				<p>
					Arsenic contamination follows natural and unnatural pathways in the region. Geographically, arsenic deposits concentrated along the
					same geological processes that created the Pacific coastal rim of the Americas, from Alaska to Argentina. Millions of years of magmatic
					activity from the Ring of Fire volcanoes formed the concentration of arsenic deposits in Latin America, western Canada and the US West.<sup class="note" id="note-ref-4"><a href="#note-4">4</a></sup>
					Geologic time fused some arsenic to precious metals and weathered some from bedrock to river basins.
				</p>
				<p>
					Untold amounts of arsenic from these deposits have slowly seeped and eroded into river basins, mineral ores, and alluvial aquifers.
					While most living things on Earth evolved to resist trace amounts of arsenic, life in this part of the world has encountered even higher
					concentrations. Did the Ring of Fire and its countless arsenic deposits inform life and death in modern Latin America? Mummified bodies
					from Chile reveal that people have suffered chronic arsenic poisoning for at least 7,000 years.<sup class="note" id="note-ref-5"><a href="#note-5">5</a></sup>
				</p>
				<p>
					When hundreds of arsenic scientists and scholars met in Mexico City in 2006 to discuss 100 years of arsenic contamination in Latin America,
					they acknowledged naturally occurring arsenic as the principal culprit.<sup class="note" id="note-ref-6"><a href="#note-6">6</a></sup> They
					noted how colonial mining for silver and gold created new forms of contamination and exposure.<sup class="note" id="note-ref-7"><a href="#note-7">7</a></sup>
					However, they agreed that the historical and persistent use of arsenic pesticides was the region’s second primary source of arsenic contamination.
				</p>
				<p>
					In 500 years, the colonial unearthing of arsenic has continued to put selective pressure on certain organisms in the Americas. The realisation
					that arsenic killed many of the same pests that monoculture attracted to plantations transformed large-scale agriculture and the global arsenic
					cycle during the export boom in the Americas that lasted from the 1870s to 1930s. Across the hemisphere, planters and politicians looked to
					chemistry to maintain agricultural production and white supremacy during the gradual abolition of slavery.
				</p>
				<p>
					Mining has subsumed the afterlife of many volcanoes. After carrying metals to Earth’s crust, fusing them with arsenic and sulphur along the way,
					dormant volcanoes make a great substratum for mines. Around the turn of the twentieth century, the expansion of mining for semiprecious metals
					in the defunct volcanoes of Mexico and the US West was coupled with significant damage to the vegetation and animal life surrounding the smelters
					that extract metals from ores.<sup class="note" id="note-ref-8"><a href="#note-8">8</a></sup>
				</p>
				<p>
					After mines physically reduced forests into clearings and mountains into terraced valleys, these smelters used vast energy to further separate
					rock from metal and metal from byproducts, including sulphur and arsenic. As smelter waste, arsenic and sulphur were ‘driven off in the air’;
					they travelled for miles in every direction, contaminating waterways, killing animals and decimating farmland.<sup class="note" id="note-ref-9"><a href="#note-9">9</a></sup>
					Farmers on both sides of the border alerted authorities about arsenic in smelter fumes. Ranchers and foresters were concerned, too. But these
					concerns went unheeded at first. In 1902, just a year after the United States started collecting white arsenic in Mexico, at least thirty
					residents died and hundreds more were poisoned in Mapimí, Durango, when a mine’s smelter began leaking arsenic into the town’s water supply.<sup class="note" id="note-ref-10"><a href="#note-10">10</a></sup>
				</p>
				<p>
					Miners loathed arsenic. Smelters penalised them if the arsenic content of ores exceeded the percentage specified in the contract.<sup class="note" id="note-ref-11"><a href="#note-11">11</a></sup>
					Farmers and ranchers complaining about the environmental damages caused by arsenic-rich smelter fumes only gave miners another reason to hate
					arsenic. It diminished the worth of ores and increased the cost of mining.
				</p>
				<p>
					However, arsenic also held nuisance value from its capacity to cause harm.<sup class="note" id="note-ref-12"><a href="#note-12">12</a></sup>
					As Adam Romero argues, insecticides turned industrial byproducts into profits, agriculture a sink for toxic waste.<sup class="note" id="note-ref-13"><a href="#note-13">13</a></sup>
					During World War I, arsenic’s use in poisonous gases and explosives raised its price and convinced smelter operators to collect the element
					and sell it to chemical companies. After the war, many of these companies increasingly manufactured insecticides. The entire industry was
					fed on violence and racist ideas that black labour and Indigenous land also held ‘nuisance value’ – harmful unless controlled. American
					business interests pried these first-generation agrochemicals from Mexican and Indigenous lands then cast them at black sharecroppers and
					tenet farmers back home.
				</p>
				<p>
					Unlike many insecticides used today, arsenic-based insecticides, such as calcium arsenate, lead arsenate and sodium arsenite, cannot kill
					insects through contact alone. They must be eaten, chewed and digested before any insect keels over. And if they don’t taste good, insects
					won’t eat them. Arsenic poisoning is a nonstarter if the insect species doesn’t chew; it’s a miserable defence against mosquitos or scales.
					But contact can be hazardous for plants.
				</p>
				<p>
					Raw white arsenic, the base for all arsenic insecticides, is more effective as an herbicide than as an insecticide. Because arsenic’s
					phytotoxicity, or corrosive impact on plant tissues, makes it a tremendous weedkiller, farmers in the early twentieth century had to watch
					what they dusted. Soap- and nicotine-based concoctions were more common as insecticides for delicate crops, such as strawberries and tomatoes.
					For cotton growers, however, arsenic was king.
				</p>
				<p>
					Cotton (<i>Gossypium</i>), for all its softness, is not the least bit delicate and is ideal for arsenates. For one thing, cotton is a nonedible
					crop. For another, the cotton boll’s external shell protects its pillowy fibres as they develop. Once harvested, these fibres go through a great
					deal of processing before reaching consumers. These facts helped chemical promoters convince cotton planters to adopt arsenic poisons.
				</p>
				<p>
					As a historical product of harsh and inhumane conditions, the cotton plantation was readymade for additional harm. The settler notions that
					autonomous black labour and Indigenous land were harmful to the economics and politics of the United States helped justify the use of poison
					to maintain cotton production after slavery. Labour on cotton plantations remained predominantly black and marginalised by the time the boll
					weevil (<i>Anthonomus grandis</i>) arrived in the early 1920s. Weevil infestations destroyed a third of US cotton in 1921 and wiped out $600
					million in value (nearly $11 billion in today’s dollars). This calamity accelerated arsenic use to protect cotton profits and sustained
					mechanisms of controlling black labour and land-use patterns after slavery.<sup class="note" id="note-ref-14"><a href="#note-14">14</a></sup>
				</p>
				<p>
					The weevil was a funny-looking scapegoat for the decline of cotton profits. Its long snout is perfect for penetrating cotton bolls and
					hanging excuses for lousy behavior. Southern cotton planters did not blame the exhaustive nature of cotton plantations or the industry’s
					expansion into Northern Mexico for encouraging the weevil to cross into the United States; they criticised Mexico and Mexican farming practices.
				</p>
				<p>
					One writer described the weevil as an immigrant ‘mother [who] crossed the Rio Grande’ and raised a big family that “’has spread over a large
					area of the South’.<sup class="note" id="note-ref-15"><a href="#note-15">15</a></sup> Naming it the ‘Mexican cotton boll weevil’ was as
					derogatory as it was etymological.<sup class="note" id="note-ref-16"><a href="#note-16">16</a></sup> Depending on the year, between fifty and
					75 per cent of the arsenic used to combat weevils in the United States came from mines in Mexico. But did Mexico get any credit for providing
					the modern chemical ‘solution’? No.
				</p>
				<p>
					For cotton planters, blaming Mexico for weevils was easy, but there was no consensus on how to address the issue. Howard Ambruster, author of
					<i>Arsenic, Calcium Arsenate, and the Boll Weevil</i> (1923), believed that ‘in the last twenty years, there have probably been more official
					and private controversies in the South about the best way to handle the boll weevil than there were about the slavery question and the Civil
					War’.<sup class="note" id="note-ref-17"><a href="#note-17">17</a></sup>
				</p>
				<p>
					Black people made a more common scapegoat for the failures of the South. Anti-black racism was at the heart of many controversies regarding
					arsenic use on cotton fields. Politicians and planters often disagreed on how to endorse insecticide use with black labour. Some cotton planters
					blamed the weevil for reducing opportunities for black farmers to grow cotton economically. They saw the cost of arsenates as more of a barrier
					for black sharecroppers than the poor prices they received for their cotton. Rather than blame the rise of the Ku Klux Klan or racist
					restrictions on black land ownership, some white Southerners accused the weevil of forcing black people off the land.<sup class="note" id="note-ref-18"><a href="#note-18">18</a></sup>
				</p>
				<p>
					In 1925 a researcher for the army’s Chemical Warfare Service wrote that a black family with twenty acres could afford to poison their fields
					if they harvested 250 pounds of cotton per acre. But white landowners rarely allowed black families to hold the most productive land. After the
					peak of black farming between 1910 and 1920, anti-black policymakers and organised criminals such as the Ku Klux Klan steadily worked to
					eliminate black land ownership altogether.
				</p>
				<p>
					As if black people did not have enough to fear, many planters ignored their concerns over using arsenic. To mask and dilute the poison, one
					Arkansas planter suggested mixing arsenic with molasses because ‘the weevil and the negro both like it’.<sup class="note" id="note-ref-19"><a href="#note-19">19</a></sup>
					He wasn’t alone in his thinking. One of the largest cotton holders from South Carolina, David R. Coker, argued before Congress that using
					young black children to apply molasses-arsenic spray was the most effective way to combat the weevil.<sup class="note" id="note-ref-20"><a href="#note-20">20</a></sup> Coker furiously advocated for more
					arsenic solutions, with little care for black life and health from his seat on the National Boll Weevil Control Association.<sup class="note" id="note-ref-21"><a href="#note-21">21</a></sup>
				</p>
				<p>
					While equal in their disregard for black folks’ health, many planters did not believe black farmers could use arsenic properly. They thought
					and felt entitled to say that the ‘negro tenant and sharecroppers [did] not know how to dust, cannot dust, and will not dust as
					directed’.<sup class="note" id="note-ref-22"><a href="#note-22">22</a></sup> They used innumerable phrases and stereotypes to convince themselves
					that black people were not intelligent enough to poison fields. Some even suggested that since the ‘intelligent’ black folks fled north, the
					remaining population wasn’t smart enough to use arsenic.
				</p>
				<p>
					For Ambruster, the leading expert on calcium arsenate use against boll weevils, the education of Southern black people was as big an obstacle to
					the insecticide industry as chemical engineering and marketing. He did not trust black farmers to educate themselves. He suggested the government
					and chemical companies teach black folks how to use arsenic. In 1920 the US Department of Agriculture made a film to show planters how to teach
					their black field hands.<sup class="note" id="note-ref-23"><a href="#note-23">23</a></sup> A few years later, the Armour Chemical Company of
					Chicago and Georgia conducted a year-long experiment to see if black farmers could cultivate cotton with calcium arsenate.
				</p>
				<p>
					The experiment was an exercise in authority and control. The company, in the words of the <i>Atlanta Constitution</i>, ‘took the attitude toward
					its sharecroppers and colored tenants that any sensible landlord ought to take’. The chief of research gave 72 black sharecroppers and tenant
					farmers orders, and they ‘either had to follow them or get out’.<sup class="note" id="note-ref-24"><a href="#note-24">24</a></sup>
				</p>
				<p>
					The demands were numerous. The company forced the farmers to use specific varieties of cotton and at least 500 pounds of fertiliser per acre.
					Planting had to start at designated times and in defined ways. The company gave each farmer an arsenate duster, taught them how and when to
					use it, and provided enough poison for the year.<sup class="note" id="note-ref-25"><a href="#note-25">25</a></sup>
				</p>
				<p>
					The chief researcher acknowledged that farmers enjoyed their harvests more than the constant oversight, but controlling production was just
					as crucial as controlling black farmers. It was not by accident that the only three farmers who did not improve their harvests failed on account
					of being imprisoned. The company tried to debunk racist notions that black people couldn’t use agrochemicals with the equally racist idea that
					black farmers needed constant surveillance. Armour’s demonstration was a violent act of social control that put black lives and land at risk.<sup class="note" id="note-ref-26"><a href="#note-26">26</a></sup>
				</p>
				<p>
					While volcanic eruptions infrequently release tons of arsenic into the atmosphere, capitalist interests within the United States disrupted the
					arsenic cycle like a volcano erupting on repeat. Instead of rising magma causing these eruptions, the imperial and racial relations of agrochemical
					expansion set these new arsenic cycles into motion.
				</p>
				<p>
					From 1870 to 1914, arsenic was one of the essential substances that connected the Age of Empire and the Second Industrial Revolution. It is
					unlikely life on Earth has been subjected to this degree of chronic and widespread arsenic exposure since the Great Oxidation Event. But not
					all life on Earth; the selective pressure of arsenic exposure disproportionately impacted Latin America, where arsenic exposure reached new
					heights while following newly established pathways during the region’s so-called ‘export boom’ from 1870 to 1930.<sup class="note" id="note-ref-27"><a href="#note-27">27</a></sup>
					This era witnessed the expansion of foreign-owned plantation economies to produce sugar, coffee, rubber and other goods for export to the
					United States and Europe.
				</p>
				<p>
					Agrochemical arsenic has traveled with settler colonialism and the US empire since the 1870s. During Western expansion in the United States,
					settlers turned to Paris green (copper [II] acetoarsenite) to combat the Colorado potato beetle (<i>Leptinotarsa decemlineata</i>) in the 1860s
					and Rocky Mountain locust (<i>Melanoplus spretus</i>) in the 1870s. Settlers from Kansas to Nebraska used so much Paris green to combat the
					great locust swarms of 1874–1875 that they eventually drove the entire species into extinction.
				</p>
				<p>
					Arsenic served as an extension of US empire into many regions. In addition to maintaining the political economy of unjust cotton production
					in the South, arsenic helped US leaders spread the politics of agrochemical use throughout the Americas. Concurrent with US cotton planters’
					actions in the post-emancipation South, planters across the Americas started introducing arsenic into their export-oriented plantations and
					orchards.
				</p>
				<p>
					The association between arsenic and empire exploded in the early 1920s. The British maintained a global arsenic network that tied colonies
					and cotton together. They sequestered raw arsenic in Canada, South Africa, Australia and Rhodesia, refined it in the United Kingdom and
					exported it to Hong Kong, New Zealand and India.<sup class="note" id="note-ref-28"><a href="#note-28">28</a></sup>
				</p>
				<p>
					The United States relied on geological deposits in the northeastern edge of the Ring of Fire but quickly outpaced the British arsenic empire.
					US companies, including the American Smelting and Refining Company (ASARCO) and the American Metals Company, owned some of the most profitable
					mines in Mexico. They began selling raw white arsenic duty-free to a dozen or so chemical companies that manufactured insecticides, exporting
					it by boat from the Port of Tampico or by rail through Laredo or El Paso.<sup class="note" id="note-ref-29"><a href="#note-29">29</a></sup>
				</p>
				<p>
					The United States imported only 272 tons of arsenic in 1922, though the quantity jumped to 1,402 tons in 1923 and 2,551 tons in 1924.<sup class="note" id="note-ref-30"><a href="#note-30">30</a></sup>
					For the next two decades, US companies imported between 8,500 and 13,000 tons of arsenic annually, amounting to more than three-fourths of
					all arsenic processed in the United States. Together, the cotton-arsenate nexus quickly made the United States and Mexico the two largest
					arsenic producers in the world.<sup class="note" id="note-ref-31"><a href="#note-31">31</a></sup>
				</p>
				<p>
					Arsenical insecticides helped US business interests extend farther into Latin America. With a new surplus of arsenic in North America, ASARCO
					and other US companies established agrochemical trade networks across Central and South America to sell lead arsenate and calcium arsenate for
					cotton and fruit cultivation. Before the rise of DDT during the Green Revolution, planters in Brazil, Colombia, Argentina, El Salvador, and
					Nicaragua purchased tons of US arsenates between 1937 and 1944. In the aftermath of World War II, US foreign policy built on these arsenical
					channels to further export chemical- and capital-intensive modes of industrial agriculture.
				</p>
				<p>
					Like agrochemical racism in the United States, agrochemical inequality in US foreign policy was born in the nineteenth century. US and Mexican
					government officials collaborated on pest management as a form of border management in the 1890s. The first walls erected on the US-Mexico
					border in 1911 aimed to quarantine cattle ticks. But in the context of the Mexican Revolution (1910–1920), these fences were intended to
					keep out more than cattle and ticks.
				</p>
				<p>
					US border officials adopted policies for spraying harmful disinfectants on Mexican crops and migrant workers entering the United States. Chemicals
					enabled the United States to extend white supremacist practices into Mexico and on the border. US officials determined why and how Mexican
					labourers would be disinfected and expected Mexicans to defer. If Mexican vegetable packers did not spray crops just as US officials taught
					them, then border officials could reject the produce. Even if Mexicans followed orders, US officials could refuse to pay a fair price.<sup class="note" id="note-ref-33"><a href="#note-33">33</a></sup>
				</p>
				<p>
					The US-Mexican arsenic cycle also influenced why the Green Revolution started in Sonora, Mexico. While a surplus of agricultural products led
					to plummeting prices in most of the United States in the 1920s, the US-Mexican borderlands witnessed sustained population growth in California,
					Arizona, Sonora and Sinaloa. California’s agricultural expansion was the driving force behind this development. Still, it relied heavily on
					experiments with arsenic-based insecticides performed elsewhere.
				</p>
				<p>
					California landholders and the US Department of Agriculture conducted a series of tests in Sinaloa in the late 1920s and early 1930s to determine
					how best to use arsenic on tomatoes and which cotton varieties grew best in the area. Following models from the US South, Californians toyed
					with aerial dusting in Sinaloa as early as 1926.<sup class="note" id="note-ref-34"><a href="#note-34">34</a></sup> However, Californians often
					experimented with more significant quantities of arsenic in Sinaloa than they would at home, helping establish a pattern of agricultural practices
					in Mexico that would be unacceptable in the United States. And despite blaming Mexico for the cotton boll weevil, Californian interests occasionally
					introduced agricultural pests from California into Mexico and took no responsibility.<sup class="note" id="note-ref-35"><a href="#note-35">35</a></sup>
				</p>
				<p>
					The arsenic-cotton nexus helped normalise agrochemical use. By 1969, 27 of Mexico’s 45 insecticide-producing enterprises were in cotton-producing
					regions.<sup class="note" id="note-ref-36"><a href="#note-36">36</a></sup> The same areas of Sinaloa dedicated to arsenic experiments in the 1920s
					and 1930s experienced acute poisonings from subsequent generations of insecticides in the 1970s and 1980s. The pioneering study <i>Circle of Poison</i>
					(1981) highlighted Sinaloa as a site of widespread US-driven agrochemical violence and proved the state held one of the world’s highest pesticide
					poisoning rates.<sup class="note" id="note-ref-37"><a href="#note-37">37</a></sup> Doctors who tended to workers growing tomatoes for US consumption
					witnessed two to three poisonings a week from exposure to pesticides. Another report in Mexico suggested that nearly one Indigenous migrant farmer
					died every day from pesticide exposure.<sup class="note" id="note-ref-38"><a href="#note-38">38</a></sup>
				</p>
				<p>
					Although the agrochemical culprit was no longer arsenic, the historical pattern of imperial and racialised arsenic cycles persisted as a defining
					factor in the social nature of agrochemical inequalities. Arsenic helped US officials assert control over Mexican counterparts and informed power
					imbalances between the United States and Mexico that persist today. As of 2019, US companies continue to manufacture and export to Sinaloa more
					than 100 agrochemicals that are illegal to use in the United States.<sup class="note" id="note-ref-39"><a href="#note-39">39</a></sup>
				</p>
				<p>
					Despite its lower market share since the 1940s, arsenic did not simply go away. Arsenic maintained the first and longest monopoly over the insecticide
					industry, and it never fully relinquished its influence. This is partially because arsenic contamination persists in soil and water for generations,
					but it is also due to its persistent use as a preservative and herbicide. Railroads and telephone companies still favour arsenic (chromated copper-arsenate)
					as a wood preservative on railroad ties and utility poles.<sup class="note" id="note-ref-40"><a href="#note-40">40</a></sup> During the Vietnam War,
					the US military sprayed an organic arsenic herbicide called Agent Blue (cacodylic acid) on nearly 400,000 hectares of mangrove forests and rice paddies.
					The commercial form of Agent Blue was so profitable and useful on cotton fields, golf courses and backyards that the EPA deregulated it in 2004.
					Five years later the agency reversed course and announced it would phase out organic arsenic pesticides by 2013, with the exception of MSMA (monosodium methanearsonate),
					an herbicide used on cotton plantations.<sup class="note" id="note-ref-41"><a href="#note-41">41</a></sup>
				</p>
				<p>
					Biogeochemist Stephen Porder argues in <i>Elemental</i> (2023) that humans’ relationships with the elemental cycles most important to life – hydrogen,
					oxygen, carbon, nitrogen, and phosphorus – have shaped Earth’s past and future. We haven’t yet figured out how to enjoy the benefits of our innovations
					without paying the costs of their harmful byproducts.<sup class="note" id="note-ref-42"><a href="#note-42">42</a></sup> Arsenic shares a kinship with
					two of those life-affirming elements on the periodic table, nitrogen and phosphorus. Could something similar be said for the cycles of elements that
					became most toxic to life, such as arsenic?
				</p>
				<p>
					The disruption of the global arsenic cycle since the nineteenth century has left a legacy of environmental violence across the Americas.<sup class="note" id="note-ref-43"><a href="#note-43">43</a></sup>
					American exceptionalism rarely exists, but the Americas – and the United States in particular – have played an exceptional part in the spread and
					standardisation of agrochemical use.
				</p>
				<p>
					Naturally occurring arsenic in the Ring of Fire set the geological stage for its unnatural extraction and extension, but arsenic contamination zones
					are no longer geological facts alone; many are the historical and living remnants of US empire and racism.
				</p>
				<hr />
				<h2>Notes</h2>
				<ol>
					<li id="note-1">
						Hunter 2008. <a href="#note-ref-1">&crarr;</a>
					</li>
					<li id="note-2">
						Although it was highly debated, in 2010, scientists thought they discovered microbes in California building parts of themselves with arsenic,
						which begged the question: what is the role of arsenic in the formation of life itself. Wolfe-Simon et al 2011. <a href="#note-ref-2">&crarr;</a>
					</li>
					<li id="note-3">
						Fru Chi et al 2015.  <a href="#note-ref-3">&crarr;</a>
					</li>
					<li id="note-4">
						Masuda 2018. <a href="#note-ref-4">&crarr;</a>
					</li>
					<li id="note-5">
						Arriaza et al. 2010. <a href="#note-ref-5">&crarr;</a>
					</li>
					<li id="note-6">
						McClintock et al. 2021. <a href="#note-ref-6">&crarr;</a>
					</li>
					<li id="note-7">
						Torres 2023. <a href="#note-ref-7">&crarr;</a>
					</li>
					<li id="note-8">
						Haywood 1909: 43, Swain and Harkins 1909: 43, ‘Arsenic Production’ 1908: 10. <a href="#note-ref-8">&crarr;</a>
					</li>
					<li id="note-9">
						Lindgren 1909: 524. <a href="#note-ref-9">&crarr;</a>
					</li>
					<li id="note-10">
						<i>The Atlanta Constitution</i> 1902, 1. <a href="#note-ref-10">&crarr;</a>
					</li>
					<li id="note-11">
						Michael 1922. <a href="#note-ref-11">&crarr;</a>
					</li>
					<li id="note-12">
						Merriam-Webster defines nuisance value as ‘value, importance, or usefulness arising from a capacity to annoy, frustrate, harass, or injure’. <a href="#note-ref-12">&crarr;</a>
					</li>
					<li id="note-13">
						Romero 2021. <a href="#note-ref-13">&crarr;</a>
					</li>
					<li id="note-14">
						<i>Wall Street Journal</i> 1923. <a href="#note-ref-14">&crarr;</a>
					</li>
					<li id="note-15">
						Leffman, 1923, <i>Book Reviews</i> 1924: 430; Banks 1982: 8. <a href="#note-ref-15">&crarr;</a>
					</li>
					<li id="note-16">
						Howard 1896: 5. <a href="#note-ref-16">&crarr;</a>
					</li>
					<li id="note-17">
						Ambruster 1923: 13. <a href="#note-ref-17">&crarr;</a>
					</li>
					<li id="note-18">
						Leffman 1923: 430. <a href="#note-ref-18">&crarr;</a>
					</li>
					<li id="note-19">
						Alexander 1922. <a href="#note-ref-19">&crarr;</a>
					</li>
					<li id="note-20">
						Hearings Before Subcommittee of House Committee on Appropriations 1928): 586. <a href="#note-ref-20">&crarr;</a>
					</li>
					<li id="note-21">
						<a href="https://digital.library.sc.edu/exhibits/coker/battling-the-boll-weevil/ " target="_blank" rel="noopener noreferrer">https://digital.library.sc.edu/exhibits/coker/battling-the-boll-weevil/</a> <a href="#note-ref-21">&crarr;</a>
					</li>
					<li id="note-22">
						<i>The Atlanta Constitution</i>: 1924. <a href="#note-ref-22">&crarr;</a>
					</li>
					<li id="note-23">
						The USDA film was called <i>Good-Bye Boll Weevil</i> (1920), Williams 2018. <a href="#note-ref-23">&crarr;</a>
					</li>
					<li id="note-24">
						<i>The Atlanta Constitution</i>: 1924. <a href="#note-ref-24">&crarr;</a>
					</li>
					<li id="note-25">
						Ibid. <a href="#note-ref-25">&crarr;</a>
					</li>
					<li id="note-26">
						Ibid. <a href="#note-ref-26">&crarr;</a>
					</li>
					<li id="note-27">
						Conde 1992. <a href="#note-ref-27">&crarr;</a>
					</li>
					<li id="note-28">
						<i>The Mineral Industry of the British Empire and Foreign Countries</i> 1923: 1–3. <a href="#note-ref-28">&crarr;</a>
					</li>
					<li id="note-29">
						<i>Tariff Readjustment 1929</a>: 7646,  Tyler and Peter 1934: 28. <a href="#note-ref-29">&crarr;</a>
					</li>
					<li id="note-30">
						Franke 1939. <a href="#note-ref-30">&crarr;</a>
					</li>
					<li id="note-31">
						Tyler and Peter 1934: 13. <a href="#note-ref-31">&crarr;</a>
					</li>
					<li id="note-32">
						‘White Arsenic’ 1946: 2. <a href="#note-ref-32">&crarr;</a>
					</li>
					<li id="note-33">
						Porter, 2018. <a href="#note-ref-33">&crarr;</a>
					</li>
					<li id="note-34">
						Morrill 1926, Morrill 1925. <a href="#note-ref-34">&crarr;</a>
					</li>
					<li id="note-35">
						Morrill 1925. <a href="#note-ref-35">&crarr;</a>
					</li>
					<li id="note-36">
						Hertford 1971: 21. <a href="#note-ref-36">&crarr;</a>
					</li>
					<li id="note-37">
						Weir and Shapiro 1981. <a href="#note-ref-37">&crarr;</a>
					</li>
					<li id="note-38">
						Mártinez 1984. <a href="#note-ref-38">&crarr;</a>
					</li>
					<li id="note-39">
						Castillo 2019. <a href="#note-ref-39">&crarr;</a>
					</li>
					<li id="note-40">
						Parascandola 2012: 139.<a href="#note-ref-40">&crarr;</a>
					</li>
					<li id="note-41">
						Bencko and Yan Li Foong 2017: 313. <a href="#note-ref-41">&crarr;</a>
					</li>
					<li id="note-42">
						Porder 2023: 115. <a href="#note-ref-42">&crarr;</a>
					</li>
					<li id="note-43">
						This thinking on the anthropological disruptions of key elemental cycles on earth is inspired by Porder 2023 and Liboiron 2021. <a href="#note-ref-43">&crarr;</a>
					</li>
				</ol>
				<hr />
				<h2>References</h2>
				<ul>
					<li>
						Alexander, S.C. 1922. ‘He Finds Molasses-Arsenate Treatment Effective’. <i>New Commerce and Finance</i>: 1061–62.
					</li>
					<li>
						Ambruster, Howard W. 1923. <i>Arsenic, Calcium Arsenate, and the Boll Weevil</i>. New York: Barr-Erhardt Press.
					</li>
					<li>
						Arriaza, Bernado et al. 2010. ‘Exploring Chronic Arsenic Poisoning in pre-Columbian Chilean Mummies’. <i>Journal of Archaeological Science</i> 37: 1274–78.
					</li>
					<li>
						‘Arsenic Production’. 1980. <i>The Mexican Mining Journal</i> (Jan.): 10.
					</li>
					<li>
						Banks, Vera. 1982. ‘Black Farmers and Their Farms’. <i>Rural Development Research Report</i>, 59.
					</li>
					<li>
						Bencko, Vladimir and Florence Yan Li Foong. 2017. ‘The History of Arsenical Pesticides and Health Risks Related to the use of Agent Blue.’ <i>Annals of Agricultural and Environmental Medicine</i>.
					</li>
					<li>
						Bundschuh, Jochen et al. 2021. ‘Arsenic in Latin America: New Findings on Source Mobilization and Mobility in Human Environments in 20 Countries Based on Decadal Research, 2010–2020’. <i>Environmental Science and Technology</i> 51: 1727–1865.
					</li>
					<li>
						Cabrera Mártinez, Javier. 1984. ‘350,000 jornaleros e indígenas, víctimas constantes de los plaguicidas, en Sinaloa’. <i>El Universal</i>, 10 March.
					</li>
					<li>
						Castillo, Karen. 2019. ‘111 Pesticides Banned in Other Countries Are Used in Mexico’. <i>The Mazatlán Post</i>, 3 June.
					</li>
					<li>
						Conde, Roberto Cortes. 1992. ‘Export-Led in Latin America: 1870–1930’. <i>Journal of Latin American Studies</i> 24: 163–79.
					</li>
					<li>
						Franke, Herbert A. 1939. ‘Arsenic and Bismuth’. <i>Minerals Yearbook</i> 1938: 626–29.
					</li>
					<li>
						Fru Chi, Ernest al. 2015. ‘Arsenic Stress after the Proterozoic Glaciations’. <i>Scientific Reports</i>.
					</li>
					<li>
						Haywood, J.K. 1909. ‘Injury to Vegetation and Animal Life by Smelter Wastes’. <i>Chemical Abstracts</i> <b>3</b> (Jan–Mar): 43.
					</li>
					<li>
						Hertford, Reed. 1971. <i>Sources of Change in Mexican Agricultural Production, 1940–1965</i>. USDA.
					</li>
					<li>
						House Committee on Appropriations, Congress. 1928. ‘Hearings Before Subcommittee of House Committee on Appropriations’. US Government Printing Office.
					</li>
					<li>
						Howard, L.O. 1896. ‘The Mexican Cotton-Boll Weevil (<i>Anthonomus grandis</i>)’. US Department of Agriculture.
					</li>
					<li>
						Hunter, Philip. 2008. ‘A Toxic Brew We Cannot Live Without. Micronutrients Give Insights into the Interplay between Geochemistry and Evolutionary Biology’. <i>EMBO Reports</i>.
					</li>
					<li>
						Leffman, Henry. 1924. ‘Review of <i>Arsenic, Calcium Arsenate, and the Boll Weevil</i> (1923)’. <i>Book Reviews</i>.
					</li>
					<li>
						Liboiron, Max. 2021. <i>Pollution is Colonialism</i>. Durham, NC: Duke University Press.
					</li>
					<li>
						Lindgren, W. 1909. ‘Resources of the United States in Gold, Silver, Copper, Lead, and Zinc’. <i>Report of the National Conservation Commission</i> 3: 524.
					</li>
					<li>
						Masuda, H. 2018. ‘Arsenic Cycling in the Earth's Crust and Hydrosphere: Interaction between Naturally Occurring Arsenic and Human Activities’. <i>Progress in Earth and Planetary Science</i>: 2
					</li>
					<li>
						McClintock, Tyler R. et al. 2012. ‘Arsenic Exposure in Latin America: Biomarkers, Risk Assessments and Related Health Effects’. <i>Science of the Total Environment</i> <b>429</b> (July): 76–91.
					</li>
					<li>
						Michael, Paul 1922. ‘Startling Situation Appears as to Supply of White Arsenic’. <i>The Atlanta Constitution</i>, 27 Nov.
					</li>
					<li>
						Morrill, A.W. 1926. ‘Airplane Dusting for the Control of Vegetable Pests on the Mexican West Coast’. <i>Journal of Economic Entomology</i> <b>19</b> (October): 696–99.
					</li>
					<li>
						Morrill, A.W. 1925. ‘Commercial Entomology on the West Coast of Mexico’. <i>Journal of Economic Entomology</i> <b>18</b> (October): 707–16.
					</li>
					<li>
						Parascandola, John. 2012. <i>Kings of Poisons: A History of Arsenic</i>. Lincoln, NE: University of Nebraska.
					</li>
					<li>
						Porder, Stephen. 2023. <i>Elemental: How Five Elements Changed Earth’s Past and Will Shape Our Future</i>. Princeton, NJ: Princeton University Press.
					</li>
					<li>
						Porter, J.M. 2018. ‘Plagas, pesticidas y ciencias agrícolas entre revoluciones’. <i>Boletín FAPECFT</i> <b>89</b> (Sept.–Dec.): 8–10.
					</li>
					<li>
						Romero, Adam M. 2021. <i>Economic Poisoning: Industrial Waste and the Chemicalization of American Agriculture</i>. Berkeley: University of California Press.
					</li>
					<li>
						Swain, R.E. and W.D. Harkins. 1909. ‘Arsenic in Vegetation Exposed to Smelter Smoke’. <i>Chemical Abstracts</i> <b>3</b> (Jan.–March): 43.
					</li>
					<li>
						<i>Tariff Readjustment–1929: Hearings before the Committee on Ways and Means</i>. 1929. United States. Congress. House. Committee on Ways and Means US Government Printing Office.
					</li>
					<li>
						<i>The Atlanta Constitution</i>. 1902. ‘Arsenic in the Water Poisons over Four Hundred Persons’. 8 Sept., 1.
					</li>
					<li>
						<i>The Atlanta Constitution</i>. 1924. ‘Negroes Can Successfully Fight the Boll Weevil: Interesting Experiment by Armour Fertilizer Company in Georgia’. 3 Feb.
					</li>
					<li>
						<i>The Mineral Industry of the British Empire and Foreign Countries, Statistics, 1919–1921–Arsenic</i>. 1923. HMSO.
					</li>
					<li>
						Torres, James V. 2023. ‘Capitalism and Global Mining: Latin American Perspectives, 1500–1914’. <i>Histórica Crítica</i> <b>89</b> (July): 56–57.
					</li>
					<li>
						Tyler, Paul M. and Alice V. Peter. 1934. <i>Arsenic</i>. US Government Printing Office.
					</li>
					<li>
						US Department of Commerce. 1946. ‘White Arsenic’. May.
					</li>
					<li>
						<i>Wall Street Journal</i>. 1923. ‘Cotton Production Faces Shortage of White Arsenic’. 3 Jan.
					</li>
					<li>
						Weir, David and Mark Shapiro. 1981. <i>Circle of Poison: Pesticides and People in a Hungry World</i>. Oakland, CA: Food First Books.
					</li>
					<li>
						Williams, Brian S. 2018. Cotton, Chemicals, and the Political Ecologies of Racial Capitalism. Ph.D. diss. Geography, University of Georgia.
					</li>
					<li>
						Wolfe-Simon, Felisa et al. 2011. ‘A Bacterium that Can Grow by Using Arsenic Instead of Phosphorus’. <i>Science</i> 332 (6034): 1163–66.
					</li>
				</ul>
			</LongFormContent>
		</PageContent>
	</main>
</Layout>
