---
import Layout from "../../layouts/Layout.astro";

import EssayHeader from "../../components/EssayHeader.astro";
import LongFormContent from "../../components/LongFormContent.astro";
import PageContent from "../../components/PageContent.astro";
import PageHeader from "../../components/PageHeader.astro";
---
<Layout>
	<main>
		<PageContent>
			<LongFormContent>
				<EssayHeader
					locationTag="Under the electron microscope, Lehmann Lab, Cornell University, New York"
					title="Behaviour instead of Identity: Functional Complexity of Organic Matter as an Organising Principle in Soil Ecosystems"
					byline="Johannes Lehmann"
				/>
				<p>
					Organic matter in soil possesses an enduring allure. This is not only because soil
					houses the largest pool of carbon in terrestrial ecosystems – more than all plants
					on earth and the global atmosphere together. Nor is it solely because organic
					matter is the most important indicator of soil’s health. Organic matter is also
					alluring because it escapes easy characterisation. After centuries of scientific
					investigation, the research community is still arguing about what comprises
					organic matter in soil and why it exists in the first place. The prevailing no-
					tion (even though specialised textbooks begin to change their treatment of
					the subject) is that soil organic matter consists of humus composed of various
					forms of humic substances and that the identity of these humic substances
					determines a particular soil’s behaviour. Here I critique the idea of ‘humus’
					and the focus on identity that goes along with that idea in favour of a focus on
					behaviour. Such a shift in perspective allows fundamental questions to be asked
					about the role of functional complexity between (rather than the identity of )
					constituents in soils as well as interactions in ecosystems in general, including
					in the human societies.
				</p>
				<p>
					In this essay I argue that our questions also hold on to outdated notions of
					soil: when we ask ‘how can we stop losing organic matter?’ or ‘how can we add
					more organic carbon to sequester atmospheric carbon dioxide?’ we are mobilising
					an idea of soil as being controlled by a specific chemical identity (i.e., humus)
					that does not correspond to how soil actually works. I posit that the behaviour
					of soil organic matter determines its identity, not the other way round.
				</p>
				<p>
					A leaf added to a Petri dish mixed with soil microorganisms in the lab de-
					composes remarkably quickly: within days or weeks, the organic carbon in that
					leaf is fully turned into carbon dioxide. In contrast, the same organic carbon
					atom from that leaf added to an actual plot of soil may remain detectable in
					that soil as an organic compound for millennia. What explains this dramatic
					difference? The historical explanation was ‘humification’. Humification was the
					process by which microorganisms in soil eat (a scientist would say ‘metabolise’)
					small bits and pieces of decomposing plant residues to make large and complex
					molecules (containing many different chemical bonds). In older textbooks these
					newly-made molecules are called ‘humic substances’. And scientists surmised
					that these humic substances (in some theories, together with ‘non-humic sub-
					stances’) comprise ‘humus’. Such ‘humic substances’ accrue over time in soil
					because they are recalcitrant in both their size and chemical composition: too
					big or too ‘complex’ in their identity to be eaten by microorganisms.
				</p>
				<p>
					Despite its popularity, there were always conceptual and analytical challenges
					to the humic paradigm: why would microorganisms invest energy in making
					these large and complex molecules? It made no ecological sense. Secondly,
					the proof that humic substances existed and their quantification and isolation
					rested solely on the fact that they were soluble and extractable in an alkaline
					solution (Kleber and Lehmann 2019) An extraction is a process whereby
					a certain proportion of matter is brought into solution for further analysis.
					Think of your tea or coffee, which are extracts of tea leaves or coffee beans.
					Not all the tea leaves or beans are in the solution, just whatever is soluble in
					hot water that we drink. Some of the tea leaves or coffee grounds remain in
					the tea bag or filter paper. This is in some ways selective (only what is soluble
					in hot water) and at the same time general (a lot of different molecules in a
					tea leaf are soluble in hot water). Extraction on its own may therefore not be a
					suitable approach for defining a substance (as done using an alkaline extraction
					to define ‘humic substances’).
				</p>
				<p>
					The history of humic substances research is long and not in all its facets
					sufficiently explored. It is generally assumed that Carl Friedrich Achard is the
					scientist who came up with the approach of using alkali solution to extract
					organic matter from soil in the late eighteenth century (Achard 1786). Achard
					was actually only interested in examining the value of peat as a fuel, and did
					not use the method he came up with to define humic substances. That came
					decades later and we do not need to go into further detail here about how the
					method of extraction became the definition of humic substances.
				</p>
				<p>
					With the onset of modern spectroscopy and spectromicroscopy, which allowed
					us to look more closely into soil, it became clear that we did not need the notion
					of humic substances to explain soil organic matter. It was sufficient to consider
					known decomposition products from soil biota. With the tools of spectroscopy
					and microscopy, we could observe that soil is a complex mixture of compounds
					that microorganisms make (their own biomass, exudates, enzymes, etc.). We could
					now understand the reason for their production as a result of a living microbial
					population, of the need to make enzymes to access nutrients and carbon or to
					get rid of toxic material, not as a new substance for which the ecological reason
					remains unexplained. Furthermore, ‘humic substances’ as defined by extraction
					using alkali solution do not exist at the molecular scale at which they should occur
					(Lehmann et al. 2008). When we looked for evidence of the chemical signature
					of what can be extracted by an alkali solution (and what is then called ‘humic
					substance’) with an electron microscope, we came up empty-handed.
				</p>
				<p>
					Why is it important to know whether ‘humic substances’ exist or not? If the
					recalcitrance of a substance (as in, its ability to resist being eaten by microorganisms
					because of its chemical structure, as described for ‘humic substances’) is not the
					reason for the accumulation of organic carbon in soil, what is? Finding the answer to
					this question helps us also understand how to better manage and care for our soils.
				</p>
				<p>
					Given contemporary biogeochemical evidence, we should rather think of soil as a spatially
					and compositionally highly complex ecosystem that is constantly in flux, where temperature
					and moisture change all the time and often change rapidly. Organic carbon can accrue because
					it is not metabolised to carbon dioxide, and not because it cannot be metabolised (Lehmann
					et al. 2020). Such a shift in thinking would mean that we cannot truly ‘sequester’ or
					‘lock up’ carbon in soil, akin to using a key that locks a door to store our carbon,
					and walk away – but have to instead adopt a notion of ‘constant care’ (Janzen 2024),
					whereby we curate the inputs and outputs from the soil. This is what Henry Janzen
					(2024) calls ‘stewardship’. By adding more carbon and losing less, we maintain or
					possibly increase the organic matter in soil that is truly a flow-through reactor
					of transient carbon rather than a storage container of static carbon (Figure 1).
				</p>
				<div>
					Figure 1. Bathtub analogy of why there is soil organic carbon as a balance between
					input (plant input of photosynthetically fixed carbon) and output (carbon dioxide).
					Soil organic carbon can flow out of the bathtub in principle, but it does not, because
					the pipe going out is controlling the output.
					[alt text: sketch of a bathtub indicating carbon input into and output from soil]
				</div>
				<p>
					Another important aspect that must be reassessed when questioning extracted ‘humic substances’
					is that an ‘average soil’ does not exist. Using very fine-scale investigation with the help of
					synchrotron radiation (in essence a very powerful electron microscope that not only gives us the spatial
					features of soil at 10s of nanometres, way finer than a human hair, but also a lot of information
					about its chemical composition) it became clear that the average composition of soil organic matter
					cannot be found at a fine spatial scale, where these substances should occur. This is a profound
					and important insight with far-ranging implications for our understanding of why soil organic
					matter exists and how we can manage soils for crop production as well as other soil health
					aspects including carbon accrual and consequent climate change mitigation.
				</p>
				<p>
					We can visualise this with a simple experiment of making a fruit smoothie: take three different
					fruits (apple, pear, melon?) and mix them together in a blender (Figure 2). The first question is:
					have we made a new fruit? No. The smoothie is still a mixture of three fruits, not a new fruit.
					When we drink the smoothie, we sense a taste that is not only very difficult to identify (try it
					with your friends), but also has a taste distinct from the three fruits individually – even though
					we have made no new fruit. We made a taste that in some ways is an average of the three fruits
					(not exactly, but that is not important for the argument being illustrated here). At the same
					time, we know that this taste is a mixture of existing tastes, not new fruit. And if someone is
					allergic to apples, it is important to know that there are still apples in the smoothie. In the
					same way in soil biogeochemistry, we have to know what compounds are in the complex mixture of
					soil organic matter, and the average composition is not sufficient to explain interactions between
					actually existing molecules and minerals or microorganisms, because the average fruit does not
					exist in a smoothie. Similarly, the average in this situation is a meaningless way of looking at
					and explaining soil organic carbon properties and behaviour, and ‘humic substances’ extracts
					will always be an average of what can be extracted. Since there is no other method to characterise,
					identify or quantify ‘humic substances’ than by an alkaline extraction, ‘humic substances’ are
					not a helpful way to truly understand soil organic carbon.
				</p>
				<div>
					Figure 2. Fruit smoothie experiment as a performance on ‘humic substances’ at the workshop ‘Thinking
					from the Substrate’, 3–6 June 2024, Harnack House, Max Planck Institute, Berlin, organised by Emily
					Brownell. Photos: courtesy of Amiel Bize (left); by the author (right).
					[alt text] photos of three different fruits in glasses and a man in a white coat holding up a smoothie
					made from them]
				</div>
				<p>
					The shift in scholarship from sequestering recalcitrant ‘humic substances’ to caring about feeding
					and housing diverse actors with diverse substrates is much more in line with Donna Haraway’s assertion
					that ‘Human as humus has potential’ (Haraway 2016). I read Haraway’s essay as a proposal to see
					humans as a part of an ever-changing ecosystem with numerous interactions between a diverse set of actors,
					analogous to soil with its myriads of different microbes. In the new scientific view beyond ‘humus’, the
					persistence and resilience of soil organic matter is a product of what we called ‘functional complexity’
					(Lehmann et al. 2020). This means persistence no longer has to do with material recalcitrance as a result
					of size (e.g., too big to be eaten by microorganisms); and it also means that there is not a one-time fix
					with which we can ‘lock carbon away’.
				</p>
				<p>
					This shift to a view consistent with care rather than size or ‘strength’ not only aligns better with
					experimental evidence but is also more in line with historical and contemporary attitudes towards soil
					and soil health. I therefore propose to see organic matter persistence as a question about behaviour
					rather than identity. What I mean by ‘behaviour’ includes mineral interaction (such as adsorption) or
					solubility, as well as the movements of molecules or soil biota that are all known to be pivotal in
					determining how much organic matter is in soil. By contrast, the ‘identity’ of soil refers to its
					molecular size or chemical bonds, or its elemental composition. Behaviour is influenced by identity,
					but not solely determined by it: the extent of adsorption of a molecule to a clay particle will be
					strongly influenced by whether the molecule is positively or negatively charged or not charged at
					all, but also clay properties will matter, such as the amount of their surface area, and whether
					the soil is dry or wet, cold or warm, all environmental properties (Schmidt et al. 2011). What the
					persistence of soil organic matter is, will then be a result of many factors: it is therefore not its
					property or identity but its behaviour that we need to monitor and curate.
				</p>
				<p>
					A shift in scholarship is therefore warranted for many reasons. And this proposed shift (Lehmann and
					Kleber 2015) would not only be based on observational evidence and logic but also allow a more meaningful
					and forward-looking engagement with soil processes as argued in this essay. Would such a shift also
					change how we view human identity and behaviour?
				</p>
				<hr />
				<h2>References</h2>
				<ul>
					<li>
						Achard, F.C. 1786. ‘Chemische Untersuchung des Torfs’. <i>Crell’s Chemical Annals</i> 2: 391–403.
					</li>
					<li>
						Haraway, D. 2016. ‘Tentacular Thinking: Anthropocene, Capitalocene, Chthulucene’. <i>E-Flux Journal</i> 75: 8/16.
					</li>
					<li>
						Janzen, H.H. 2024. ‘Soil Carbon Stewardship: Thinking in Circles’. <i>European Journal of Soil Science</i> 75: e13536.
					</li>
					<li>
						Kleber, M. and J. Lehmann. 2019. ‘Humic Substances Extracted by Alkali Are Invalid Proxies for the Dynamics and Functions of Organic Matter in Terrestrial and Aquatic Ecosystems’. <i>Journal of Environmental Quality</i> 48: 207–16.
					</li>
					<li>
						Lehmann, J., D. Solomon, J. Kinyangi, L. Dathe, S. Wirick and C. Jacobsen. 2008 ‘Spatial Complexity of Soil Organic Matter Forms at Nanometre Scales’. <i>Nature Geoscience</i> 1: 238–42.
					</li>
					<li>
						Lehmann, J. and M. Kleber. 2015. ‘The Contentious Nature of Soil Organic Matter’. <i>Nature</i> 528: 60–68.
					</li>
					<li>
						Lehmann, J., C.M. Hansel, C. Kaiser, M. Kleber, K. Maher, S. Manzoni, N. Nunan, M. Reichstein, J.P. Schimel, M.S. Torn, W.R.Wieder and I. Kögel-Knabner. 2020. ‘Persistence of Soil Organic Carbon Caused by Functional Complexity’. <i>Nature Geoscience</i> 13: 529–34.
					</li>
					<li>
						Schmidt, M.W.I., M.S. Torn, S. Abiven, T. Dittmar, G. Guggenberger, I.A. Janssens, M. Kleber, I. Kögel-Knabner, J. Lehmann, D.A.C. Manning, P. Nannipieri, D.P. Rasse, S. Weiner and S.E. Trumbore. 2011. ‘Persistence of Soil Organic Matter as an Ecosystem Property’. <i>Nature</i> 478: 49–56.
					</li>
				</ul>
			</LongFormContent>
		</PageContent>
	</main>
</Layout>
