---
import Layout from "../../layouts/Layout.astro";

import EssayHeader from "../../components/EssayHeader.astro";
import LongFormContent from "../../components/LongFormContent.astro";
import PageContent from "../../components/PageContent.astro";
import PageHeader from "../../components/PageHeader.astro";
---

<Layout>
	<main>
		<PageContent>
			<EssayHeader
				locationTag="The Gaza Strip, Palestine"
				title="Cultivating an Ancient Soil: Sub-dune Histories and Ecologies"
				byline="Dotan Halevy"
			/>
			<LongFormContent>
				<p>
					Sand is a material defined by size. It can consist of any inert substance as long as its particles range
					from 250 micrometres to 2 millimetres in diameter. Under what conditions can this material attribute become
					a life-supporting environment? In other words, what is required for sand to transform into soil, and what
					criteria measure this transition? The capacity to retain water molecules? The development of humus, organic
					nutrients, between sand grains? Their arrangement, mobility or immobility? Soil chemists, pedologists and
					geographers would provide ample and diverse answers. This chapter, however, suggests that converting sand
					to soil (and back) is also, and sometimes primarily, a political process. This is because, once sand is
					classified as ‘soil’, it also acquires the properties of ‘land’, complete with the baggage of belonging,
					ownership, profit, possession and dispossession that often comes with it. History writing has often been
					soil-biased in choosing areas of interest, focusing on characteristic terrains of agricultural production as
					the primary sites where history is arguably the most condensed and eventful. Sand might exemplify a terrain
					frequently seen as limitless, innate, unmappable, uncultivable, having no owners and, thus, no history. Yet,
					colonial contexts reveal that these assumptions are in and of themselves historic. Distinguishing between
					productive and unproductive lands, wastelands and arable lands, sand and soil, was not a scientific question
					but rather a political one, driven by goals of colonial management and expansion. Colonial thought constructed
					uncultivable lands as no lands at all, and made their inhabitants correspondingly landless throughout history,
					thus subject to removal, stripping of sovereignty and rights or political subjugation.
				</p>
				<p>
					But what alternative histories can environmental historians narrate about sand as soil or as land? How can we
					historicise or politicise sand? This chapter attempts to do that by exploring a specific case in the Gaza Strip
					during the 1970s, shortly after its occupation by Israel in 1967. Here, the efforts of colonial expansion and
					scientific research, combined with the practices of Palestinian economic survival under occupation, reveal how
					unexpectedly political sand’s history, cultivability, and ownership rights can be. What follows is an excavation
					into a sand dune in the outskirts of Deir al-Balah in the central Gaza Strip. The chapter’s five sections reveal
					five layers of meaning, removed one after the other to explore a micro-story of colonial irony: how colonial usurpation,
					bulldozing and looting of one Palestinian plot of duneland granted its owner rights of cultivation amidst a wave of
					dispossession. The first layer of the chapter sets the stage by recounting the story of an Israeli archaeological
					excavation beneath the Deir al-Balah dunes between 1972 and 1982. As the chapter unfolds, each section peels another
					layer off this story, demonstrating how it is through the supposedly unfertile and negligent environment of sand that
					the transformation of the Palestinian coastal landscape under Israeli colonisation is best exposed, complete with its
					reliance on the imperial and colonial perception of dunes dating back to the nineteenth century.
				</p>
				<h3 class="number-subhead">I</h3>
				<p>
					In 1968, some unusual archaeological artefacts began appearing in antiquities shops in the old city of Jerusalem. Over
					the past few months, the illicit digging and antiquities trafficking industry had grown significantly due to the Israeli
					occupation of the West Bank and the influx of Israeli buyers and enthusiasts into the antiquities markets. Yet, the
					objects here discussed were different. They included bronze, faience, alabaster vessels, figurines, scarabs, gold jewellery
					and semi-precious stones from the Late Bronze Age. The artefacts’ origin appeared Egyptian and featured remnants of yellow
					marine sand. Israeli archaeologists suspected that they did not originate from the West Bank but rather from another occupied
					territory now under Israel’s control, the Gaza Strip. Unlike the West Bank, Gaza was not a hotspot for archaeological
					research or antiquarianism. Part of ancient Philistia in Western historical tradition, it did not hold the same Judeo-Christian
					allure as the biblical sites of the Palestinian highlands centred in Jerusalem. How, then, did these artefacts surface in
					Jerusalem’s markets?
				</p>
				<p>
					At least one high-ranking Israeli official knew the answer. Shortly after the 1967 war, Israel’s Minister of Defence, Moshe Dayan,
					received information from an associate in the village of Deir al-Balah in the central Gaza Strip about a trove buried in the dunes.
					Hammad Abu Shams was a Bedouin man, most probably from a 1948 refugee family who resided in the Deir al-Balah refugee camp.
					According to Dayan’s memoirs, Hammad ‘excelled’ in discovering antiquities and unearthing them delicately. His greatest-ever
					discovery was in the land of Shaikh Abu Majid, of the Abu Mu‘liq clan of the Tarabin tribe. The Sheikh removed a layer of sand
					with excavators to plant a citrus orchard. But when his workers started digging to plant the seedlings, they hit stiff objects
					buried in the soil lying underneath the sand.<sup class="note" id="note-ref-1"><a href="#note-1">1</a></sup> Digging into this layer, Hammad, maybe one of the workers, discovered a group of
					anthropoid sarcophagi. He secretly informed Dayan of the finding. Dayan, by yet-unexposed means, encouraged illicit digging by
					buying the recovered relics from the landowner, with Hammad gaining as a middleman.<sup class="note" id="note-ref-2"><a href="#note-2">2</a></sup>
				</p>
				<p>
					After gathering a significant treasure of artefacts, Dayan seems to have informed Trude Dothan, a Hebrew University professor
					specialising in Philistine archaeology, about the precious anthropoids. Dothan already knew of the findings that had reached the
					antiquities markets in Jerusalem. It is unclear, however, whether she knew already that Dayan was actively involved in their
					excavation. Anyhow, she suspected that the origin of the objects in Jerusalem was somewhere in the coastal plain. Together with
					rumours in the army that some illicit digging had been spotted in Deir al-Balah, the circle was closed.<sup class="note" id="note-ref-3"><a href="#note-3">3</a></sup> Dothan and her husband,
					Moshe, visited the site for the first time for a brief survey in 1968 and then again in 1970.<sup class="note" id="note-ref-4"><a href="#note-4">4</a></sup> In a report published later, she
					confirmed that this was indeed where the Jerusalemite findings came from. Large amounts of sand, removed by an excavator, created
					a small hill, and a newly planted orchard was visible. In one place, she could spot the holes from which the anthropoids were exhumed.<sup class="note" id="note-ref-5"><a href="#note-5">5</a></sup>
				</p>
				<p>
					Following this first survey, Dothan requested to run an official excavation of the site but this was denied by the military authorities.
					Since the occupation of the Gaza Strip in 1967, Palestinian militia groups associated with the PLO sustained a guerrilla warfare
					against the Israeli army, and the presence of Israeli civilians in the Gaza Strip was limited. In July 1971, following the murder of
					an Israeli family driving their car through the Strip, Israel launched a brutal counter-insurgency offensive in al-Shati, Jabalia and
					Khan Yunis refugee camps. Led by General Ariel Sharon, the Israeli troops bulldozed large parts of these camps with military excavators,
					forcibly removing some 40,000 residents, killing hundreds of armed and unarmed men and imposing extended curfews, arrests and exiles.
					In January 1972, Dayan cut short the operation for being over-aggressive. In parallel, he launched an open-door policy to enable
					residents of the Gaza Strip to travel freely into Israel and the West Bank to seek employment in low-skilled occupations.<sup class="note" id="note-ref-6"><a href="#note-6">6</a></sup>
				</p>
				<p>
					As relative stability ensued, Dothan’s request for a formal excavation was approved in February 1972. The expedition was defined as
					a ‘Salvage Excavation’ since it was known that illicit digging had gone on since 1968, and many more coffins had been removed from the
					site. Israeli soldiers deployed in Deir al-Balah testified in 1970 that excavations on a large scale were running at the site ‘by authority’,
					without interruption, and that the findings were delivered ‘to someone’.<sup class="note" id="note-ref-7"><a href="#note-7">7</a></sup> In 1971, it was exposed that Dayan himself transferred the
					fragments of some thirteen Sarcophagi to the lab of the Israel Museum in Jerusalem to restore them into complete objects.<sup class="note" id="note-ref-8"><a href="#note-8">8</a></sup>
				</p>
				<p>
					It is no wonder, then, that by the time Dothan’s formal excavation started in March 1972 (first season) and June 1972 (second season),
					not much was left on the site. Amidst the remains of ‘amateur excavations’, Dothan could only trace one plundered and empty coffin <i>in situ</i>,
					and another three complete coffins (Tomb 114), buried some eight metres under the sand within natural red soil (<i>hamra</i>) or <i>kurkar</i> sandstone.<sup class="note" id="note-ref-9"><a href="#note-9">9</a></sup>
					Announcing these first findings, Dothan already knew of 45 other coffins that Dayan had previously found and held. In her first publication
					on the 1972 excavation, Dothan used pictures of Dayan’s coffins to make a typology of the findings.<sup class="note" id="note-ref-10"><a href="#note-10">10</a></sup> They were found to be very rare Egyptian
					anthropoid sarcophagi in which ruling-class Egyptians in Canaan were buried in the thirteenth century bc. The minister’s illegal antiquities
					trafficking both supplied the scientific foundation of the excavation and the necessity to undertake it as a form of ‘salvage’ operation.
					Archaeologists such as Dothan needed Dayan on their side since, as Minister of Defence, he was also the person to authorise excavating in
					the occupied territories. Thus, despite his illegal acts, he appears in Dothan’s publication not as the plunderer of the site but as the
					excavations’ facilitator.
				</p>
				<p>
					The excavation of what came to be defined as ‘The Deir al-Balah Cemetery’ in 1972 led Dothan to conclude that there must also be a town,
					an Egyptian outpost, of the same period somewhere around too.<sup class="note" id="note-ref-11"><a href="#note-11">11</a></sup> And indeed, in a survey conducted about 200 metres west of the cemetery,
					the expedition found a site of potential habitation. Thus, a new archaeological project emerged in search of the historic society to which
					the cemetery belonged.<sup class="note" id="note-ref-12"><a href="#note-12">12</a></sup> The eruption of the 1973 Israeli-Arab war halted these ambitious plans, but the search for the settlement did start
					in 1976, in the place where the surveyors traced pottery relics that seemed promising.<sup class="note" id="note-ref-13"><a href="#note-13">13</a></sup>
				</p>
				<p>
					Unlike the cemetery, in the new site, the expedition had to start digging from the contemporary sand surface, a formidable task. ‘Our
					problem was that it is impossible to excavate any further in the dunes’, Dothan wrote. How would they remove thirteen metres of sand,
					hundreds of tons, and who would pay for it? In a region under military occupation, the army, with its heavy machinery, was the solution
					to all these questions. ‘With the help of the IDF’, Dothan writes, ‘it was decided to quarry and sell the sand to local construction
					companies in order to offset the costs.’<sup class="note" id="note-ref-14"><a href="#note-14">14</a></sup> Israeli sand mining in the coastal enclave was not new, and evidence shows that even dredging
					on the coastline, a practice that was outlawed in Israel proper by then, was sanctioned in the occupied Strip.<sup class="note" id="note-ref-15"><a href="#note-15">15</a></sup>
				</p>
				<p>
					Equally important, however, was to reach an agreement with individual Palestinian landholders upon whose land the massive operation was
					planned. ‘Our initial efforts at clearing the area had already caused some disturbances’, Dothan explained, but did not provide details.<sup class="note" id="note-ref-16"><a href="#note-16">16</a></sup>
					To avoid such delays, then, ‘the landowner became a partner in the enterprise on the condition that the excavated areas would be filled
					in, covered with arable soil, and returned to him’. In other words, the expedition applied the method by which the cemetery was initially
					discovered only the other way around; instead of an agrarian improvement leading to an excavation, it would be an excavation leading to
					an agrarian improvement.
				</p>
				<p>
					Indeed, several months after the beginning of the excavation in 1977, ‘175,000 metric tons of sand were removed by the [military] bulldozers,
					clearing an area of 2000 square meters down to the occupation level’. Pictures 1 and 2 show the advancement of the excavation by 1979, and
					pictures 3 and 4 show that the landowner did not wait for the site to be entirely abandoned by the archaeologists to start cultivation in the
					excavated area.<sup class="note" id="note-ref-17"><a href="#note-17">17</a></sup> During the last season of 1982, a large part of the area dug by the bulldozers was already planted with trees by the
					Palestinian landowner. ‘Our last season ended abruptly in 1982’, Dothan wrote, ‘when the landowner preemptively re-interred the excavated
					area and denied us further access.’<sup class="note" id="note-ref-18"><a href="#note-18">18</a></sup>
				</p>
				<div>
					Figures 1 and 2: The advancement of the sand removal and site excavation. The red arrow marks the site of the future plantation. Photos
					from Qedem 49, XXXIII – Figure 1: ‘Photo 4. The site of Deir el-Balah in August 1977’; Figure 2: ‘Photo 6. The site of Deir el-Balah in
					April 1979’.
					Alt text: Removal of sand advances with the site’s excavation.
				</div>
				<div>
					Figures 3 and 4: The advancement of the local plantation in 1981 is marked by a red arrow. Photos from Qedem 49, VIII, XXXV – Figure
					3: ‘Color plate 2B. The site of Deir el-Balah in 1981’; Figure 4: ‘Photo 10. The site of Deir el-Balah in 1982’.
					Alt text: Palestinian plantation advances on the excavated dunes.
				</div>
				<div>
					Picture 5: The crater created by the excavation and the plantation already in place upon the conclusion of the dig in 1982. Photo
					from Qedem 49, XXX: ‘Photo 1. The site of Deir el-Balah in 1982, general view’.
					Alt text: The crater created by the excavation and the plantation already in place upon the conclusion of the dig in 1982.
				</div>
				<h3 class="number-subhead">II</h3>
				<p>
					The Israeli accounts narrating the exposure of the ancient cemetery of Deir al-Balah all start from the Palestinian effort at ‘land
					reclamation’, the process of removing a layer of sand before starting agricultural production.<sup class="note" id="note-ref-19"><a href="#note-19">19</a></sup> Indeed, this agrarian practice was common
					along the Palestinian coastal plain and is known locally as <i>mawasi</i>, which literally means ‘suction’. Dating back to the early Islamic period,
					cultivators performing <i>mawasi</i> would dig the upper sandy surface along the coast to create long sunken ponds where vegetables could grow,
					relying on the high water table of the coastal aquifer. <i>Mawasi</i> agriculture typically occurred very close to the seashore, evident clearly
					in historical maps of the Palestinian coastline.<sup class="note" id="note-ref-20"><a href="#note-20">20</a></sup> However, the expansion of this practice farther west from the beach, to the site where the
					archeological cemetery was discovered, was unique and resulted from the unusual colonial circumstances of the Gaza Strip at the time. So did
					the ‘solution’ found for expanding the excavation by granting the Palestinians of Deir al-Balah the land exposed underneath the dunes. Let
					us examine, then, how the post-1967 military occupation that facilitated the plunder and excavation of the Deir al-Balah archeological
					treasures was simultaneously tied to the village’s agricultural transition.
				</p>
				<p>
					The Gaza Strip was enclosed as a political enclave in January 1949 due to the demarcation of the Egyptian-Israeli armistice agreement. The
					territory was the last remaining holding of the vast area the Egyptian army occupied in Palestine during the 1948 war. Held by a friendly
					army, what became known as the Gaza Strip absorbed some 200,000 Palestinian refugees who fled the battle areas north and east or were forcefully
					displaced by Jewish-turned-Israeli troops. Under Egyptian military rule from 1949 to 1967, citriculture came to dominate the Gaza Strip’s
					agrarian landscape. For an enclave with no other sources of income, citrus was a profitable export commodity of high production per <i>dunam</i>
					(1/4 acre). The plantations served as the primary investment for remittances sent by Palestinian migrants abroad and for tradesmen benefiting
					from Egypt’s classification of the Strip as a tax-free zone.<sup class="note" id="note-ref-21"><a href="#note-21">21</a></sup> Labour and water-intensive, Gazan citriculture relied on the combination of
					readily available well-water from the local coastal aquifer and readily available refugee labour, a workforce three times the size of Gaza’s
					native population. Thus, about 6,000 dunams of citrus by the end of the mandate period increased to 92,618 dunams on the eve of the Israeli
					occupation in 1967, constituting 35 per cent of all cultivated area and 23.5 per cent of the total area of the Gaza Strip.<sup class="note" id="note-ref-22"><a href="#note-22">22</a></sup>
				</p>
				<p>
					Once Israel occupied the Strip, this economic dynamic changed. The military authorities identified Gaza’s citrus industry as too reliant on
					the free-flowing water from private wells. They calculated that, if the same growth of the citrus industry endured unchecked, it would salinise
					the local aquifer. In the coastal margin, fresh groundwater from rain on the continent meets a column of saline seawater underground. Therefore,
					pumping must remain balanced with the natural replenishing of the aquifer by precipitation. Overpumping could lead to seawater intrusion into
					the aquifer and salinisation of the wells. Therefore, alongside introducing water pipes and irrigation technologies, and regulating existing
					wells, Israel imposed severe restrictions on water usage and limited the planting of new orchards after 1972.<sup class="note" id="note-ref-23"><a href="#note-23">23</a></sup> The result was an expansion of
					<i>mawasi</i> vegetable plots that required no external irrigation. Israeli Arabist Gideon Wingert, who reported on Israel’s agricultural regulations
					and guidance in the Strip, noted in a 1977 article that ‘following the 1967 occupation of the Gaza Strip, <i>mawasi</i> cultivation was given an
					enormous push, [due to] the need to conserve underground water as much as possible’. In Khan Yunis, for instance, ‘cultivators uprooted some
					750 acres of palms along the coastline and used heavy bulldozers to push huge quantities of sand in the direction of the sea shore, thus
					forming ponds of ½ acre each [for vegetables]’. Under Israeli instruction, the Gazans are ‘conquering the dunes’, Wingert wrote.<sup class="note" id="note-ref-24"><a href="#note-24">24</a></sup> Political
					economist Sara Roy illustrates too how, over time, citrus crops lost their prominence to vegetables that were more efficient in water consumption
					and ultimately more profitable for growers under Israeli restrictions. By the late 1980s, the share of citrus in the local economy had declined,
					while the area devoted to vegetables had increased by forty per cent and produce output rose by 120 per cent. The agricultural landscape of the
					Strip gradually transformed into one of hothouses and plastic-covered fields, while the open orchard area shrank. Water management regulations,
					combined with the continued isolation of the Strip economically, enabled the Israeli authorities to remove Palestinian competitors against
					Israeli citrus growers. At the same time, vegetable and strawberry growing, as well as their export abroad or to the Israeli market by Israeli
					firms, were encouraged. Hardly a ‘rational choice’ made by landowners, this process was controlled by the Israeli authorities by law. As Roy
					explains, ‘reclamation of land’, which involved ‘bulldozing a piece of land … to make it cultivable’, or planting new trees, were forbidden
					without obtaining permission from the military authorities.<sup class="note" id="note-ref-25"><a href="#note-25">25</a></sup> To connect the dots, water and land use restrictions led to a gradual agricultural
					transition from citrus orchards to vegetable growing and from the agricultural lands to the dunes. This economy was less competitive with
					Israeli growers, enabled self-sufficiency of water resources, and relieved Israel from the need to supply the Strip with external water
					resources for agriculture.
				</p>
				<p>
					In 1977, while writing his memoir, Dayan recalled that the anthropoids of Deir al-Balah were discovered on Sheikh Abu Majid’s land as he dug
					the sand to cultivate <i>mawasi</i> agriculture.<sup class="note" id="note-ref-26"><a href="#note-26">26</a></sup> Although Abu Majid seems to have been preparing the ground for a citrus orchard, not vegetables,
					it appears that, at this stage, the practice of extracting sand had penetrated the plantation industry due to the expansion of <i>mawasi</i> plots.
					It is reasonable to assert that this situation was not an isolated incident; since 1973, the Israeli military authorities designated Deir
					al-Balah as the centre for vegetable cultivation and marketing both within and beyond the Strip. The town’s new role as the vegetable
					capital of the Gaza Strip was frequently highlighted in the Arabic language propaganda magazines circulated by the Israeli military
					government and is particularly apparent in the most popular publication, <i>al-Zira‘a wa’l-Rakha</i> (Agriculture and Prosperity).<sup class="note" id="note-ref-27"><a href="#note-27">27</a></sup> In other
					words, Israeli restrictions-driven expansion of Palestinian agriculture towards the dunes was common around Deir al-Balah, making the
					discovery of the cemetery intertwined with the practices of the occupation authorities.
				</p>
				<p>
					Israeli guidance and support for the Palestinian farming sector in the Gaza Strip were integral to maintaining a prolonged military
					occupation under the pretence of economic improvement and pacification. Israel’s economic regulation of the Gaza Strip’s agricultural
					and industrial production led the enclave into a state of economic ‘de-development’ and total subjugation to Israeli economic preferences
					by the mid-1980s.<sup class="note" id="note-ref-28"><a href="#note-28">28</a></sup> Economic improvement was never meant to deliver economic sovereignty or self-sufficiency but rather to make the Strip
					economically and infrastructurally dependent on Israel while remaining legally and politically subjected to military control. The
					expansion of agriculture onto the dunes of Deir al-Balah was a product of this policy.
				</p>
				<p>
					However, this policy did not stop with economic restructuring; it also included ambitious plans for refugee resettlement inside the
					Strip to defuse the Palestinian nuclei of resistance. The same purpose also guided the establishment of Israeli military-agricultural
					outposts that were meant to disrupt the Palestinian demographic continuum between cities and towns. In Israeli land categorisation,
					sand dunes were considered the most suitable terrain for these planning and building initiatives, as they were ostensibly devoid of
					ownership. That understanding of the dunes relied, in turn, on deeply-rooted colonial forms of understanding the eastern Mediterranean
					landscape, and decades of prior dispossession of sand-dwelling societies. This historical layer will be discussed next.
				</p>
				<h3 class="number-subhead">III</h3>
				<p>
					Israeli rule in the Occupied Territories since 1967 has followed the legal practices established during the British mandate (1920–1948),
					which set a very low threshold for expropriating ‘abandoned’ or ‘uncultivated’ lands from local inhabitants and cultivators, thus making
					them state property. Continuous cultivation in sandy areas was more difficult to achieve and demonstrate than in other types of land,
					making such expropriation common both under British rule in Palestine and later under Israel.
				</p>
				<p>
					During the British mandate period, Zionist immigration, land purchasing and settlement, along with Palestinian population growth, created
					a crisis of land shortage and landlessness that intensified the political tension between Jews and Arabs. To utilise as much land as possible
					for cultivation, the British mandate government worked to prevent sand drift from the coast to the northwest, which encroached upon arable
					lands, reducing their cultivability. To address this problem, they issued a series of ordinances that eliminated the legal possibility to
					claim ownership and usufruct rights over sands, converting much of these areas into closed forests and state domains cultivated only by
					state guidance.<sup class="note" id="note-ref-29"><a href="#note-29">29</a></sup> These regulations abruptly changed longstanding norms practised legally under the former Ottoman rule, by which cultivators
					could claim possession over abandoned lands as a means of agricultural ‘revival’, in Arabic <i>ihya</i>. Under the new mandatory rules, Arab
					occupation of sand areas designated as abandoned, dead or enclosed for afforestation now became classified as squatting and was outlawed.<sup class="note" id="note-ref-30"><a href="#note-30">30</a></sup>
				</p>
				<p>
					Supporting these efforts was an elaborate ecological perception of sands and their inhabitants as avatars of environmental ruin. British
					forestry and land officers took the dunes as an uncultivable wasteland because of their arid and shifty nature. Dunes, in British perception,
					were not only waste in and of themselves but were also <i>laying waste</i> fertile lands in their vicinity by drifting and covering them. Arab
					cultivation of sands, which commonly included <i>bustans</i> of vines, sycamore and mulberry, and patches sown with lupine or watermelons, let
					alone grazing upon the sand, were taken not as a valid economic use but, on the contrary, as the cause for sand drift in the first place.
					As sand drifted, in other words, it was as if it covered the preexisting land rights together with the soil, making growing spaces ‘abandoned’
					and supposedly ownerless.
				</p>
				<p>
					Relying on accounts of a glorious past lost to a degrading environment, the British understood the holy land’s landscape in a declensionist
					manner.<sup class="note" id="note-ref-31"><a href="#note-31">31</a></sup> The British Soil Conservation Board in Palestine explained in its second bulletin, published in 1946 and titled <i>The Destruction of Soil</i>
					in Palestine, that the contemporary scarcity of arable soil in the country resulted from centuries of Muslim neglect. The Muslim conquests
					of the seventh century arguably brought with them ‘the great increase of the goat, the Bedouin invasion, and the Muslim civil war’.
					These destroyed the cultivable lands after eons of ‘well-balanced soil conditions and good agricultural practices from very early times,
					continuing on through Roman and Byzantine times up to the Muslim conquest, and perhaps somewhat later’.<sup class="note" id="note-ref-32"><a href="#note-32">32</a></sup> While the land saw oscillating
					periods of recovery and destruction under Muslim rule, ‘near the end of the Turkish regime … increased grazing by animals caused a rapid
					destruction of [soil] cover, particularly on the hills and sand dunes’. The final blow came with the destruction of fruit trees during the
					First World War when ‘encroachment of sand dunes followed at once’.<sup class="note" id="note-ref-33"><a href="#note-33">33</a></sup>
				</p>
				<p>
					To stop sand drift and prevent the Arab agricultural practices that supposedly caused it, the British administration in Palestine launched
					a campaign to plant trees and grass known for their soil-holding capacity along the coastal plain. Such initiatives were already in progress
					in French-controlled North Africa, under Italian rule in Libya, Australia, South Africa and other regions from which the species for sand
					planting were sourced.<sup class="note" id="note-ref-34"><a href="#note-34">34</a></sup> Like in these colonial territories, dune-afforestation work in Palestine depended on the very people whose land was
					enclosed, first by coercion and later as a form of government employment. With its exceptionally vast stretch of dunes, the Gaza region
					became a mandatory test case for sand afforestation in the 1920s. Three extensive forests were planted on the sands around Gaza, the
					village of Jabaliya and Khan Yunis.<sup class="note" id="note-ref-35"><a href="#note-35">35</a></sup>
				</p>
				<p>
					However, scaling up the experiment to encompass the entire coastal plain of the country was far beyond British resources and capabilities
					in Palestine.<sup class="note" id="note-ref-36"><a href="#note-36">36</a></sup> To face this problem, the British outsourced afforestation works to Zionist companies that sought to lease state property
					from the government. Throughout the 1920s and 1930s, sandy areas from Acre in the north down to the sands of Jaffa were made available
					to Zionist development companies, which the British regarded as both financially capable and ideologically committed to greening the land
					and preventing sand drift. By the late 1930s, some of these companies proposed that they could develop the sands for industry and
					urbanisation instead of afforestation, a goal the British government could hardly resist. This way, large areas of the coastal plain
					were transferred through long-term leases into Zionist real estate.<sup class="note" id="note-ref-37"><a href="#note-37">37</a></sup>
				</p>
				<p>
					By the time of the 1948 war, then, the dispossession of Palestinians in the coastal plain was already well underway. The alienation of
					Palestinian land rights in the dunes was so common that in a 1945 application to the British Colonial Development Fund for a ‘Fixation
					of Sand Dunes’ scheme, the Government of Palestine could argued that afforestation of the sands was a ‘necessity of action [that is] is obvious
					and accepted by all’, that such ‘conservation operations <i>would not seriously affect local life and customs</i>’ and that ‘there would be comparatively
					little opposition to an afforestation scheme, while land problems of ownership and status would be far fewer and easier of solution than in
					other parts of the country’.<sup class="note" id="note-ref-38"><a href="#note-38">38</a></sup> That was true only since much of the coastal sands were becoming state domain, designated for Zionist development.
				</p>
				<p>
					The Gaza region, however, remained almost unaffected by this dynamic. For the better part of the mandate period, Zionist expansion hardly
					touched the southern coastal plain due to the difficulty in purchasing lands from local Palestinian landholders, Gaza’s destruction in the
					First World War and the relative remoteness of the region from the main Zionist centres elsewhere.<sup class="note" id="note-ref-39"><a href="#note-39">39</a></sup> As a result, the Gaza dunes were one of
					the only areas where Jews were not involved in coastal development. The lack of a significant Zionist presence determined the fate of Gaza
					in later decades. As mentioned, during the 1948 war, approximately 200,000 Palestinian refugees, many from the coastal plain stretching from
					Jaffa southwards, were displaced and found refuge in the newly established enclave of the Gaza Strip, which soon became the densest concentration
					of refugees in the entire Palestinian diaspora.<sup class="note" id="note-ref-40"><a href="#note-40">40</a></sup> The Egyptian military administration, which governed the Strip until 1967, settled some of the
					refugees in the same forest reserves that the British had designated and planted to prevent sand drift. The starving and destitute refugees
					depleted the trees for cooking and makeshift shelters.<sup class="note" id="note-ref-41"><a href="#note-41">41</a></sup> These areas would become the al-Shati, Jabaliya and Khan Yunis refugee camps under
					Egyptian rule between 1948 and 1967. This is how we return to the sands of Deir al-Balah of the 1970s, a village hosting a small refugee camp
					to its west, and to the first encounters of Jewish Israeli settlers with the dune landscape of the Gaza Strip.
				</p>
				<h3 class="number-subhead">IV</h3>
				<p>
					After Israel occupied the Gaza Strip in 1967, the dunes frontier reopened for state appropriation. During the 1970s, the Israeli military
					administration gradually enclosed thousands of dunams of dune areas for settlement and public purposes; some of these lands had already been
					categorised as state domains since the mandatory period, while others were newly appropriated.<sup class="note" id="note-ref-42"><a href="#note-42">42</a></sup> One dune area, known locally as <i>al-Sumayri</i>,
					was situated between the agricultural outskirts of Deir al-Balah in the north and those of Khan Yunis to the south (Map 1). It was initially
					earmarked in Israeli plans for a refugee resettlement neighborhood for the Deir al-Balah refugee camp.<sup class="note" id="note-ref-43"><a href="#note-43">43</a></sup> Yet, as the ‘capture’ of this dune
					area expanded, decision-makers in Israel shifted to a plan that envisioned three Jewish settlements on the dunes instead.<sup class="note" id="note-ref-44"><a href="#note-44">44</a></sup> Unlike the first
					Israeli settlements in the West Bank, which primarily aimed to capture strategic locations at the barren hilltops or sites of religious
					significance, those in the Gaza Strip were planned from the outset as agricultural ventures. This meant that land expenses were crucial.
					Like the British before them, it was now the Israeli settlers’ turn to assert that the dunes were empty and uncultivable for the local
					Arabs and thus needed to be appropriated by the technologically advanced.
				</p>
				<div>
					Map 1. The Sumayri dune, and the excavation site marked by a red dot.
					Gaza 1:100,000, Map created by UK Government (1934; revised 1943,1955; printed 1959), Crown copyright expired.
					Alt text: The place where the Sumayri dune and the excavation site meet.
				</div>
				<p>
					As mentioned, this vision of the dunes was not foreign to Zionist-turned-Israeli understanding of the coastal landscape. Its key representative
					in the Israeli case is probably Adolf Reifenberg, a German-Jewish soil chemist and one of the founders of agricultural studies at the Hebrew
					University in Jerusalem. Reifenberg served in the British government’s Department of Agriculture and was part of the above-mentioned ‘Soil
					Conservation Board’. He was also an avid Zionist, amateur historian and archaeologist. Following a lifelong career in academic publications,
					he published in 1950 his classic account combining history, geography and more than a speck of ideology, <i>The Struggle between the Desert and
					the Sown: Rise and Fall of Agriculture in the Levant</i>. Among other processes of soil depletion, he dedicated much attention in this book to the
					historical formation of Palestine’s coastal dunes. ‘When not held by vegetation’, he explained, ‘the sand thrown on the beach [by the wind and
					sea waves] inevitably moves inland, covering everything on its way’. His observations of the depth and reach of the dunes on the coastal
					plain of Palestine from Caesarea in the north to Gaza in the south led him to conclude that ‘this condition dates from the Arab invasion’.<sup class="note" id="note-ref-45"><a href="#note-45">45</a></sup>
					Later in the book, he ties the dots together:<sup class="note" id="note-ref-46"><a href="#note-46">46</a></sup>
				</p>
				<blockquote>
					When the Arabs conquered the countries of the Fertile Crescent, they found a smoothly working Byzantine administration … It was not religious
					fanaticism only but economic necessity which drove the Bedouin hordes. These Arabs had no agricultural tradition … [They] knew only about the
					rising of stock. It was after the Arab conquest that the type of agriculture began to change fundamentally. The overgrazing of goats and camels
					had an especially devastating effect on the natural vegetation.
				</blockquote>
				<p>
					Reifenberg, in his time, was not driven by colonial aspirations in Gaza. However, two decades following, the spirit of his ideas had nevertheless
					taken root. ‘The Strip is very densely populated, yet along the beach from north to south, there are vast dunes that, due to the character of
					the terrain, were not settled’, explained Yehiel Admoni, head of the Jewish Agency’s Settlement Division, in a governmental meeting in 1975:<sup class="note" id="note-ref-47"><a href="#note-47">47</a></sup>
				</p>
				<blockquote>
					Most of it is uncultivated and unoccupied. These dunes had never been settled or cultivated and remained under state possession throughout all
					periods. During the mandate, some of it was afforested, and so did the Egyptians, and so we continue to do, to prevent the sand from drifting.
				</blockquote>
				<p>
					These ‘empty’ dunes represented an opportunity for Admoni and others regarding Jewish settlements. ‘Establishing settlements in a place so densely
					populated by Arabs [the Strip] is a waste’, Admoni reasoned, however, the 10,000 dunams of dunes of <i>al-Sumayri</i>, located between Khan Yunis and
					Deir al-Balah, were, for him, ‘a space where we would not have to deal with the issues of land, water, and property rights’. The only
					challenge was the current reality where, in recent years,
				</p>
				<blockquote>
					the Arabs have been encroaching; they enter and cultivate plots, especially on the outskirts of Deir al-Balah. They plant both trees and vegetables.
					Closer to the beach, they lower the ground surface beneath the water table to create small vegetable gardens using this fresh water.<sup class="note" id="note-ref-48"><a href="#note-48">48</a></sup>
				</blockquote>
				<p>
					Indeed, Admoni’s description of the growing cultivation in the dunes materialised simultaneously with the gradual enclosure of the <i>al-Sumayri</i>
					dunes, establishing the settlements to be known later as the Qatif Block (Hebrew: Gush Qatif). The excavation site of Deir al-Balah, active
					while these discussions were held, was located on the northern edge of this dune, at the border of the Deir al-Balah farmland (see Map 1).
					The agreement between the archaeological delegation and the Palestinian landowner to expand his cultivation by removing the dune, along with
					the broader changes in Palestinian agricultural practices since 1967, was precisely what Admoni viewed as a threat of Palestinian encroachment
					on the sands.
				</p>
				<p>
					Oddly enough, while the Israeli settlement effort marked the dunes, following the British, as a terrain of easy and ecologically justified dispossession,
					the Israeli archaeological deal with the landowner substantiated the Palestinian right to this dune land. While the basic understanding since the
					mandate saw sand drift as covering both the soil and its embedded history of land ownership,  the archaeological delegation had very literally
					removed the supposedly uncultivable layer of sand, the Israeli-coveted object of dispossession, promising the soil discovered beneath it to the
					landowner, approving his precarious ownership. Under a constant threat of dispossession, it is easier to understand why the excavation ended
					abruptly in 1982, as the landowner demanded to cut the deal short and to settle for what he had gained thus far. That year, Israel completed
					its withdrawal from the Sinai Peninsula following the Israeli-Egyptian 1979 Peace Agreement. As a result, Jewish settlement in the Gaza Strip
					rapidly accelerated.<sup class="note" id="note-ref-49"><a href="#note-49">49</a></sup> It is reasonable to assume that the landowner believed
					he needed to establish tangible possession; otherwise, dispossession would soon encroach upon his territory too. A request filed by the military
					administration’s ‘Archaeology Staff Officer’ in 1983 supports this understanding. He asked the regional command for approval to remove the dune
					further and expand the excavation site by declaring it a sand quarry. He noted that, thus far, the site had been returned to the owner according
					to the preexisting agreement, yet from this point forward, the digging would occur ‘within a sand-covered area which is a state domain for all
					intents and purposes’.<sup class="note" id="note-ref-50"><a href="#note-50">50</a></sup> That means that the military authorities, too,
					thought of the site as the southernmost point of private Palestinian land. In Map 2, the land expropriated for the settlements upon the
					<i>al-Sumayri</i> dune is marked by a white background, while the Palestinian territory is marked with orange. The site of the excavation
					is precisely at the boundary between the two. Approval for expanding the site, though, was never given. The summer of 1982 was the last
					season of the Deir al-Balah excavation, after which the site was left for agricultural cultivation. A coordinate registry of the location
					remained only in the archaeological reports. No signs remained in the place itself or on the maps. Neither the Deir al-Balah people
					nor the students who took part in the dig could tell later where it was.
				</p>
				<div>
					Map 2. The Israeli Settlements upon the Sumayri dune and the Dier al-Balah farmland. The excavation site is marked by a red dot.
					Gaza 1:50:000. Map by Survey of Israel 2006; Accessible via amudanan.co.il. Courtesy of the Survey of Israel (MAPI). All rights
					reserved to the Survey of Israel. English captions and other marks are by the author and do not appear on the original map.
					Alt text: The Israeli Settlements upon the Sumayri dune and the Dier al-Balah farmland. The excavation site is at the overlap
					of the two.
				</div>
				<h3 class="number-subhead">V</h3>
				<p>
					The final layer of colonial dialectics in this case was revealed in the years following, when the findings of Deir al-Balah were gradually
					published. Aside from the archaeological significance, which is none of our concern here, the Deir al-Balah excavation supposedly provided
					corroboration for the long-held belief that dunes began encroaching upon the land during the Muslim conquest and persisted throughout Islamic
					rule, leaving the coastal plain desolate and uncultivable. This is because the most recent artefacts uncovered at the Deir al-Balah
					excavation were dated to the Byzantine period in the sixth century.<sup class="note" id="note-ref-51"><a href="#note-51">51</a></sup> For
					Dothan, this fact illustrated that the dunes played a role in the decline of a civilisation that had thrived in the eastern Mediterranean
					since biblical times and into the Judeo-Christian era. In Dothan’s own picturesque description: ‘High ridges of rolling sand dunes marked
					an oncoming wave of desolation advancing from the sea, a testament to the environmental catastrophe that had been plaguing the area since
					the Middle Ages, gradually blanketing thousands of acres of rich farmland.’<sup class="note" id="Note-ref-52"><a href="#note-52">52</a></sup>
					Citing the famous Deir al-Balah findings, from the 1980s, geomorphologists and historians defined the sands of the southeastern Mediterranean
					as ‘post-Byzantine’, supposedly a phenomenon characterising an Arab landscape of abandoned, sand-covered, ancient cities and deserted
					agricultural land wasted by the overgrazing of camels and goats.<sup class="note" id="note-ref-53"><a href="#note-53">53</a></sup>
				</p>
				<p>
					Trading excavation for cultivation with the Deir al-Balah landowner was a form of time travel, then. The archaeologists gained a glimpse
					into an ancient world ‘before the coming of the dunes’, as Dothan put it, while the landowner acquired cultivable land that dated back
					1,300 years – a soil last inhabited during the Byzantine period.<sup class="note" id="note-ref-54"><a href="#note-54">54</a></sup> Within
					the dynamic of colonial settlement in Gaza since the 1970s, this ‘trade’ emerged as both symbolic and very practical in cementing the
					Palestinian landowner’s rights to the land, which might otherwise have been appropriated for being a dune. However, this rarely acknowledged
					right by an Israeli authority was, even if unknowingly, tied to reinforcing the old colonial legislation that viewed the dunes as a
					landscape of desolation brought to the region by Arab invaders and as terrain on which they could not claim possession.
				</p>
				<p>
					Not coincidentally, then, the Deir al-Balah findings featured also in later narratives calling for the continued dispossession of Palestinians
					for the advancement of Jewish settlements in the Strip. Chronicling the evolution of the Gaza Strip Jewish settlements in <i>al-Sumayri</i>,
					religious-Zionist journalist Hagai Huberman, explained that ‘in archeological surveys it became clear that there were no signs of cultivation
					or occupation of any kind’:<sup class="note" id="note-ref-55"><a href="#note-55">55</a></sup>
				</p>
				<blockquote>
					Never could any human being revive these dunes. Hard soil was discovered only underneath the dunes, upon which campsites from the Israelite
					period were found. These findings proved that there was never a permanent settlement there, and these lands were, at best, used as camping
					grounds for wandering tribes.
				</blockquote>
				<p>
					This portrayal justified the seizure of the dunes while simultaneously making a case for the Jewish ingenuity that managed to turn them
					into agricultural farms during the 1980s and 1990s. That account disregarded, of course, the Palestinian cultivation on the dunes that had
					long been there, the Palestinian workforce upon which the settlements relied and the sheer inequality of resources that enabled the bare
					survival of the settlements. By the middle of the 1980s, while some 2,200 Jewish Israelis inhabited the Gaza Strip settlements, their
					agricultural areas and military buffers protecting them occupied a third of the Strip’s territory. Israeli water consumption per capita
					in the Strip stood at 2,326 cubic metres per annum compared to only 123 cubic metres for Palestinians.<sup class="note" id="note-ref-56"><a href="#note-56">56</a></sup>
				</p>
				<p>
					Famously, the Gaza Strip Jewish settlements specialised in producing pest-free lettuce and greens aimed at Jewish Orthodox consumers, who
					are incredibly anxious about mistakenly eating insects because they are not Kosher. This endeavour was initially developed due to the
					isolated and regulated conditions required for growing vegetables within hothouses in the arid and sunny Gaza Strip dunes.<sup class="note" id="note-ref-57"><a href="#note-57">57</a></sup>
					The 2005 Israeli ‘Disengagement’ from the Gaza Strip relocated this agricultural industry into Israel proper. Yet, under more conventional
					agricultural and climatic conditions, achieving the same insect-free produce commercialised as ‘Gush Qatif’ greens required heavy
					applications of pesticides. Several years later, the levels of poisonous substances in these vegetables became so high that Israel’s
					Chief Rabbi had to publish a legal opinion calling upon consumers to prioritise regular produce, which may contain insects, over the
					‘Gush Qatif’ brand that was simply harmful.<sup class="note" id="note-ref-58"><a href="#note-58">58</a></sup> From the perspective of the
					time when this chapter is being written, the poisonous greens of the Qatif Block can be taken as a symbol for the toxic memory in Israel of
					the Gaza Strip Jewish settlements, which Israel’s right-wing leadership has outspokenly positioned as a reason for prolonging the destruction
					and ethnic cleansing in Gaza following the 7 October  massacre. It is a cruel flip of history, that at the same time, the very sites to
					which such ultranationalist visions dream of returning, the dunes known as <i>mawasi</i>, have become one of the last remaining spots for
					displaced Palestinians to escape Israel’s bombardments, which have laid the rest of the Gaza Strip to waste.
				</p>
				<hr class="essay-footer" />
				<h2 class="essay-footer">
					Notes
				</h2>
				<ol class="notes">
					<li id="note-1">
						Dayan 1976: 407. <a class="return-from-note" href="#note-ref-1">&crarr;</a>
					</li>
					<li id="note-2">
						On Dayan’s lifelong involvement in antiquities theft and illegal excavations, see Patrick Cockburn, ‘The Pictures That Prove the Guilt
						of Moshe Dayan: Hero and Thief’, <i>Independent</i>, 14 Feb. 1997. <a href="https://www.independent.co.uk/news/world/the-pictures-that-prove-the-guilt-of-moshe-dayan-hero-and-thief-1278480.html" target="_blank" rel="noopener noreferrer">https://www.independent.co.uk/news/world/the-pictures-that-prove-the-guilt-of-moshe-dayan-hero-and-thief-1278480.html</a>;
						Kletter 2003; Kletter 2006: 150–64; Thomas Friedman, ‘Dayan Legacy Prompts Dispute on Antiquities’, <i>New York Times</i>, 14 May 1986.<a class="return-from-note" href="#note-ref-2">&crarr;</a>
					</li>
					<li id="note-3">
						Trude Dothan’s later version in <i>People of the Sea</i> (1992) is different. There, she argues that she informed Dayan of the illicit
						digging in Deir al-Balah and that he never knew about it. Archival documents from the Department of Antiquities testify that Dayan’s
						involvement was already known in the military. <a class="return-from-note" href="#note-ref-3">&crarr;</a>
					</li>
					<li id="note-4">
						‘Mizkar-Aronot Antropoyidim – Dayan’, 11 Feb. 1977, Deir al-Balah, The Israel Antiquities Authority Archives. <a class="return-from-note" href="#note-ref-4">&crarr;</a>
					</li>
					<li id="note-5">
						Dothan 1978: 2–3. <a class="return-from-note" href="#note-ref-5">&crarr;</a>
					</li>
					<li id="note-6">
						Filiu 2014: 125–45; Weizman 2017: 67–68. <a class="return-from-note" href="#note-ref-6">&crarr;</a>
					</li>
					<li id="note-7">
						Avraham Biran, Head of Antiquities Department of the Ministry of Education to Avner Goren, Archaeology Officer of The Israeli Defence Forces, 16 Sept. 1970, רש-1555/1, Israel State Archive. <a class="return-from-note" href="#note-ref-7">&crarr;</a>
					</li>
					<li id="note-8">
						‘Takhshitim Kortzim BeDeir al-Balah’, <i>Ha‘olam Haze</i>, 16 Feb. 1977, 32. It had taken the museum 5 years to amend them. Upon completion,
						nine coffins were bought from Dayan for 5,000 pounds each; two were given as gifts, and another two remained amended in his possession.
						‘Pras Lashoded’, <i>Ha‘olam Haze</i>, 26 Jan. 1977, 34. <a class="return-from-note" href="#note-ref-8">&crarr;</a>
					</li>
					<li id="note-9">
						Dothan and Bet-Arieh 1972; Anon. 1972. <a class="return-from-note" href="#note-ref-9">&crarr;</a>
					</li>
					<li id="note-10">
						Ibid; Dothan 1992`: 205. Tzvi Ilan, ‘Nehqarim Shloshim Antropoidim Mi-Deir al-Balah Hametsuyim Be‘osef Moshe Dayan’, <i>Davar</i>, 17 Feb. 1972, 4. <a class="return-from-note" href="#note-ref-10">&crarr;</a>
					</li>
					<li id="note-11">
						Dothan 1972: 21–25. <a class="return-from-note" href="#note-ref-11">&crarr;</a>
					</li>
					<li id="note-12">
						Dothan 1978: 4. <a class="return-from-note" href="#note-ref-12">&crarr;</a>
					</li>
					<li id="note-13">
						Israeli archaeology and war have a long history of entanglements. Territorial expansion enabled Israeli archaeological surveys and digging
						in the Golan Hights, the West Bank and Sinai, while the discovery of ancient Jewish sites or artefacts often justifies military control and
						oppression. See Kletter 2006a: 1–8; Greenberg and Keinan 2007; Abed Rabo 2024. <a class="return-from-note" href="#note-ref-13">&crarr;</a>
					</li>
					<li id="note-14">
						Dothan 1978: 4. <a class="return-from-note" href="#note-ref-14">&crarr;</a>
					</li>
					<li id="note-15">
						<i>Din Veheshbon Shnat Hamimshal Hatshi‘it 1975–1976</i> (IDF: Mifkedet Ezor Retsu‘at ‘Aza, 1976) [Report of the IDF Military Administration
						in the Gaza Strip, 1976], 87. <a class="return-from-note" href="#note-ref-15">&crarr;</a>
					</li>
					<li id="note-16">
						Dothan 2010: XXVIII. <a class="return-from-note" href="#note-ref-16">&crarr;</a>
					</li>
					<li id="note-17">
						All pictures in this chapter were taken from Dothan and Barandl 2010 (<i>Qedem</i> 49) and are reproduced with the permission of the Institute
						of Archaeology, The Hebrew University of Jerusalem. <a class="return-from-note" href="#note-ref-17">&crarr;</a>
					</li>
					<li id="note-18">
						Dothan 2010: XXVIII. <a class="return-from-note" href="#note-ref-18">&crarr;</a>
					</li>
					<li id="note-19">
						Dothan 1978; Lipton 2010: 3. <a class="return-from-note" href="#note-ref-19">&crarr;</a>
					</li>
					<li id="note-20">
						Tsoar and Zohar 1985; Roskin and Taxel 2021; Ben-Bassat and Buessow 2024: 98–99. <a class="return-from-note" href="#note-ref-20">&crarr;</a>
					</li>
					<li id="note-21">
						Abu al-Niml 1979: 251–62; Cossali and Robson 1986: 19. <a class="return-from-note" href="#note-ref-21">&crarr;</a>
					</li>
					<li id="note-22">
						Roy 1995: 86–87; The Gaza Strip: Survey of Cultivated Lands, פר-1613/18, ISA; Israel celebrated its agricultural guidance per the myths of
						enlightened occupation in media, in films such as: ‘Citrus Fruits from the Gaza Strip is Shipped to Greece’, 1967, Israel Film Archive,
						<a href="https://jfc.org.il/en/news_journal/60481-2/102166-2/" target="_blank" rel="noopener noreferrer">https://jfc.org.il/en/news_journal/60481-2/102166-2/</a> <a class="return-from-note" href="#note-ref-22">&crarr;</a>
					</li>
					<li id="note-23">
						Development of Agriculture in the Gaza Strip, Ministry of Agriculture, 4 Aug. 1972, גל-62960/9, ISA; ‘Mesheq Hamyim Beretzua‘t ‘Aza - Tzav
						Hamayim’ <i>Yedi‘on ‘Aza</i> 48 (1977): 1-2 [The Water Ordinance]; Roy 1995: 162–64.<a class="return-from-note" href="#note-ref-23">&crarr;</a>
					</li>
					<li id="note-24">
						Weigert 1977. <a class="return-from-note" href="#note-ref-24">&crarr;</a>
					</li>
					<li id="note-25">
						Roy 1995: 230–31. <a class="return-from-note" href="#note-ref-25">&crarr;</a>
					</li>
					<li id="note-26">
						Dayan 1976: 407. <a class="return-from-note" href="#note-ref-26">&crarr;</a>
					</li>
					<li id="note-27">
						‘Nadwa li-Muzara‘i Hudar al-Tasdir’, <i>al-Zira‘a wa al-Rakha‘</i> 9 (1973): 1; ‘Tartibat Jadida li-Hudar al-Tasdir’, <i>al-Zira‘a wa al-Rakha‘</i> 20 (1974):
						1; ‘Ahamiyyat Tasdir al-Hudar’, <i>al-Zira‘a wa al-Rakha‘</i> 27 (1975): 1; ‘Jawa’iz Tashji‘ li’l-Muzari‘in’, <i>al-Zira‘a wa al-Rakha‘</i> 54 (1977): 1. <a class="return-from-note" href="#note-ref-27">&crarr;</a>
					</li>
					<li id="note-28">
						Roy 1995. <a class="return-from-note" href="#note-ref-28">&crarr;</a>
					</li>
					<li id="note-29">
						‘Analysis of Ownership and Occupation of the Coastal Sands Dunes Extended from Jaffa to Rafah’, 1945, 1945, מ-22/2, ISA [129]. <a class="return-from-note" href="#note-ref-29">&crarr;</a>
					</li>
					<li id="note-30">
						Bunton 2007: 36–37, 43–44; On the concept of Mawat, see also in <i>Grasping Soil</i>, <a href="/units/4-soil-as-belonging#day-3">‘Unit 4: Soil as Belonging’, Soil as Property and Properties of Soil</a>. <a class="return-from-note" href="#note-ref-30">&crarr;</a>
					</li>
					<li id="note-31">
						Halevy 2023: 537–64. <a class="return-from-note" href="#note-ref-31">&crarr;</a>
					</li>
					<li id="note-32">
						Taylor 1946: 10; On British understanding of Palestine as land of plenty ravaged by the Bedouin and the goats, see Novick 2023: 47–58. <a class="return-from-note" href="#note-ref-32">&crarr;</a>
					</li>
					<li id="note-33">
						Taylor 1946: 12. <a class="return-from-note" href="#note-ref-33">&crarr;</a>
					</li>
					<li id="note-34">
						On the long history of state struggle against sand drift by afforestation, see De Freitas 2025: 29–89; Bennett 2011: 125–45. <a class="return-from-note" href="#note-ref-34">&crarr;</a>
					</li>
					<li id="note-35">
						El-Eini 2006: 189–240; Tear 1925; Tear 1927. <a class="return-from-note" href="#note-ref-35">&crarr;</a>
					</li>
					<li id="note-36">
						By 1945, the sand dunes area in Palestine from Jaffa to Rafah (the southern border of Palestine) amounted to 312,000 dunams. Out of
						this area, 197,448 dunams (63%) were successfully registered as State Domain by the ‘Land Settlement’ process in the 1930s. 44,142
						dunams (22%) of the total State Domain in the sands from Jaffa to Rafah were marked as a forest reserve, but only 6,991 (16%) dunams
						were successfully planted. See ‘Analysis of Ownership and Occupation of the Coastal Sands Dunes Extended from Jaffa to Rafah’, 1945, 1945, מ-22/2, ISA [129]. <a class="return-from-note" href="#note-ref-36">&crarr;</a>
					</li>
					<li id="note-37">
						The Palestinian share of lands leased from the British government in traditionally cultivable soils was significantly bigger than the
						Zionist one. However, in the coastal plain the case was exactly the opposite. In the Haifa subdistrict, Jewish companies were granted
						by the government 37,100 dunams, while Arab leaseholds amounted to 1,117 dunams. 29,000 dunams of this Jewish land were a concession
						for the Palestine Jewish Colonization Association in the Caesarea dunes and ‘Atlit marshes, and some 10,000 dunams were the sands of
						the Haifa-Acre Bay leased to the Gav Yam Co. In the subdistrict of Tul Karem, where the Jewish city of Netanya was established, 6,554
						dunams were leased to Jews and only 432 to Arabs. 5,000 dunams of those lands were the dunes of Ghabat Kfar Sur, allocated for the
						Zionist Hanote’a company to develop the city of Netanya. In the Jaffa subdistrict, 7,700 dunams became Jewish compared to a single
						Arab dunam, based on lands allocated to Tel Aviv north of the wadi ‘Uja (Today: Hayarkon) from the village of Shaikh Mu’anis and land
						in dunes south of Jaffa leased to the Jewish National Fund (JNF), Shikun Co., and the Palestine Land Development Company. Further
						south, 8,475 dunams of sand were given to the Rishon Le’tzion colony. The only coastal subdistrict where this relationship was the
						opposite was Gaza, in which Jewish presence was scarce. See Tyler 2001: 33–36; מ-300/7, ISA [p.143]; Summary of the State Owned
						lands, 1 May 1949, גל-19704/4, ISA. <a class="return-from-note" href="#note-ref-37">&crarr;</a>
					</li>
					<li id="note-38">
						Application for Grant from Colonial Development Fund, 1945, מ-22/2, ISA; Wicker 1958, 170–92. <a class="return-from-note" href="#note-ref-38">&crarr;</a>
					</li>
					<li id="note-39">
						Halevy 2021: 293–303, 328–31, 374–85. <a class="return-from-note" href="#note-ref-39">&crarr;</a>
					</li>
					<li id="note-40">
						Filiu 2014: 57–72. <a class="return-from-note" href="#note-ref-40">&crarr;</a>
					</li>
					<li id="note-41">
						Gallagher 2007: 64, 68, 73; Halevy 2024: 43–44. <a class="return-from-note" href="#note-ref-41">&crarr;</a>
					</li>
					<li id="note-42">
						<i></i>Din Veheshbon Shnat Hamimshal Ha-14: 1979–1980</i> (IDF: Mifkedet Ezor Retsu‘at ‘Aza, 1980) [Report of the IDF Military Administration in the Gaza Strip, 1980], 5–75. <a class="return-from-note" href="#note-ref-42">&crarr;</a>
					</li>
					<li id="note-43">
						‘Retzu‘at ‘Aza Utzfon Sinai’, 1970, ISA, א-7311/6 [The Gaza Strip and Northern Sinai Settlement]; <i>Din Veheshbon Shnat Hamimshal Ha-14: 1979–1980</i>
						(IDF: Mifkedet Ezor Retsu‘at ‘Aza, 1980) [Report of the IDF Military Administration in the Gaza Strip, 1980], 5–75. <a class="return-from-note" href="#note-ref-43">&crarr;</a>
					</li>
					<li id="note-44">
						‘Gush Qatif: Programa Litihnun Hayishuvim’, 1975, גל-43387/2, ISA [A Program for Settlement Planning of Gush Qatif]; <i>Din Veheshbon Shnat Hamimshal Hatshi‘it 1975–1976</i>
						(IDF: Mifkedet Ezor Retsu‘at ‘Aza, 1976) [Report of the IDF Military Administration in the Gaza Strip, 1976], 86; ‘Amir Shapira, ‘Ta‘am Halehima ‘al Sumayri’, <i>‘Al Hamishmar</i>,
						8 Nov. 1976, 4 [The Reason for the Struggle Over Sumayri]; Ibid, ‘Qatif Tmurat Hapitha’, <i>‘Al Hamishmar</i>, 11 Nov. 1976, 4; On the conflating schemes between
						refugee resettlement and Jewish settlement in the Gaza Strip, see Abreek-Zubiedat 2025: 68–94. <a class="return-from-note" href="#note-ref-44">&crarr;</a>
					</li>
					<li id="note-45">
						Reifenberg 1955: 47–48. <a class="return-from-note" href="#note-ref-45">&crarr;</a>
					</li>
					<li id="note-46">
						Ibid, 98. <a class="return-from-note" href="#note-ref-46">&crarr;</a>
					</li>
					<li id="note-47">
						Governmental Settlement Commission Meeting Protocol, 4 Feb. 1975, ג-13092/10, ISA. [41] <a class="return-from-note" href="#note-ref-47">&crarr;</a>
					</li>
					<li id="note-48">
						Ibid. <a class="return-from-note" href="#note-ref-48">&crarr;</a>
					</li>
					<li id="note-49">
						Abreek-Zubeidat 2025: 145–47. <a class="return-from-note" href="#note-ref-49">&crarr;</a>
					</li>
					<li id="note-50">
						Dov Meron, Archaeological Officer of the Military Administration to the Gaza Military Administration Assets Division, 20 Oct. 1983, Deir al-Balah, Israel Antiquities Authority Archives. <a class="return-from-note" href="#note-ref-50">&crarr;</a>
					</li>
					<li id="note-51">
						Lipton 2010: 3; Brandl 2010: 144. <a class="return-from-note" href="#note-ref-51">&crarr;</a>
					</li>
					<li id="note-52">
						Dothan 1992: 129. <a class="return-from-note" href="#note-ref-52">&crarr;</a>
					</li>
					<li id="note-53">
						Tsoar 1990: 51–60; Bakler 2010: 287. <a class="return-from-note" href="#note-ref-53">&crarr;</a>
					</li>
					<li id="note-54">
						Dothan 1992: 121; About the composition of the soil in the Gaza Strip underneath the dunes, see Al-Mubayyid 1987 28–33. <a class="return-from-note" href="#note-ref-54">&crarr;</a>
					</li>
					<li id="note-55">
						Huberman 2005: 61. <a class="return-from-note" href="#note-ref-55">&crarr;</a>
					</li>
					<li id="note-56">
						Roy 1987: 69, 81. <a class="return-from-note" href="#note-ref-56">&crarr;</a>
					</li>
					<li id="note-57">
						Nir Hasson, ‘Hozrim Lehasa ‘im Tola‘im’, <i>Haaretz</i>, 2 Feb. 2005 [Back to Lettuce with Insects]; Yehoshua Simon, ‘Hasa Vehalila’,
						<i>Globes</i>, 19 July 2005 [God Forbid].  <a class="return-from-note" href="#note-ref-57">&crarr;</a>
					</li>
					<li id="note-58">
						Kobi Nahshoni, ‘Harav ‘Amar: Yerakot Alim Lelo Tola‘im Mesukanim’, <i>Ynet</i>, 1 Nov. 2012. <a class="return-from-note" href="#note-ref-58">&crarr;</a>
					</li>
				</ol>

				<hr class="essay-footer" />

				<h2 class="essay-footer">References</h2>

				<h3 class="footer-subhead">Newspapers and Magazines</h3>

				<ul class="references">
					<li><i>Al-Zira‘a wa al-Rakha</i> (Arabic)</li>
					<li><i>Yedi‘on ‘Aza</i> (Hebrew)</li>
					<li><i>Ha‘olam Haze</i> (Hebrew)</li>
					<li><i>Haaretz</i> (Hebrew)</li>
					<li><i>‘Al Hamishmar</i> (Hebrew)</li>
					<li><i>Ynet</i> (Hebrew)</li>
					<li><i>Davar</i> (Hebrew)</li>
					<li><i>Independent</i></li>
					<li><i>New York Times</i></li>
				</ul>

				<h3 class="footer-subhead">Archives</h3>

				<ul class="references">
					<li>Israel State Archive</li>
					<li>IDF Archive</li>
					<li>Israel Antiquities Authority Archive</li>
				</ul>

				<h3 class="footer-subhead">Books and Articles</h3>

				<ul class="references">
					<li>
						Abed Rabo, O. 2024. ‘Archaeology and the Cultural and Natural Heritage: A Tool to Grab Land for Colonization and Expropriation on the West Bank’. <i>Policy Papers of the Institute for Palestine Studies</i>.
						<a href="https://www.palestine-studies.org/en/node/1655941" target="_blank" rel="noopener noreferrer">https://www.palestine-studies.org/en/node/1655941</a>
					</li>
					<li>
						Abreek-Zubiedat, F. 2025. <i>A Territory in Conflict: Eras of Development and Urban Architecture in Gaza</i>. Pittsburg: Pittsburg University Press.
					</li>
					<li>
						Abu al-Niml, Hussein. 1979. <i>Qita‘ Ghazza 1948–1967</i>. Bayrut: Markaz al-Abhath fi Munazamat al-Tahrir al-Filastiniyya.
					</li>
					<li>
						Anon. 1972. ‘Deir el-Balah’. <i>Hadashot Arkheologiyot</i> 43: 22–23.
					</li>
					<li>
						Bakler, N. 2010. ‘The Geological Background of the Deir al-Balah Site’. <i>Qedem</i> 49: 287–88.
					</li>
					<li>
						Ben-Bassat, Y. and J. Buessow. 2024. <i>Late Ottoman Gaza: An Eastern Mediterranean Hub in Transformation</i>. Cambridge: Cambridge University Press.
					</li>
					<li>
						Brandl, B. 2010. ‘The Stratigraphy of the Settlement’. <i>Qedem</i> 49: 62–114.
					</li>
					<li>
						Brett, M.B. 2011. ‘A Global History of Australian Trees’. <i>Journal of the History of Biology</i> <b>44</b> (1): 125–45.
					</li>
					<li>
						Bunton, M.P. 2007. <i>Colonial Land Policies in Palestine, 1917–1936</i>. New York: Oxford University Press.
					</li>
					<li>
						Cossali, P. and C. Robson. <i>Stateless in Gaza</i>. London: Zed Books.
					</li>
					<li>
						Dayan, M. 1976. <i>Moshe Dayan: Story of My Life</i>. New York: Morrow.
					</li>
					<li>
						Dothan, T. 1972. ‘The Cemetery near Deir el-Balah and Burial in Anthropoid Sarcophagi in Eretz-Israel’. <i>Qadmoniot</i> <b>1</b> (17): 21–25.
					</li>
					<li>
						Dothan, T. 1978. Excavations at the Cemetery of Deir al-Balah. Jerusalem: <i>Qedem</i> (no.10).
					</li>
					<li>
						Dothan, T. 1992. <i>People of the Sea: The Search for the Philistines</i>. New York: Macmillan.
					</li>
					<li>
						Dothan, T. 2010. ‘Introduction’. <i>Qedem</i> 49: XXVII–XXXVI.
					</li>
					<li>
						Dothan, T. and Y. Bet-Arieh. 1972. ‘Rescue Excavations at Deir el-Balah’. <i>Qadmoniyot</i> <b>1</b> (17): 26.
					</li>
					<li>
						Dothan, T. and B. Brandl. 2010. <i>Qedem 49: Deir al-Balah: Excavations in 1977–1982 in the Cemetery and Settlement</i>. Jerusalem: Institute of Archaeology, Hebrew University.
					</li>
					<li>
						El-Eini, R. 2006. <i>Mandated Landscape: British Imperial Rule in Palestine, 1929–1948</i>. New York: Routledge.
					</li>
					<li>
						Filiu, J.P. 2014. <i>Gaza: A History</i>. New York: Oxford University Press.
					</li>
					<li>
						Gallagher, N. 2007. <i>Quakers in the Israeli–Palestinian Conflict: The Dilemmas of NGO Humanitarian Activism</i>. Cairo: American University in Cairo.
					</li>
					<li>
						Gaspar De Freitas, J. 2025. <i>A Global Environmental History of Coastal Dunes</i>. Oxford: Taylor & Francis.
					</li>
					<li>
						Greenberg, R. and A. Keinan. 2007. ‘The Present Past of the Israeli-Palestinian Conflict: Israeli Archaeology in the West Bank and East Jerusalem Since 1967’.
						<i>The S. Daniel Abraham Center for International and Regional Studies</i>, Research Paper No. 1, pp. 5–57.
					</li>
					<li>
						Halevy, D. 2021. <i>Stripped: Ruination, Liminality and Making of the Gaza Strip</i>. Ph.D. Diss., Columbia University.
					</li>
					<li>
						Halevy, D. 2023. ‘Sand and the City: On Colonial Development and Its Evasive Enemies in Twentieth-Century Palestine’. <i>Environment and History</i> <b>29</b> (4): 537–64.
					</li>
					<li>
						Halevy, D. 2024. ‘Sawafi al-Raml: Sandiness and the Palestinian Refugee’. <i>Syrian Studies Association Bulletin</i> <b>28</b> (1): 43–44.
					</li>
					<li>
						Huberman, H. 2005. <i>Shorashim Baholot: Sipur Hahityashvut Hayehudit Behevel ‘Aza</i>. Netzarim: Midreshet Netzarim.
					</li>
					<li>
						Kletter, R. 2003. ‘A Very General Archaeologist—Moshe Dayan and Israeli Archaeology’. <i>The Journal of Hebrew Scriptures</i> 4.
						<a href="https://jhsonline.org/index.php/jhs/article/view/5856/4909" target="_blank" rel="noopener noreferrer">https://jhsonline.org/index.php/jhs/article/view/5856/4909</a>.
					</li>
					<li>
						Kletter, R. 2006. <i>Just Past? The Making of Israeli Archeology</i>. New York: Routledge.
					</li>
					<li>
						Lipton, G. 2010. ‘The Excavation of the Cemetery’. <i>Qedem</i> 49: 3–46.
					</li>
					<li>
						Al-Mubayyid, S.A. 1987. <i>Ghazza Waqita‘iha</i>. Cairo: Al-Hay’a al-Masriyya al-‘Ama Li’l Kitab.
					</li>
					<li>
						Novick, T. 2023. <i>Milk and Honey: Technologies of Plenty in the Making of a Holy Land</i>. Cambridge: The MIT Press.
					</li>
					<li>
						Reifenberg, Adolf. 1955. <i>The Struggle between the Desert and the Sown: Rise and Fall of Agriculture in the Levant</i>. Jerusalem: Publishing Department of the Jewish Agency.
					</li>
					<li>
						Roskin, J. and I. Taxel. 2021. ‘“He Who Revives Dead Land”: Groundwater Harvesting Agroecosystems in Sand along the Southeastern Mediterranean
						Coast since Early Medieval Times’. <i>Mediterranean Geoscience Reviews</i> 3: 293–318.
					</li>
					<li>
						Roy, S. 1987. ‘The Gaza Strip: A Case of Economic De-Development’. <i>Journal of Palestine Studies</i> <b>17</b> (1).
					</li>
					<li>
						Roy, S. 1995. <i>The Gaza Strip: The Political Economy of De-Development</i>. Washington, DC: The Institute For Palestine Studies.
					</li>
					<li>
						Taylor, H. 1946. <i>Soil Conservation Board Bulletin No. 2: The Destruction of Soil in Palestine</i>. Jerusalem: Government of Palestine.
					</li>
					<li>
						Tear, F.J. 1925. ‘Sand Dune Reclamation in Palestine’. <i>Empire Forestry Journal</i> <b>4</b> (1): 24–38.
					</li>
					<li>
						Tear, F.J. 1927. ‘Sand Dune Reclamation in Palestine’. <i>Empire Forestry Journal</i> <b>6</b> (1): 85–93.
					</li>
					<li>
						Tsoar, H. 1990. ‘Trends in the Development of Sand Dunes Along the Southeastern Mediterranean Coast’. <i>Catena Supplement</i> 18: 51–60
					</li>
					<li>
						Tsoar, H. and Y. Zohar. 1985. ‘Desert Dune Sand and Its Potential for Modern Agricultural Development’. In Y. Gradus (ed.)
						<i>Desert Development</i> 4. Dordrecht: Springer Netherlands. pp.184–200.
					</li>
					<li>
						Warwick, P.N.T. 2001. <i>State Lands and Rural Development in Mandatory Palestine, 1920–1948</i>. Brighton: Sussex Academic Press.
					</li>
					<li>
						Weigert, G. 1977. <i>Flourishing Deserts: The ‘Green Revolution’ in the Gaza Strip</i>. Jerusalem.
					</li>
					<li>
						Weizman, E. 2017. <i>Hollow Land: Israel’s Architecture of Occupation</i>. New York: Verso.
					</li>
					<li>
						Wicker, E.R. 1958. ‘Colonial Development and Welfare, 1929–1957: The Evolution of a Policy’. <i>Social and Economic Studies</i> <b>7</b> (4): 170–92.
					</li>
				</ul>
			</LongFormContent>
		</PageContent>
	</main>
</Layout>
