---
import Layout from "../../layouts/Layout.astro";

import EssayHeader from "../../components/EssayHeader.astro";
import LongFormContent from "../../components/LongFormContent.astro";
import PageContent from "../../components/PageContent.astro";
---
<Layout>
	<main>
		<PageContent>
			<LongFormContent>
				<EssayHeader
					locationTag="Ndungu, Tanzania"
					title="Knowing Soil as a Living Thing, Treating it as a Non-Living Body: Contradictory Forms of Care"
					byline="Lulu Tessua"
				/>
				<p>
					Ndungu is a village in the Kilimanjaro region under the foothills of the Pare mountains of North-Eastern Tanzania. The village is located in
					South Pare along the Mkomazi river basin. When a traveller passes by the main road, Ndungu gives the impression of a semi-arid place. There are
					scattered thorny bushes and a dry, stony and dusty appearance with a few green trees. But Ndungu is blessed with the flow of the Yongoma river,
					which turns one side of the village into an oasis with endless possibilities of agricultural development. The promising flow of the Yongoma
					gave way to a period of agricultural modernity when the Japan International Cooperation Agency (JICA) funded a rice farming project in 1988.
				</p>
				<p>
					Japanese aid projects first emerged in the Kilimanjaro region in the late 1980s in the waning days of <i>Ujamaa</i>. <i>Ujamaa</i> was President
					Nyerere’s policy of African socialism; a framework for development that, among other things, focused on rural, agricultural projects often
					undertaken with foreign aid partners.<sup class="note" id="note-ref-1"><a href="#note-1">1</a></sup> In the second five-year plan (1969–1974),
					the government of Tanzania introduced and implemented a decentralisation policy.<sup class="note" id="note-ref-2"><a href="#note-2">2</a></sup>
					Each region was urged to plan for its own development while the central government remained a general overseer.<sup class="note" id="note-ref-3"><a href="#note-3">3</a></sup>
					Japan was asked to assist in Kilimanjaro.
				</p>
				<p>
					The first project in Lower Moshi, the northern part of the Kilimanjaro region, was handed over to the government in 1987.<sup class="note" id="note-ref-4"><a href="#note-4">4</a></sup>
					This essay, however, is about the second project that was built in Ndungu. It was coined as a ‘pilot project’ to help farmers in the Mkomazi
					valley basin learn modern ways of rice farming from the Japanese.<sup class="note" id="note-ref-5"><a href="#note-5">5</a></sup> The project
					was named the Ndungu Agricultural Development Project (NADP). One of the Japanese experts interviewed for the study considered the two projects
					in Kilimanjaro ‘special projects among many others in Africa’ as they were intended to replicate Japanese standard irrigation schemes in terms
					of infrastructure, technology and farming methods.
				</p>
			</LongFormContent>
		</PageContent>
	</main>
</Layout>
