---
import Layout from "../../layouts/Layout.astro";

import EssayHeader from "../../components/EssayHeader.astro";
import LongFormContent from "../../components/LongFormContent.astro";
import PageContent from "../../components/PageContent.astro";
---

<Layout>
	<main>
		<PageContent>
			<LongFormContent>
				<EssayHeader
					locationTag="Appalachia, USA"
					title="Mountains Become Wasteland"
					byline="Steven Stoll"
				/>
				<div>
					Figure 1. A dragline in southern West Virginia, 2010. Note the size of the bulldozer and truck in comparison. Photo by Mark’s Photo, under licence from Getty Images.
					[Alt text: A dragline operates in a strip mine]
				</div>
				<p>
					On a spring morning in 1966, a retired coal miner named Ellis Bailey awoke to a rockslide that
					crushed part of his house, engulfed his car, wrecked his garden and polluted the spring that
					provided drinking water to his family and cattle. The debris fell from a strip mine 600 feet
					above his farm on Toney Fork, near the town of Clear Creek in Raleigh County, West Virginia.
				</p>
				<p>
					In <i>Before the Mountain Was Moved</i> (1970), Bailey and his family recreate that day for
					filmmaker Robert Sharpe, using a pickaxe against the muddy spoil that still trapped their car a
					year after the event. At 66 years old, living on $94 a month, he resents that coal mining first
					ruined his lungs, then ruined his farm and those of his neighbours. ‘Whole towns gets covered up’,
					says Bailey in the film, ‘whole roads gets blocked, whole rivers dammed up. There’s no way that I
					see to stop it. It’s a barren land left worthless.’<sup class="note" id="note-ref-1"><a href="#note-1">1</a></sup>
				</p>
				<p>
					It begins by clear-cutting and burning the forested landscape. Bulldozers cut a horizontal shelf
					or bench into the slope where workers pile a series of spoil banks, long berms or ridges of
					torn-away earth. Then they build the dragline excavator: a colossal walking crane-like machine,
					200 feet tall, weighing 10,000 tons, with a bucket that can bite and lug 100 cubic yards of earth,
					equivalent to the volume of two and a half forty-foot shipping containers. The dragline disgorges this
					<i>overburden</i> into the adjacent hollows, their ferny creeks and shrubby glades never to be seen again.
				</p>
				<p>
					The burdens extend well beyond the process of ‘valley fill’, shooting fissures from the substrate
					into communities. Blasting sends out shockwaves that can crack the foundations of houses. The constant
					boom and rumble cause anxiety. Clouds from explosions envelop communities in fine dust and chemicals. Rainwater
					laden with acid, a chemical reaction of sulphur-bearing minerals exposed to oxygen, seeps out of the bottom
					of entombed hollows into watersheds, turning rivers a burnt shade of orange, killing fish and birds.
					‘Just a few months ago there were crawfish here, and now there’s not a minnow’, says one of Bailey’s
					neighbours, ‘There’s not a living thing in this here creek whatever.’ Debris tumbles down creeks, causing
					flooding. A torrent of boulders came smashing into a woman’s yard. She asked a mine worker who would come
					to remove it and repair the damage. ‘He just looked at me and laughed.’<sup class="note" id="note-ref-2"><a href="#note-2">2</a></sup>
				</p>
				<p>
					The coal itself causes suffering and conflict. It requires washing and crushing, which leeches a noxious
					slurry of heavy metals that companies slough off into putrid pools behind impoundment dams. In February 1972,
					just such a dam collapsed in Logan County, West Virginia, releasing a thirty-foot-high tsunami of sludge down
					Buffalo Creek. Moving at seven feet per second, it crushed everything in its path for seventeen miles, killing
					125 people. Just as carcinoma can spread beyond its lesions, the lethality of mountaintop removal proliferates
					from mine to hollow to river, from lungs to brains to the next generation.<sup class="note" id="note-ref-3"><a href="#note-3">3</a></sup>
				</p>
				<p>
					But everyone who lived in the mountains during those years also told another story about land and soil. Toxic
					sludge and the debris from strip mines were not only deadly but also a moral insult. They not only destroyed
					life and property but also buried the rural cemeteries found all over Appalachia. Community burial grounds hold
					the bodies of ancestors. Headstones record the bare details of lives so that loved ones might not be forgotten.
					Soil not only fed and employed them but also represented their tenuous hold on the landscape and their final
					places of rest. Between 1967 and 1977, citizens in southern West Virginia asserted that no amount of money
					justified the destruction of their homes and cemeteries by flyrock, blasting and toxicity. A working-class
					coalition of Black and White activists challenged the acquiescence to power that strip mining stood upon.
					They challenged the strange economy that turned the places they held sacred into waste.
				</p>
				<p>
					<i>Waste</i> comes from Latin (<i>vāstum</i>) by way of Old French and arrived in English by the thirteenth
					century for places wild, desolate, uncultivated and uninhabited. This sense was most prevalent in England,
					where <i>lying in waste</i> doesn’t describe the uselessness of land but only whether it can be cultivated
					or improved. A waste might be terrific for hunting, foraging and extensive livestock grazing, uses considered
					inferior by lords but beloved by peasants. The mountains of Appalachia had always been waste in this sense:
					The land is impossible to cultivate by the standard of commercial agriculture, but productive and invaluable
					for the wild foods and other gifts it provided.
				</p>
				<p>
					Over the centuries, a word for something needless or superfluous (fourteenth century) developed into something
					thrown out or eliminated as worthless (seventeenth century), then denoted an organism’s excreta (nineteenth century).
					Industrialisation introduced <i>wastewater</i>, <i>waste collector</i> and <i>waste heap</i>, along with <i>waste place</i>,
					a neglected or abandoned site. <i>Wasteland</i> is more complicated. For a long time, it appeared as two words for
					waste in the old English sense. It took on a sense of purposeful ruin after 1900, most notably in T.S. Eliot’s
					1922 poem <i>The Waste Land</i>. The term became commonplace. A story in <i>The Reader’s Digest</i> from 1938
					mentions New Jersey as ‘a happy hunting ground for industrialists seeking to dodge strict regulatory laws … an
					industrial wasteland inhabited by immigrants’.<sup class="note" id="note-ref-4"><a href="#note-4">4</a></sup>
				</p>
				<p>
					Like organisms, systems produce waste. Frogs eat crickets; draglines consume diesel fuel. Both convert high-order
					matter into energy, expelling low-order leftover. But frogs and draglines differ in every other way. The energy
					that powers any technology comes from people interacting with each other and the environment through institutions.
					There’s no better example than coal mining, which requires bankers, corporate managers, workers, politicians
					and engineers, all brought together to remove a black mineral from deep under the earth. Energy is a social product,
					not something that comes from the environment as we find it and experience it. And while the environment immediately
					absorbs a frog’s waste, the waste from coal mining generally and the dragline in particular includes chemicals and metals
					that must be impounded to prevent them from entering rivers and streams where they kill fish and birds.<sup class="note" id="note-ref-5"><a href="#note-5">5</a></sup>
				</p>
				<p>
					Beginning in the 1830s, when coal-burning engines overtook waterpower as the prime mover in English manufacturing,
					the offloading of waste onto society emerged as one of the essential premises of industrial capitalism. No company
					could internalise smoke, soot, slag and ash, and none considered it. Owners and managers began to regard waste in
					all its forms as the unavoidable consequence of what they called a civilisational necessity. ‘When systems are dominant’,
					explain Liboiron and Lepawsky, ‘what they devalue and discard becomes widespread, normalised, and systematic even when
					some people do not want to participate in those systems.’<sup class="note" id="note-ref-6"><a href="#note-6">6</a></sup>
				</p>
				<p>
					For a century before the Civil War, eastern elites bought up hundreds of thousands of acres in the highland counties
					of Pennsylvania, Virginia, Kentucky and Tennessee, mostly for speculation. The people who lived in the mountains hunted,
					foraged and gardened at will on endless realms of wooded real estate, regarding these absentee estates as common property.
					After the Civil War, joint-stock companies began to buy up the old deeds, using courts to eject tens of thousands of
					Appalachian households to clear their titles and resell the land to logging and mining companies.
				</p>
				<p>
					Digging a tunnel into a mountain left the landscape mostly intact. But there was always another method. Surface mining
					(a general term that includes strip mining and mountaintop removal) also caused little damage. Human labour and the
					first digging machines could only reach shallow veins, leaving pits in the forest like the craters of tiny meteorites.
					During the crucial decades of the American Industrial Revolution, armies of men descended into the depths of the earth,
					breathing coal dust and risking tunnel collapse. Then, after the Second World War, surface mining returned. More powerful
					machinery made it possible, but the economic motive was more consequential: competition from liquid fossil fuels. Oil
					requires fewer workers than coal. It can be moved through pipes, without trucks or trains. Its relative cheapness
					undercut underground mining. Mining companies responded to stagnating profits by using bulldozers and dragline
					excavators to mechanise nearly every facet of extraction, doubling the productivity of each worker.
				</p>
				<p>
					Strip mining might be the most striking example of how the commodity form of land can serve as a mechanism for taking
					control away from communities. In most states, towns and counties write their own zoning ordinances. But several states,
					including West Virginia, can override any local decision. By issuing strip-mining permits, the state of West Virginia
					allows corporations to operate almost entirely beyond the control of the people who are most affected. Ravaging the
					landscape seems like a strange strategy for economic growth, but since its founding during the Civil War, West Virginia
					has behaved like a developing country, selling off its resources and offering up its residents as labour. Its elected
					officials could participate in a version of modernity, in which they join the industrial world as its source of industrial
					power. Seldom, if ever, in human history, except during war, have people faced the intentional annihilation of their environment.
				</p>
				<hr />
				<div>
					Figure 2. A family cemetery in West Virginia. Strip mining operations often bury these burial grounds in debris. Photo by John Nicely (s.d.), public domain from Library of Congress, Prints & Photographs Division, HABS survey.
					[Alt text: Scattered headstones in a rural cemetery on a hillside in West Virginia.]
				</div>
				<p>
					Early in the film, Ellis Bailey is buying groceries when he confronts a coal worker named Robert Kincaid. People in
					town knew that Bailey and a few neighbours were soon driving to Charleston to lobby the state Senate for a law to
					protect them from damage and poisoning. Kincaid tells Bailey that he won’t change a thing.<sup class="note" id="note-ref-7"><a href="#note-7">7</a></sup>
				</p>
				<p>
					That’s when Bailey mentions the cemetery. Burial and the desecration of graves haunt the film, which opens with Bailey
					pausing at his parents’ graves. Rural cemeteries are highly vulnerable to destruction by strip mining, lacking legal
					protection. The only people who guard and maintain them are families and communities, who, if they look away, might
					find that the only evidence their ancestors ever lived had been dumped on, crushed by machinery or bulldozed away.
					Bailey wants the same internment his parents had, the community releasing his body to the earth’s embrace, and in a
					location where his children could pause to remember. Kincaid says the company can move the cemetery, but Bailey doubts
					that. ‘I don’t see how you’re going to put a man back in his box and put him in the ground … You may not dig him up,
					but you’ll cover him up so deep that he’ll never be got at!’
				</p>
				<p>
					Another Appalachian activist, the attorney Harry Caudill of Kentucky, captures this sense of violation. ‘I lament the
					utter ruination of the hills of my own homeland and the assault surface mining has made on people of my blood and name …
					I have seen the shattered roofs, the broken grave-stones.’ (By using <i>homeland</i> to make this claim, Caudill effaces
					previous indigenous possessors and <i>their</i> graves.) ‘In Knott County, Kentucky’, wrote Caudill, ‘Mrs. Bige Ritchie
					saw the coffin of her infant son flung up by a bulldozer.’ Both Bailey and Caudill regarded cemeteries as a custom,
					a hold or limit asserted by a community on the actions of people in power, a longstanding folk practice that people
					assert as having the force of law, in this case, one insisted upon by the living in their care of their dead.
					Mountain residents often located burial grounds on the tops of mountains and facing east, ready for the rising
					sun of Easter morning. They’re not willing to have their dead forklifted out of the way for someone’s convenience,
					and they consider any disturbance immoral.<sup class="note" id="note-ref-8"><a href="#note-8">8</a></sup>
				</p>
				<p>
					The desecration of cemeteries by strip-mine companies might not be intentional, but it represents a more expansive
					ideological position – the redemptive power of industry to wipe away the idiosyncrasies of Appalachia. Nothing,
					says Kincaid, will stop money and modernity, certainly not the Raleigh County Community Action Association (RCCAA),
					the anti-poverty civil-rights organization to which Bailey belongs.
				</p>
				<blockquote>
					<p>
						Kincaid: You think we’re going to move our machinery out of that holler on account of you? No sir, never
						happen … We ain’t trying to move you; we tried to buy you out and you won’t sell ... We offered you jobs …
						and you won’t work! ‘No, I got my little farm take care of … My little farm’ – that’s all you study about …
						‘My little farm!’
					</p>
					<p>
						Bailey: My little farm is going to be there when the stripper is gone! …
					</p>
					<p>
						Kincaid: When you and the Community Action get through, we’re still gonna be stripping coal – understand
						that buddy!
					</p>
				</blockquote>
				<p>
					Kincaid sees Bailey’s sloping pasture along the winding fork as a stubborn remnant, as waste in another
					sense – misallocated labour, time and land. To the coal companies, it seems, strip mining annihilates the mountains
					to save them.
				</p>
				<p>
					Behind Kincaid’s argument is an unequal exchange. This is what happens when the little farm in the hollow,
					the clear-running creek and the family plot are given up for jobs and economic growth. An unequal change
					cannot be made equal with more money, as though Bailey and his neighbours could have bought a new mountain
					and installed it where the old one stood. When the landscape becomes a commodity, it can be acquired through
					the market and dis-embedded from communities, rewarding absentee ownership with profit while those under
					the dragline live in a diminished environment.<sup class="note" id="note-ref-9"><a href="#note-9">9</a></sup>
				</p>
				<hr />
				<p>
					Bailey and his neighbours drive to the Capitol in Charleston to lobby for a regulatory law. They elect Bailey
					to address the legislature. ‘I’m not an educated man’, he began,
				</p>
				<blockquote>
					don’t know how to speak much, but I’m here to state the facts of what’s happening in Raleigh County of West
					Virginia … I have sixty-five acres of land. This land is almost washed away. The ponds washed full of
					water, my cattle have nowhere to drink … Our roads are rot in our area, our culverts is filled up, our
					creek beds is filled up ... Every man should have his own right, but the poor man’s right is being destroyed
					right today. And the strip mine has done more to destroy the poor class of people than anything
					that’s ever hit our area.<sup class="note" id="note-ref-10"><a href="#note-10">10</a></sup>
				</blockquote>
				<p>
					After months of advocacy, poor people in counties throughout the state convinced elected officials to pass
					the West Virginia Surface Mining Act of 1967. On the face of it, they could claim a significant victory.
					The legislature determined that strip mining ‘destroys or impairs the health, safety, welfare and property
					rights of the citizens of West Virginia’. The law regulated wastewater and backfilling and further decreed
					that ‘the Department of Natural Resources is hereby vested with jurisdiction over all aspects of surface mining,’
					including ‘restoration and reclamation’. Teams of inspectors would visit every site once a month to
					‘note all violations of law’. Citizens had overcome industry resistance and shamed the state into
					redirecting its agencies for the public good.<sup class="note" id="note-ref-11"><a href="#note-11">11</a></sup>
				</p>
				<p>
					But a year later, when they danced to Bailey’s banjo to reenact their celebration for the end of the film,
					the citizens of Raleigh County had already lost confidence in the Surface Mining Act. They realised that,
					while regulation could force coal operators to pile overburden at such and such an angle and plant grass under
					highwalls like so, it also allowed them to continue blasting mountain after mountain while claiming
					responsible behavior, offering them the imprimatur of good citizenship. At last, the public had been
					served. At last, blasting would be illegal within one hundred feet of any home. Yet they hadn’t won much
					of anything. One hundred feet was still close enough to shatter windows, a sort of metaphor for how
					regulation can legalise and fortify the thing it claims to control. The reformers realised, in short,
					that the problem with the surface mining law was surface mining.<sup class="note" id="note-ref-12"><a href="#note-12">12</a></sup>
				</p>
				<p>
					They also knew their victory could not be repeated. Before 1967, stripping operations tended to be owned
					by small companies that lacked the political sway to stop regulation. Many of these failed after the
					law’s passage, and likely because of it, forcing them to sell the most valuable thing they owned:
					their mineral rights. Absentee corporations bought those rights, subsuming at least thirty small
					coal operators by 1970. They did this in response to oil prices. From 1957 to 1973, crude fell from
					$34 to $25 a barrel, which lessened profits. At the same time, the price for a ton of bituminous coal
					increased (modestly), which attracted capital and led to further consolidation. The companies that
					absorbed local operators were themselves absorbed into the Tennessee Valley Authority, Ford Motor
					Company, Gulf Oil, Duke Power, Kennecott Copper, and other corporations whose combined land holdings
					produced forty per cent of the nation’s coal.<sup class="note" id="note-ref-13"><a href="#note-13">13</a></sup>
				</p>
				<p>
					Watching these events and stunned by the toothlessness of reform, a member of the West Virginia Senate
					introduced a bill to abolish strip mining in January 1970. Lobbyists moved in. They likely spoke privately
					to legislators the way one explained the industry’s position in print. ‘It is inconceivable to those of
					us in the industry that the state of West Virginia would be willing to sacrifice economic considerations
					of this magnitude for the sake of resolving an aesthetic problem.’ They cast the forested landscape as
					nothing more than scenery atop billions of dollars in fossilised minerals.<sup class="note" id="note-ref-14"><a href="#note-14">14</a></sup>
				</p>
				<p>
					Lawmakers buckled under the threat of unemployment, even though coal companies themselves had eliminated
					thousands of jobs over the previous thirty years by shifting from underground mining to more profitable
					mountain removal. Politicians might have felt swayed by the ethos of the times. In the emerging logic of
					neoliberalism, wreckage and misery in the interest of profit resulted in the greatest social benefit,
					and corporations began to reject responsibility to anyone other than their shareholders.
				</p>
				<p>
					When the West Virginia Legislature acted, the bill they passed paused new permits for two years, but
					only in the 22 counties where strip mining had never existed. In the other 33 counties, the blasting
					and valley fill didn’t cease. The reformers didn’t stop either; they kicked the issue to Congress.
					A representative from West Virginia introduced a bill to outlaw strip mining throughout the United
					States. ‘I can testify’, he told a Senate subcommittee in 1971, ‘that strip mining has ripped the
					guts out of our mountains … and left a trail of utter despair.’ Six years after the Buffalo Creek
					disaster, President Jimmy Carter signed the Surface Mining Control and Reclamation Act of 1977.
					It set standards for impoundment dams, but it protected those exposed to strip mining no better
					than previous laws.<sup class="note" id="note-ref-15"><a href="#note-15">15</a></sup>
				</p>
				<hr />
				<div>
					Figure 3.  The French countryside turned to wasteland during the First World War. The sign reads, ‘This Was Forges’, referring to Forges-sur-Meuse, site of the final Allied offensive. Photo by Edward Steichen (1918), public domain from Library of Congress, Prints & Photographs Division.
					[alt text: The remnants of a French town, destroyed in one of the last battles of the First World War]
				</div>
				<p>
					Another term describes the strange sense of displacement caused by strip mining. No-man’s land first
					appeared in the English Domesday book of 1086 for a location beyond the walls of London reserved for
					executions. The Western Front of the First World War introduced a new kind of no-man’s land, a zone
					of obliteration. In the five years between 1914 and 1919, nearly eighteen million soldiers and
					civilians died. The killing extended to the rural fields that served as fields of battle. Trees
					stripped to snags, the ground gullied and poisoned. ‘Over the edge of the trench … every wire
					entanglement an antinomy, every barb a definition, every explosion a thesis’, wrote the philosopher
					Walter Benjamin. ‘Deeply imbued with its own depravity, technology gave shape to the apocalyptic
					face of nature and reduced nature to silence.’<sup class="note" id="note-ref-16"><a href="#note-16">16</a></sup>
				</p>
				<p>
					Today, an estimated one million people in Appalachia live under drift clouds in ‘blast communities’,
					where they drink arsenic and breathe particulate matter. They suffer from cardiovascular disease,
					kidney failure, chronic lung disease, cancers, congenital disabilities and low birth weight, adding
					up to 1,200 early deaths every year in the four most affected states (West Virginia, eastern Kentucky,
					eastern Tennessee and southwestern Virginia), even after controlling for poverty, obesity,
					smoking and inadequate health insurance.<sup class="note" id="note-ref-17"><a href="#note-17">17</a></sup>
				</p>
				<p>
					A team of researchers measured environmental decline in the same regions. In one example, almost
					all the streams from underneath valleys filled with overburden reveal selenium concentrations high
					enough to cause deformities in larval fish and reproductive failure in birds. Algae along the
					streambeds contained 2,000 times the selenium found in the streams. Strip mining has caused this
					suffering by devastating an area the size of Vermont and New Hampshire, including 500 mountains
					blasted and 2,000 miles of river and stream buried, for the unimpressive achievement of generating
					three per cent of the electricity in the United States.<sup class="note" id="note-ref-18"><a href="#note-18">18</a></sup>
				</p>
				<p>
					West Virginia is already a no-man’s land in a different sense: Between 1950 and 2000, its population
					collapsed. Adding up births, deaths, and migration, Raleigh County fell by 45 per cent, Fayette
					by 62 per cent, Mingo and Logan by 85 and 88 per cent. McDowell County fell by 103 per cent,
					meaning that the number of residents who died and abandoned the county during that half-century
					was greater than the total residents in 1950. The state’s overall population declined by forty
					per cent.<sup class="note" id="note-ref-19"><a href="#note-19">19</a></sup>
				</p>
				<p>
					Coal companies reject the idea that strip mining creates wastelands or no-man’s lands. Every
					regulatory law enshrines restoration, as though capital and nature can be reconciled by
					scattering grass seed. The federal government’s early rules and recommendations reveal the
					absurdity of this policy. A manual from 1968 makes a few suggestions: ‘AIR QUALITY. – Help
					prevent offensive noises and air contamination by controlling use of explosives, fire, and
					motorised equipment … NATURAL BEAUTY. – Plan operations so they have a minimum impact on the
					landscape.’ The conceit of the laws is their argument that things can be put back to how
					they had been before.<sup class="note" id="note-ref-20"><a href="#note-20">20</a></sup>
				</p>
				<p>
					But putting things back isn’t everyone’s goal. Certain residents don’t see highwalls as ruins
					but as a kind of topographical improvement. In this view, draglines create blessed flatland,
					reconfiguring the zigzag of hollows into little simulations of Ohio and Indiana. In 1972, a
					writer for <i>Coal Age</i> bragged about the shopping centres, car dealerships, drive-in
					theatres and airports that could only have been built on land rendered ‘far more valuable
					than it ever was in its undisturbed condition’. As the sociologist Rebecca R. Scott explains,
					housing developments built on formally stripped land have the look and feel of suburbs in other
					parts of the country. They appeal to a managerial class looking for an escape from some of the
					stigma of Appalachia, ‘a way to become more modern, more homogeneously American’.<sup class="note" id="note-ref-21"><a href="#note-21">21</a></sup>
				</p>
				<hr />
				<p>
					In 2013, members of the Jarrell family visited a cemetery in Boone County where their relatives
					are buried. They needed permission from Alpha Natural Resources, the owner of the Twilight
					Mine that circumscribes the site. Alpha insisted on a specific date and a flurry of rules:
					hours of safety training, steel-toed boots and hard hats. After taking intrusive personal
					information, including social security numbers, company representatives brought the family
					across a gouged-out canyon to the top of a lone carved-away pillar with a tuft of trees,
					seemingly suspended in a nowhere that was once the mountain landscape. When they arrived,
					they found broken headstones.<sup class="note" id="note-ref-22"><a href="#note-22">22</a></sup>
				</p>
				<p>
					The cemetery at the top of the ridge or the bottom of the hollow appears repeatedly in the
					struggle over strip mining because it represents a violated moral boundary. But it also
					represents their lack of control over the mountains and forests that surround them. When
					land became a commodity and financial asset, it could be detached from communities. Most
					Americans embrace private property but often without confronting the contradiction that
					tormented the people of Raleigh County. They saw that the same freedom to buy and sell a
					house for all-purpose money allowed distant corporations to gain hold of the landscape
					and wreck it.
				</p>
				<p>
					It’s all the worse that, by 1970, geologists and chemists had known for decades that burning
					fossil fuels releases carbon dioxide that causes the atmosphere to heat. Yet the United States
					did not act – not then, and not until the passage of the Inflation Reduction Act of 2022.
					Most states have stopped using coal to generate electricity, but fifteen still produce most
					of their power that way. By this measure, West Virginia reigns supreme. Ninety per cent of
					its electricity comes from coal. The people there must know that the day will come when
					no one any longer will mine or burn it. An infrastructure of the future has to include
					more than infrastructure, but the ideas that invigorate democracy and environments
					together. When that happens, the mountains will be quiet again, Clear Creek will run clear
					again, and the dragline excavators will finally come to a stop, their gargantuan wheels and buckets
					rusted, stuck, and gaping.
				</p>
				<hr />
				<p>
					Ellis Bailey died in 1990 at the age of 86. He is buried in the town of Clear Creek.
				</p>
				<hr />
				<h2>Notes</h2>
				<ol>
					<li id="note-1">
						Sharpe 1970. <a href="#note-ref-1">&crarr;</a>
					</li>
					<li id="note-2">
						Ibid.; Sharpe 1971: 24; Campbell 1970; Montrie 2003: 112; John D. Rockefeller IV quoted in Burns 2007: 200. <a href="#note-ref-2">&crarr;</a>
					</li>
					<li id="note-3">
						West Virginia University Library 2022. <a href="#note-ref-3">&crarr;</a>
					</li>
					<li id="note-4">
						Libroiron and Lepawsky 2022: 71; <i>Reader’s Digest</i> 1938: 74. <a href="#note-ref-4">&crarr;</a>
					</li>
					<li id="note-5">
						This goes for machines powered by solar and wind energy no less than fossil fuels because the
						mechanism for converting any energy into mechanical power is created and adopted through social
						relationships of money, exchange, labour, and so on. Hornborg 2023: 17–18. <a href="#note-ref-5">&crarr;</a>
					</li>
					<li id="note-6">
						Liboiron and Lepawsky 2022: 77. <a href="#note-ref-6">&crarr;</a>
					</li>
					<li id="note-7">
						The film’s credits list Kincaid as portraying the stripping companies. He is mentioned in an article about
						the Raleigh County Community Action Association and might have been a member. Sharpe 1971. <a href="#note-ref-7">&crarr;</a>
					</li>
					<li id="note-8">
						On the cemeteries of Appalachia, see Maples and East 2013. Caudill 1972: 812; Caudill 1971: 142–43. Caudill
						testified that Ritchie said, ‘I thought my heart would bust in my breast … when I saw the coffins of my children
						come out of the ground and go over the hill.’ <a href="#note-ref-8">&crarr;</a>
					</li>
					<li id="note-9">
						Hornborg 2023: 40–44. <a href="#note-ref-9">&crarr;</a>
					</li>
					<li id="note-10">
						Scott (2010: 174–75) makes a similar point: ‘In the coalfields, property rights are stacked in favor of the corporations;
						the right of an individual to protect his or her little piece of land is tenuous, downright illusory, if the coal
						company that owns the hills above decides to alter the topography.’ <a href="#note-ref-10">&crarr;</a>
					</li>
					<li id="note-11">
						Congress also investigated strip mining. In 1964, Secretary of the Interior Stewart Udall testified before a House
						committee that in return for sending coal to homes and industry, Appalachia would be trashed. ‘Surface pits … reduce
						whole drainage basins into a barren wasteland. This, then, is the region’s basic dilemma. The resource which must
						produce its livelihood and can ensure its future has also been its scourge.’ The Appalachian Regional Development Act
						of 1965 included the first federal regulations for the restoration of land stripped for coal. Udall quoted in US Congress,
						House of Representatives 1964: 51–53.<a href="#note-ref-11">&crarr;</a>
					</li>
					<li id="note-12">
						The act is sometimes called the ‘regulatory law’. It has no official title. West Virginia Legislature 1967. <a href="#note-ref-12">&crarr;</a>
					</li>
					<li id="note-13">
						<i>The Highlands Voice</i> (May 1970 and February 1970). For oil prices, see
						<a href="https://www.macrotrends.net/1369/crude-oil-price-history-chart" target="_blank" rel="noopener noreferrer">https://www.macrotrends.net/1369/crude-oil-price-history-chart</a> <a href="#note-ref-13">&crarr;</a>
					</li>
					<li id="note-14">
						Testimony of Norman Williams reported by the <i>Charleston Gazette</i> (27 Feb. 1971), reprinted in <i>The Highlands Voice</i>
						(April 1971). Secretary of State John D. Rockefeller IV saw momentum building behind the prohibition bill and decided to support
						it in his run for governor. <a href="#note-ref-14">&crarr;</a>
					</li>
					<li id="note-15">
						‘West Virginia Legislature Halts Move to Abolish Surface Mining’, <i>Coal Age</i> (April 1971); ‘West Virginia Senate Votes Ban
						on Strip Mining in 36 Counties’, <i>New York Times</i> (7 March 1971). See the testimony of James Branscome in US Congress, Senate
						1971: 224–25. Montrie 2003: 122–28, 142. For coal prices, see the US Energy Information Administration,
						<a href="https://www.eia.gov/coal/" target="_blank" rel="noopener noreferrer">https://www.eia.gov/coal/</a>. The representative who
						introduced the ban in Congress was Ken Hechler (WV 4th District, 1959–1977). US Congress, Senate 1971: 168, 224–25. <a href="#note-ref-15">&crarr;</a>
					</li>
					<li id="note-16">
						Davidson 1955: 20–23; Stilgoe 1982: 220–21; Leshem and Pinkerton 2016: 50; Benjamin 1979: 163. Elsewhere, Benjamin (1968) wrote,
						‘A generation that had gone to school on a horse-drawn streetcar now stood under the open sky in a countryside in which nothing
						remained unchanged but the clouds, and beneath these clouds, in a field of force of destructive torrents and explosions, was the
						tiny, fragile human body’. The 460 square miles of Zone Rouge, including the battlefields of the Somme and Verdun, where the bones
						of 100,000 soldiers are still unburied, remain so contaminated by unexploded shells and toxins that at the present rate of restoration
						it will be uninhabitable for another 300 years. <a href="#note-ref-16">&crarr;</a>
					</li>
					<li id="note-17">
						Tony 2021. <a href="#note-ref-17">&crarr;</a>
					</li>
					<li id="note-18">
						The number of streams found with selenium was 73 out of 78 tested. The study is a digest of peer-reviewed studies. VF stands for valley fill. Palmer et al. 2010. <a href="#note-ref-18">&crarr;</a>
					</li>
					<li id="note-19">
						West Virginia Department of Health n.d. <a href="#note-ref-19">&crarr;</a>
					</li>
					<li id="note-20">
						US Department of Agriculture 1968. <a href="#note-ref-20">&crarr;</a>
					</li>
					<li id="note-21">
						Scott 2010: 173–79. Richard Kelly, editor of <i>West Virginia Illustrated</i>, quoted in ‘The Greening of West Virginia’, <i>Coal Age</i> 77 (Feb. 1972): 8–88.
						But this secondary use is often overstated by the industry. Only about 1% of formally stripped land can be used for anything. <a href="#note-ref-21">&crarr;</a>
					</li>
					<li id="note-22">
						Asbury 2013. <a href="#note-ref-22">&crarr;</a>
					</li>
				</ol>
				<hr />
				<h2>References</h2>
				<ul>
					<li>
						Asbury, Kayla. 2013. ‘Family Says Mountaintop Removal Mine Damaging Cemetery’. <i>West Virginia Record</i>, 4 October.
					</li>
					<li>
						Atwood, Genevieve. 1975. ‘The Strip-Mining of Western Coal’. <i>Scientific American</i> <b>233</b> (6): 23–29.
					</li>
					<li>
						BBC. 1974. <i>American Coal Mining</i>. Video. <a href="https://www.youtube.com/watch?v=SyFWtzTa1Go" target="_blank" rel="noopener noreferrer">https://www.youtube.com/watch?v=SyFWtzTa1Go</a>
					</li>
					<li>
						Benjamin, Walter. 1968. ‘The Storyteller: Reflections on the Works of Nikolai Leskov’. In Hannah Arendt (ed.) <i>Illuminations: Essays and Reflections</i>. New York: Shocken Books.
					</li>
					<li>
						Benjamin, Walter. 1979. ‘Theories of German Fascism: On the Collection of Essays War and Warrior, edited by Ernst Jünger’. <i>New German Critique</i> <b>17</b> (Spring): 120–28.
					</li>
					<li>
						Burns, Shirley Stewart. 2007. <i>Bringing Down the Mountains: The Impact of Mountaintop Removal on Southern West Virginia Communities</i>. Morgantown: West Virginia University Press.
					</li>
					<li>
						Campbell, Jean. 1970. ‘Strip Mining Begins Anew in Clear Fork District’. <i>Beckley Post-Herald/Raleigh Register</i> (14 and 21 June 14).
					</li>
					<li>
						Cash, Frank E. 1929. <i>Methods, Costs, and Safety in Stripping and Mining Coal, Copper Ore, Iron Ore, Bauxite, and Pebble Phosphate</i>. Washington, DC: US Department of Commerce, Bureau of Mines.
					</li>
					<li>
						Caudill, Harry M. 1972. <i>Statement of Harry M. Caudill. Regulation of Strip Mining: Hearings Before the Subcommittee on Interior and Insular Affairs</i>, US House of Representatives, Ninety-Second Congress, First Session. Washington, DC: US Government Printing Office.
					</li>
					<li>
						Caudill, Harry M. 1971. <i>My Land Is Dying</i>. New York: E. P. Dutton.
					</li>
					<li>
						<i>Charleston Gazette</i>, Charleston, WV.
					</li>
					<li>
						<i>Coal Age</i>. 1960s and 1970s. New York: McGraw-Hill Publishing.
					</li>
					<li>
						Davidson, T.D. 1955. The Untilled Field’. <i>Agricultural History Review</i> 3: 20–25.
					</li>
					<li>
						Fox, Julia. 1999. ‘Mountaintop Removal in West Virginia: An Environmental Sacrifice Zone’. <i>Organization & Environment</i> 12: 163–83.
					</li>
					<li>
						Grim, Elmore C. and Ronald D. Hill. 1972. <i>Surface Mining Methods and Techniques</i>. Washington, DC: Environmental Protection Agency.
					</li>
					<li>
						Hendryx, Michael. 2017. ‘The Shocking Danger of Mountaintop Removal—and Why It Must End’. <i>TEDMED</i>. November. <a href="https://www.ted.com" target="_blank" rel="noopener noreferrer">https://www.ted.com</a>
					</li>
					<li>
						Henn, John J. 1975. <i>Updated Cost Evaluation of Metal and Mineral Recovery Process for Treating Municipal Incinerator Residues</i>. Publication 8691. Washington, DC: US Department of the Interior, Bureau of Mines.
					</li>
					<li>
						<i>Highlands Voice</i>. N.d. Charleston, WV. West Virginia Highlands Conservancy.
					</li>
					<li>
						Hornborg, Alf. 2023. <i>The Magic of Technology: The Machine as a Transformation of Slavery</i>. New York: Routledge.
					</li>
					<li>
						Leshem, Noam and Alasdair Pinkerton. 2016. ‘Re-Inhabiting No-Man’s Land: Genealogies, Political Life and Critical Agendas’. <i>Transactions of the Institute of British Geographers</i> <b>41</b> (1): 41–53.
					</li>
					<li>
						Liboiron, Max and Josh Lepawsky. 2022. <i>Discard Studies: Wasting, Systems, and Power</i>. Cambridge: MIT Press.
					</li>
					<li>
						Lucht, William H. 1971. ‘To Strip or Not to Strip: The Pros and Cons’. <i>Register and Post-Herald</i> (16 January).
					</li>
					<li>
						Maples, James N. and Elizabeth A. East. 2013. ‘Destroying Cemeteries: Historic Mountain Cemeteries in the Coalfields of Boone, Kanawha, and Raleigh Counties, West Virginia’. <i>Journal of Appalachian Studies</i> <b>19</b> (Spring/Fall): 7–26.
					</li>
					<li>
						McPhee, John. 1992. ‘Assembling California—I: The Geology of the Golden State’. <i>The New Yorker</i>. 30 August.
					</li>
					<li>
						Montrie, Chad. 2003. <i>To Save the Land and People: A History of Opposition to Surface Coal Mining in Appalachia</i>. Berkeley and Los Ageles: University of California Press.
					</li>
					<li>
						National Research Council. 1974. <i>Rehabilitation Potential of Western Coal Lands: A Report to the Energy Policy Project of the Ford Foundation</i>. Cambridge, MA: Ballinger Publishing Company.
					</li>
					<li>
						<i>New York Times</i>.
					</li>
					<li>
						Palmer, M.A., E.S. Bernhardt, W.H. Schlesinger, K.N. Eshleman, E. Foufoula-Georgiou, M.S. Hendryx, A.D. Lemly et al. 2010. ‘Mountaintop Mining Consequences’. <i>Science</i> <b>327</b> (5962) (8 January): 148–49.
					</li>
					<li>
						<i>Reader’s Digest</i>. 1938. (July).
					</li>
					<li>
						Schmidt, Richard A. and W.C. Stoneman. 1972. <i>A Study of Surface Coal Mining in West Virginia; Final Report</i>. Menlo Park, California: Stanford Research Institute.
					</li>
					<li>
						Scott, Rebecca R. 2010. <i>Removing Mountains: Extracting Nature and Identity in the Appalachian Coalfields</i>. Minneapolis: University of Minnesota Press.
					</li>
					<li>
						Sharpe, Robert K. 1971. ‘Filming “Before the Mountain Was Moved”’. <i>Filmmakers Newsletter</i> 5.1: 24–28.
					</li>
					<li>
						Sharpe, Robert K. (dir.) 1970. <i>Before the Mountain Was Moved</i>. Robert K. Sharpe Productions for the Office of Economic Opportunity. <a href="http://archive.org/details/gov.archives.arc.53856" target="_blank" rel="noopener noreferrer">http://archive.org/details/gov.archives.arc.53856</a>
					</li>
					<li>
						Stilgoe, John R. 1982. <i>Common Landscapes of America: A Visual Guide to the American Landscape</i>. New Haven: Yale University Press.
					</li>
					<li>
						Tony, Mike. 2021. ‘Raleigh County Community Says Coal Dust from Nearby Mine Is Taking Its Breath Away’. <i>Charleston Gazette-Mail</i> (5 June).
					</li>
					<li>
						US Department of Agriculture. 1968. <i>Restoring Surface-Mined Land</i>. Miscellaneous Publication No. 1082. April.
					</li>
					<li>
						US Bureau of Mines. 1946. <i>Inspection Standards for Strip Mines (Coal and Lignite)</i>. Washington, DC: US Department of the Interior, Bureau of Mines.
					</li>
					<li>
						US Congress. House Committee on Public Works. 1974. <i>Hearings Before the Subcommittee on Public Buildings and Grounds of the Committee on Public Works</i>. Washington, DC: US Government Printing Office.
					</li>
					<li>
						US Congress. House of Representatives Subcommittee on Interior and Insular Affairs. 1971. <i>Regulation of Strip Mining</i>. Ninety-Second Congress. First Session. Washington, DC: Government Printing Office.
					</li>
					<li>
						US Congress. House of Representatives. 1964. <i>Hearings Before the House Subcommittee on Public Buildings and Grounds of the Committee on Public Works</i>. Eighty-Eighth Congress. Second Session. Washington, DC: Government Printing Office.
					</li>
					<li>
						US Congress. Senate Committee on Interior and Insular Affairs. 1973. <i>Regulation of Surface Mining Operations</i>. Ninety-Third Congress, First Session. Washington, DC. US Government Printing Office.
					</li>
					<li>
						US Congress. Senate. 1971. <i>Surface Mining: Hearings Before the Subcommittee on Minerals, Materials, and Fuels</i>. Ninety-Second Congress, First Session. Washington, DC: US Government Printing Office.
					</li>
					<li>
						US Department of Agriculture. 1968. <i>Restoring Surface-Mined Land</i>. Publication 1082. Washington, DC. US Government Printing Office.
					</li>
					<li>
						US Soil Conservation Service. 1977. <i>The Status of Land Disturbed by Surface Mining in the United States: Basic Statistics by State and County as of July 1, 1977</i>. Washington, DC: US Soil Conservation Service.
					</li>
					<li>
						Walters, Patrick. 2013. ‘Inside the Battle Over a Strip-Mine Cemetery’. <i>National Geographic</i> (7 September).
					</li>
					<li>
						West Virginia Department of Health and Human Resources. Health Statistics Center. N.d. <i>A Look at West Virginia’s Population by Decade</i>. Brief No. 8. <a href="https://www.wvdhhr.org/bph/hsc/pubs/briefs/008/default.htm" target="_blank" rel="noopener noreferrer">https://www.wvdhhr.org/bph/hsc/pubs/briefs/008/default.htm</a>
					</li>
					<li>
						West Virginia Legislature, Regular Session. 1967. Senate Bill 61(9 March).
					</li>
					<li>
						West Virginia University Library. 2022. <i>The Buffalo Creek Disaster</i>. <a href="https://arcg.is/010OOq" target="_blank" rel="noopener noreferrer">https://arcg.is/010OOq</a>
					</li>
				</ul>
			</LongFormContent>
		</PageContent>
	</main>
</Layout>
