---
import Layout from "../../layouts/Layout.astro";

import EssayHeader from "../../components/EssayHeader.astro";
import LongFormContent from "../../components/LongFormContent.astro";
import PageContent from "../../components/PageContent.astro";
---

<Layout>
	<main>
		<PageContent>
			<LongFormContent>
				<EssayHeader
					locationTag="Lusatia, Germany"
					title="Punkt Null (Point Zero): An Ecological Substrate Begins Anew"
					byline="Cynthia Browne"
				/>
				<p>
					As we drive across sweeping green fields towards the Chicken Creek (<i>Hühnerwasser</i>) artificial catchment
					from the German city of Cottbus in September 2021, Professor R. tells me that the substrate sustaining this vegetation
					lies only a few metres deep. The rest of its depths remain the backfill of a former open-cast mining pit named
					Welzow-Süd, one of last remaining lignite mines still open in Lusatia, a region that once belonged to East Germany.
					The legislative decision of the current federal government in 2020 to close all coal-powered plants by 2038 heralds
					the end of its operations, while numerous protests by environmental groups call for its closure by 2030. Yet if
					2038 marks an end point in chronological time for the operations of Welzöw-Sud, the anthrotechnogenic landscape
					of its recultivated substrate offers multiple timelines of entry.
				</p>
				<p>
					Delving into these multiple timelines asks us to consider how to think about the temporalities of soil from the
					materiality of the substrate itself. In this regard, I draw upon others who theorise through close engagements with
					the material constraints and elements of environmental surroundings to reconfigure genres of writing, modes of temporal
					experience and the social relations of ecology.<sup class="note" id="note-ref-1"><a href="#note-1">1</a></sup> Attending to the materiality of soil and the geological layers of
					substrate that lie beneath it offers a complementary but distinct contribution to the theory-machine of elements,
					such as seawater and sand, that move across categories.<sup class="note" id="note-ref-2"><a href="#note-2">2</a></sup> Between land and sea, between earth and air, between nature and
					culture, between above- and below-ground, sand, seawater and soil trouble binaries and invite us, as readers of landscapes
					and texts, to narrate anew.
				</p>
				<p>
					Today’s soil is the weathered rock of yesteryear, interwoven with plants, fungi and decaying matter in a robust
					aggregate that recursively reconstitutes itself through metabolic interaction. As the final home of most residues,
					it carries Earth’s material memory and the plants that grew within it, aided and abetted by various microorganisms,
					fungi and abiotic conditions. As a residue, though, its imperceptibility stems not only from symbolic structures
					of recognition and value,<sup class="note" id="note-ref-3"><a href="#note-3">3</a></sup> but also from physical structures. As ground, it lies beneath our feet, hidden below the
					vegetation, concrete, asphalt, brick and other combinations of substances that cover it, rendering it part of an
					infrastructural background,<sup class="note" id="note-ref-4"><a href="#note-4">4</a></sup> unless and until it becomes the matter of our activity, as it does in composting,
					gardening or planting. On a larger scale, the organic matter of soil, and the geological substrates supporting it,
					become a focus of attention<sup class="note" id="note-ref-5"><a href="#note-5">5</a></sup> when they become disrupted widely and irrevocably, as occurs with surface mining, which
					dominates the world production of minerals. Currently, nearly 95 per cent of non-metallic minerals, most metallic
					minerals (ninety per cent), and the majority of coal are mined by surface methods.<sup class="note" id="note-ref-6"><a href="#note-6">6</a></sup> Such surface mining practices
					produce patches in the earthly layer that sustains life. In this essay, I tell a story of one such patch of substrate
					and how observations of its ecological temporalities call into question the frameworks of responsibility and knowledge
					that, in Germany, make the ruination of the substrate legally palatable. My story hews close to how the mining of
					this substrate produces residues of rubble often not seen because they are recycled and buried again to refill the
					underground that was excavated; what remains visible is the (vegetative) growth and soil communities that grow after
					this event of excavation and reburial. It is a story told largely through the observations of others, those of scientists
					whose observations of this aftermath offer alternative narratives to those of the corporation responsible for the
					restoration of the site.
				</p>
				<p>
					In what follows, I situate my gaze and my ears on the landscape unit of the Chicken Creek, which scientists responsible
					for observing and monitoring the site refer to as ‘Point Zero’ (<i>Punkt Null</i>). These observations provide a perspective into
					the geophysical and ecological temporalities percolating up and traversing across the substrate both under and up to the surface.
					These temporalities complicate the projections of the corporation responsible for restoration and the predictions traced
					out on paper by engineers, undercutting the future timeline anticipated for Punkt Null. Like the term ‘ground zero’, point
					zero refers to a place reset to a new beginning by destruction, its previous state destroyed by an event of violence; for
					Chicken Creek, the vast anthropogenic disturbances to the biotic and abiotic dimensions of a landscape caused by open-cast
					lignite mining made this reset possible. In this respect, Chicken Creek is both specific and general; the parameters for
					its restoration are shaped by its previous existence as the source for a creek, yet its process of ruination corresponds
					to geological conditions and histories of the fossil fuel industries that generate many such patches.
				</p>
				<p>
					I borrow the term ‘patch’ from ecology, where it is used to demarcate units of heterogeneity within a landscape unit and to
					offer greater attention to discontinuity across temporal and spatial scales.<sup class="note" id="note-ref-7"><a href="#note-7">7</a></sup> Attention to patch dynamics stands as a corrective
					to approaches to ecosystems that privilege homeostasis and stable state equilibrium.<sup class="note" id="note-ref-8"><a href="#note-8">8</a></sup> Yet even when ecologists acknowledge that
					patches can arise from human-induced disturbances, Tsing, Mathews and Bubandt extend the concept to give more attention to how
					histories of industrial capitalism shape the land and produce heterogenous patch dynamics that can be known through the arts of
					noticing.<sup class="note" id="note-ref-9"><a href="note-9">9</a></sup> These arts encourage observers to notice specific patterns of life, such as vegetation or the presence of pests, as
					signs in the landscape that might be read to divulge multiple histories and futures.<sup class="note" id="note-ref-10"><a href="#note-10">10</a></sup> The patch of Punkt Null is both a heterogenous
					unit within the larger patch of Germany’s brown coal landscape and a place comprising different, smaller patches that have arisen
					temporally out of geomorphological processes, stochastic events, weathering, substrate structure and composition, and legal
					prerogatives that mandate the (impossibility of) restoration. In what follows, I turn to look first at the temporal and spatial
					scales of industrial scale lignite mining that historically produced the larger area in which Welzow-Süd operates, as well as the
					geological timeline such mining technologies disrupt, before turning to the ecological temporalities of restoration that began
					to emerge out of Punkt Null’s new beginning.
				</p>
				<h3>Fuelling the Future ca. 1900–1990</h3>
				<p>
					Lignite, or brown coal, powered the GDR. Considered the geologically younger and lower quality cousin of bituminous coal, brown
					coal mining became profitable through technological changes that enabled the transformation of brown coal into briquettes alongside
					the mechanisation of the extraction around the turn of the twentieth century. Describing these changes in a 1921 article in <i>Scientific American</i>,
					Robert Skerrett describes brown coal as ‘bituminous coal in the making – vegetable matter which has not been subjected to the
					compression and the high temperatures that brought about the formation of the well-known combustible’.<sup class="note" id="note-ref-11"><a href="#note-11">11</a></sup> While the two species of coal
					bear similarities in their geological origins as emergent out of ‘slowly sinking swamps at a time of crustal instability’,<sup class="note" id="note-ref-12"><a href="#note-12">12</a></sup> their
					differences in geological age span millions of years; while bituminous coal originated in the Carboniferous, the crumbling lignite
					of the Lausitz comes from Tertiary rock layers.<sup class="note" id="note-ref-13"><a href="#note-13">13</a></sup> The friable and highly combustible material properties of lignite initially posed
					difficulties for the use of this substratum until Germans learned how to transform it into briquettes.
				</p>
				<p>
					The skilful alchemy behind ‘How Teuton Chemists Have Converted the Lovely Swamp Muck into an Industrial Cinderella’ is the laudatory
					subject of Skerrett’s article, for, through the briquetting process, a friable, unstable commodity becomes a ‘product that would
					stand rough handling and endure exposure to the weather for months without disintegrating’.<sup class="note" id="note-ref-14"><a href="#note-14">14</a></sup> Skerrett describes the various processes
					necessary to convert crumbling brown coal out of the ground into hard, cubic briquettes; this chain involves mechanically sieving
					out the lignite from the woody parts and hard clumps of earth in which it was buried, drying the duly crushed, fine, moist lignite
					through the use of cylinders to reduce its moisture content from sixty to fifteen per cent, after which pulverisers reduce the
					dried material to a uniform size that then passes through presses of an ‘open-mold plunger type’ to form briquettes. As such, the
					process itself involves an estimated 3¼ tons of brown coal as fuel to produce one ton of briquettes.
				</p>
				<p>
					The geographical affordances of brown coal in Germany – its abundance, its relatively thick seams close to the surface and the
					‘unresistant nature both of the coal and of the overburden of sands, gravels, and clays’<sup class="note" id="note-ref-15"><a href="#note-15">15</a></sup> – coupled with mechanical methods of
					extraction, rendered this substrate a profitable endeavour beginning in the twentieth century. As such, the amount of brown coal
					excavated began to exceed that of more (fuel) efficient hard coal reserves, which are largely concentrated in the Ruhr Valley
					of Germany. As Elkin notes, the brown coal industry in its ‘modern form’, by which he means the use of large excavating machines
					that scoop up unconsolidated overburden by means of chains of buckets along a single long face, contributed to a shift in coal
					extraction. Between 1880 and 1943, the proportion of deep-mine coal decreased from eighty per cent to five percent,<sup class="note" id="note-ref-16"><a href="#note-16">16</a></sup> while brown
					coal increased from an annual extraction of 12,146 metric tons to 253,499 metric tons.<sup class="note" id="note-ref-17"><a href="#note-17">17</a></sup> And whereas hard coal mining requires
					vertical depths of 500 to 1,000 metres to be driven into the earth, the expansion of surface mining requires the equivalent
					in horizontal dimensions.
				</p>
				<p>
					The geopolitics of divided Germany following the Second World War contributed to a much greater expanse of horizontal surface
					excavations in the GDR, encouraging a politics of resource autonomy built upon its most abundant natural resource – lignite.
					For, following the division, the East German economy lost access to the coal industry of the Ruhr and Saarland. As a result,
					between 1950 and 1960, the number of kilowatt hours per year provided by brown-coal power plants doubled to forty million
					kilowatt hours, an increase that required around 225 million tons of raw lignite coal and made the GDR the global leader in
					lignite extraction.<sup class="note" id="note-ref-18"><a href="#note-18">18</a></sup> This exponential increase in the use of brown coal as a fuel to power homes and industries, as well as a
					material substrate in the industrial catalysis of other industrial products (i.e. tar, oil, coke and chemicals, especially
					for the GDR) meant that wide swathes of the organic soil substrate supporting life above the surface were dug up and redeposited.
					The patch of Welzow-Süd, whose mine began operations in 1959, is part and parcel of this history of industrial ruination that
					leaves in its wake residue and rubble.
				</p>
				<div>
					Figure 1. Viewing point of Tagebau Nochten (a), one of the four remaining active lignite mines in Lusatia; and the view from
					there (b), 19 September 2021. Photos by the author, with thanks to Christian and Edith Penk for sharing their knowledge and
					experience of the area.
					Alt text; interior shot of a viewing building and the view out from it
				</div>
				<div>
					Figure 2. Colour photo by the author of a black and white photograph reproduced on an informational tablet for visitors at the
					Tagebau Nochten viewing point. It documents the accumulation of rubble, i.e. large boulders, as part of the excavation of lignite
					at the former Greifenhain open-cast mine. The original black and white photograph was taken in 1973 by W. Nowel.
					Alt text: image of an old photo showing boulders and excavation
				</div>
				<p>
					To dig up buried lignite on an industrial scale is to exchange one biogeochemical residue, i.e. lignite, for another kind of
					residue: disturbed and mixed geological layers visible as sandy piles, heaps of stone and leftover rubble that then get used to
					fill the negative hole left behind. Lignite is literally decayed and anaerobically compressed organic matter from plants that
					grew in and adjacent to swamps. Partly decomposed and remaining wet from surrounding humid conditions, this matter became converted
					into peat through the activity of microorganisms within an atmosphere absent of oxygen, which allowed its carbon content to
					increase. Lignite, the first phase of coalification, scarcely differs from the peat from which it is derived; it often still
					contains plant remains recognisable to the forensic eye. These layers also contain residues of former human habitation, and the
					groundwater depletion as a necessary precursor to the excavation of these layers often affords archaeological teams an opportunity
					to first undertake their own excavation to remove artefacts of interest for scientific knowledge and preservation.<sup class="note" id="note-ref-19"><a href="#note-19">19</a></sup> In this way,
					looking closely at lignite as both a residue formed at the nexus of organic and inorganic processes and a container of residual
					objects of forensic interest<sup class="note" id="note-ref-20"><a href="#note-20">20</a></sup> indicates its potential for narrating both geological and human histories. The observations of the
					substrate’s materiality that provide the ground for such narratives often become visible as part of a process that extinguishes
					lignite to produce energy,<sup class="note" id="note-ref-21"><a href="#note-21">21</a></sup> leaving behind a large pit in the earth’s substrate that then must be filled. One way to fix this
					negative space leftover by open cast mining, is to re-fill it with the same geological layers previously dug up but now devoid of
					lignite, a kind of residue called backfill.<sup class="note" id="note-ref-22"><a href="#note-22">22</a></sup>
				</p>
				<p>
					This process of backfilling produces a complementary but distinct constellation of rubble from those occupied by other storytellers
					of ruination, for what is unearthed is again quickly buried. These burial grounds, however, provide the basis for a substrate
					that introduces new temporalities within its aftermath. These temporalities, and the multiple futures unfolded within them,
					appear – not unlike wind-sand in China – at the nexus of engineering techniques, ecological interventions and corporatist hopes,<sup class="note" id="note-ref-23"><a href="#note-23">23</a></sup>
					a nexus mandated by laws that govern and regulate restoration as an anticipatory, speculative thing.<sup class="note" id="note-ref-24"><a href="#note-24">24</a></sup>
				</p>
				<h3>Resetoring a New Beginning: The Aftermath of Lignite Mining</h3>
				<p>
					German mining law in its current and previous forms provides regulations for the levelling and restoration of land disturbed by mining.
					Writing in 1953 on his observations of the brown coal fields in the Rhineland, James Elkins notes that, while the law stipulates the
					aims and methods of restoration, factors such as substrate composition and other irregularities hamper it in practice. Such an account
					could be read as the recalcitrance of nature to man’s will and efforts at control. Yet, rather than casting the power of nature as an
					agonist thwarting the instrumental machinations of human volition, I instead consider how the residual substrates of these disturbed
					landscapes shape the contour of their own temporality, by attending to observations of the ecologically unexpected. In doing so, I
					focus attention on the doubled nature of this substate as an aftermath.<sup class="note" id="note-ref-25"><a href="#note-25">25</a></sup> This substrate, by coming ‘after’, marks an historical event.
					At the same time, what came after was the construction of a substrate with the temporal aim of supporting abiotic and biotic components
					to well up and multiply again, thereby entailing a biogeochemical component as well.
				</p>
				<p>
					Such a frame invites thinking through the timelines of the substrate beyond those derived from the historical disruptions propagated
					by industrial surface mining, as well as from the anticipatory ones outlined by environmental engineers; it also involves attending
					to the perspectives of scientists observing the patterns of an emergent creek bed, whose arts of noticing speak to other affects and
					timelines that stem from the ecological peculiarities of the soil. Because, as scientists began to adopt methods from the soil and
					ecological sciences to understand the chemical, biological and physical parameters of restored landscape, what they experienced was
					surprise and humility at how these findings complicated engineering predictions and corporatist anticipation. Measuring and watching
					ecological parameters over the years made sensible to them the impossibility of restoration, at least restoration informed by
					scientific prediction based on modelling or a return to a previous ‘reference state’.<sup class="note" id="note-ref-26"><a href="#note-26">26</a></sup> Instead, the post-mining landscape performed
					itself as an experimental world, complex arrangements of matter and language where knowledge emerges through practices that participate
					in the reconfiguring of that landscape.<sup class="note" id="note-ref-27"><a href="#note-27">27</a></sup>
				</p>
				<h3>The Experimental World of Chicken Creek</h3>
				<p>
					One such experimental world appeared on a patch of land created to restore the source of a creek that formerly ran across Welzow-Süd.
					The very condition of possibility for the site stemmed from the federal laws that regulate mining operations. When Vattenfall, a
					Swedish energy company, expanded their open-cast lignite mine and destroyed the creek, they inherited a legal responsibility to
					restore it following the end of mining operations. To do so, they contracted consultants, who developed a plan to establish an
					artificial catchment area in which the watershed could be fed solely through precipitation. The recharge through precipitation,
					rather than through surrounding groundwater inflows, was due to the lowering of the overall groundwater table as part of mining
					activities in Lusatia.
				</p>
				<p>
					In 2004, Vattenfall outsourced the construction of the catchment to Beak Consultants GmbH, which oversaw the laying down of three
					substrate layers: 1) a base spoil layer; 2) a clay layer that functionally served as an aquiclude to block the passage of water;
					and 3) a sand layer functioning as an aquifer. Using large mining machinery, such as conveyor belt systems involving bucket wheel
					excavators and coupled stackers, the company divided the circa six-hectare site into four different strips progressively built up.
					The clay material for the aquiclude came from Tertiary geological layers excavated as a by-product of mining. Known as ‘<i>Flaschenton</i>’,
					its clay content varies between 24 and 93 per cent and, following swelling, presents an extremely low permeability, a concept
					defined by scientists through measures of a substrate’s water saturation.
				</p>
				<p>
					Once this clay layer<sup class="note" id="note-ref-28"><a href="#note-28">28</a></sup> was levelled and shaped at a particular incline to induce the underground flow of water, i.e. to act as a
					groundwater discharge unit, the company then dumped 117,500 cubic metres of ‘sandy substrate material’ sourced from ‘a variety of
					Pleistocene sediments from the forefield of Welzow-Süd, where they had been deposited during the Salle-glacial period, a part of
					its terminal moraine and lodgement till layers’.<sup class="note" id="note-ref-29"><a href="#note-29">29</a></sup> This construction period of the aquifer comprised three temporal phases with the
					outer edges being dumped first, followed by the central area left open for a period of seven months before being filled by
					bulldozers in May 2024. The final steps of the overall catchment construction processes culminated in a final flattening and
					homogenising of the entire surface of the site using rails pulled by tractors. The purpose of this flattening was to remove surface
					structures generated by the anthrotechnogenic nature of the construction, as well as emerging features of an ‘already forming
					ecosystem’, such as erosion gullies, soil crusts and vegetation to ensure ‘uniform initial surface conditions’.<sup class="note" id="note-ref-30"><a href="#note-30">30</a></sup> With the
					complete fencing of the area in September 2005 to prevent unauthorised visitors, both human and more-than-human, the site began
					a new existence marked by ‘point zero’; this point marks the start of a new ecosystem, a laboratory for observations within
					a patch of landscape.
				</p>
				<p>
					Its birth as an artificial catchment area, according to Professor R., failed, even as life as aftermath began to take root. It
					is the surprises and accidental events that are the most interesting, he tells me. The engineer from the mining company, for
					instance, had estimated that it would take five to six years to get the site running, by which he meant that the water
					discharged from the site would feed the creek bed and begin to resurrect this destroyed surface water pathway. However,
					water has ceased to discharge since 2016. The bed has been more or less dry for a year and a half.
				</p>
				<p>
					The surprise of this turn of affairs was also a surprise to me, countering and correcting my initial interpretations of the
					site. For when I had first entered the area of <i>Punkt Null</i> through the gate, I had seen the small pond before my eyes.
					I had read its glimmering surface as a sign that the sculpted geomorphology of the substrate had succeeded in orchestrating
					the underground flows of water towards that convex centre crafted to become the pond’s base. What I discovered from Professor R.,
					however, is that the filling of the pond stemmed from the surprise effects of an aberrant winter. As a result, what hydrologists
					had predicted would take several years took only several weeks following a winter with atypical amounts of snow. When spring
					brought warmer temperatures, the snow melted and ran down the still frozen slope of the surface, filling the pond. Since then,
					evaporation and the lack of groundwater flow within the constructed substrate has led to a steady decrease in the pond’s volume,
					complicating the mining companies’ planning predictions.
				</p>
				<p>
					Professor R. suspects that the impossibility of erasing the site’s anthrotechnogenic origins by trying to mutate it into a
					homogenously constructed substrate may have contributed to the failure, one that holds a cautionary tale. Although the use
					of conveyor belts and tractor pulls had aimed to generate homogenous conditions, Professor R. remarked that it resulted in
					cone shapes in which the sandy substrate was more compacted in the centre and softer at the edges. These traces of the site’s
					technogenic origin likely complicated the flow of water. Though the engineers had crafted the substrate at a slope to harness
					the force of gravity to direct the water towards the future pond, these differentiations in compactedness likely blocked
					certain flows. Professor R. recounted to me how two weekends of strong rains in the initial years further contributed to
					differentiation within the surface and structure of the site, producing erosion and deep gullies. The environmental engineers
					had not expected such severity, which altered the initial morphology and groundwater discharge flows. As a consequence, two
					streams appeared that diverted the direction of the water into the drainage trench. This combination of chance with the
					impossibility of erasing the anthrotechnogenic origins of the site seems to suggest a moral parable within its very failure.
					For, as my fieldnotes detail, if it were so easy to remake a destroyed catchment area with the right kind of scientific knowledge,
					then it would seem to give mining companies full licence to do anything they want, because, then, anything in the end could be restored.
				</p>
				<p>
					Like the sand-swept, mobile dunes Jerry Zee describes in his ethnography of the Chinese continent in dust,<sup class="note" id="note-ref-31"><a href="#note-31">31</a></sup> environmental engineers
					contracted by the mining companies in Lusatia attempt to mould sandy substrates into the linear teleologies of human aspiration; in
					doing so, they create conditions for other temporal patterns and shapes to emerge. Yet, unlike Zee’s account, here the scientists are
					less aligned with state bureaucrats and engineers. If the latter indeed attempt, through the design of the substrate, to exercise
					control over the future of its material development, the scientists I met embrace the geophysical and ecological temporalities
					actively shaping the emerging signs of life and flows of water on the site. Professor R. and his team refuse to intentionally
					intervene in the ecological dynamics of the site. Instead, the always precarious agreement of their cooperation with the mining company,
					which must be continually renewed, is one where they set up monitoring stations to observe these errant ecological temporalities.
					With two weather stations, as well as a series of monitoring stations positioned in a grid-like fashion one metre apart, the scientists
					observing the site welcome its unpredictable temporalities, which reveal themselves through patches: patterns of black locust
					(<i>Robinia pseudoacacia</i>) that colonise one patch, able to fixate nitrogen from the atmosphere because there is none in the soil, whose
					leaves nonetheless litter the ground, an observation leading scientists to conclude that the soil lacks certain decomposers to break
					down this organic material; the patches of <i>Sanddorn</i> (<i>Hippophae rhamnoides</i>) on sandy stretches where acidity is high, leading to the
					conjecture that pyrite (Tertiary) layers have been mixed into the initial Quaternary soils. Ecological particularity and difference
					offer moments for these scientists to theorise from the substrate about the presence or absence of living organisms, about its
					chemical composition, about its origin, while absolving them of the responsibility to intervene or try to control the direction.
					Furthermore, the unpredictable aftermaths that crop up in the site call into question the very condition of possibility for taking on
					such responsibility to control the future temporalities of a substrate’s ecology, by underscoring how such processes are subject
					to not only human, but also geophysical and biochemical, temporalities.
				</p>
				<div>
					Figure 3. Monitoring stations set up by scientists at Punkt Null (Point Zero), 23 September 2021. Photo by the author.
					Alt text photo of grassland with small trees and a number of white plastic objects
				</div>
				<p>
					In other words, the very elements of surprise and the temporalities unfolding from unexpected occurrences which punctuate Chicken Creek’s
					biogeochemical life after ‘point zero’, provide evidence that responsibility for ecological restoration that hinges on such anthropocentric control
					is misplaced.<sup class="note" id="note-ref-32"><a href="#note-32">32</a></sup> In this way, the science of the substrate in deeply disturbed landscapes brings attention to its own limitations and, by extension,
					to legal regulations that rely on such control in delegating responsibility for restoring ecosystems and destroyed riverbeds as a condition
					for providing mining concessions. More broadly, it invites attention to how excavating material histories of our soil substrates can reveal
					unexpected insights into the ways in which histories of industrialisation, capitalism and technology alter the metabolic matter of soil
					substrates, shaping the ecological futures that grow out of it.
				</p>
				<p>
					The green grassy fields on the surface may, after all, be but a few metres deep.
				</p>
				<hr />
				<h2>Notes</h2>
				<ol>
					<li id="note-1">
						Agard-Jones 2012, Zee 2022, De Silvey 2017. <a href="#note-ref-1">&crarr;</a>
					</li>
					<li id="note-2">
						Helmreich 2011, Zee 2022. <a href="#note-ref-2">&crarr;</a>
					</li>
					<li id="note-3">
						Gordillo 2014. <a href="#note-ref-3">&crarr;</a>
					</li>
					<li id="note-4">
						Puig de la Bellacasa 2014. <a href="#note-ref-4">&crarr;</a>
					</li>
					<li id="note-5">
						Star and Bowker 2007. <a href="#note-ref-5">&crarr;</a>
					</li>
					<li id="note-6">
						Ramani 2012. <a href="#note-ref-6">&crarr;</a>
					</li>
					<li id="note-7">
						Tsing, Mathews and Bubandt 2019. <a href="#note-ref-7">&crarr;</a>
					</li>
					<li id="note-8">
						Wu and Loucks 1995. <a href="#note-ref-8">&crarr;</a>
					</li>
					<li id="note-9">
						Tsing, Mathews and Bubandt 2019. <a href="#note-ref-9">&crarr;</a>
					</li>
					<li id="note-10">
						See also Mathews 2018. <a href="#note-ref-10">&crarr;</a>
					</li>
					<li id="note-11">
						Skerrett 1921: 304. <a href="#note-ref-11">&crarr;</a>
					</li>
					<li id="note-12">
						Ibid. <a href="#note-ref-12">&crarr;</a>
					</li>
					<li id="note-13">
						This dating corresponds with contemporary geological dating of the Lausitz coal region, and I retain the use of the
						term ‘Tertiary’, since it continues as an actor’s category and retains broad use in contemporary scientific literature
						despite the decision of the International Union of Geological Sciences to ratify the Neogene and Paleogene as two
						periods/systems of the Cenozoic Era based on Globally Boundary Stratotype Section and Points (GSSP). These two periods
						roughly correspond to the same geological time span referenced by the term Tertiary, both of which designate the
						interval of geological time between the Cretaceous and Quaternary (Head, Gibbard and Salvador 2008). <a href="#note-ref-13">&crarr;</a>
					</li>
					<li id="note-14">
						Skerrett 1921. <a href="#note-ref-14">&crarr;</a>
					</li>
					<li id="note-15">
						Elkins 1953a: 20. <a href="#note-ref-15">&crarr;</a>
					</li>
					<li id="note-16">
						Ibid. <a href="#note-ref-16">&crarr;</a>
					</li>
					<li id="note-17">
						Mitchell 1975: 362–66. <a href="#note-ref-17">&crarr;</a>
					</li>
					<li id="note-18">
						Möller 2022. <a href="#note-ref-18">&crarr;</a>
					</li>
					<li id="note-19">
						Archaeological research teams from the federal state office often receive permission to first undertake their own excavations
						to document and remove artefacts of interest after a new area has been approved for open-cast mining. I visited one such site
						open to the public on a Sunday with Edith Penk. See also Tagebau Nochten, Objektansicht,
						<a href="https://www.kuladig.de/Objektansicht/BKM-31100014" target="_blank" rel="noopener noreferrer">https://www.kuladig.de/Objektansicht/BKM-31100014</a>
						(Accessed 4 Feb. 2025). <a href="#note-ref-19">&crarr;</a>
					</li>
					<li id="note-20">
						See Puig de la Bellacasa 2014 for further discussion of how STS approaches to the social work of classification help foreground
						the relation between the situatedness of knowledge-making and the shifting categorisations of soil and substrates. For some,
						the substrate remains in the background as a residual category, while for others, it becomes a matter of concern, housing relevant
						data for analysis. <a href="#note-ref-20">&crarr;</a>
					</li>
					<li id="note-21">
						Such a process is part of how lignite becomes rendered into a resource materiality (Richardson and Weszkalnys 2014). <a href="#note-ref-21">&crarr;</a>
					</li>
					<li id="note-22">
						Another common way of dealing with these large pits in the Lusatia (and former East Germany more generally) is to turn them into
						lakes by flooding them with redirected water. For an account of the elements of surprise and non-knowledge accompanying the social
						epistemologies involved in transforming these open-cast mining pits into lakes, see Gross 2010. <a href="#note-ref-22">&crarr;</a>
					</li>
					<li id="note-23">
						Zee 2022: 118. <a href="#note-ref-23">&crarr;</a>
					</li>
					<li id="note-24">
						Adams, Murphy and Clarke 2009. <a href="#note-ref-24">&crarr;</a>
					</li>
					<li id="note-25">
						Landecker 2024. <a href="#note-ref-25">&crarr;</a>
					</li>
					<li id="note-26">
						Wiegleb et al. 2013. <a href="#note-ref-26">&crarr;</a>
					</li>
					<li id="note-27">
						Zee 2022: 39. <a href="#note-ref-27">&crarr;</a>
					</li>
					<li id="note-28">
						In addition to clay being used to craft the initial morphology of the site, sandy dams were also constructed around the groundwater
						outlet unit to redirect surface water away from the area in order to restrict erosion and sedimentation processes. See Gerwin
						et al. 2010: 20. <a href="#note-ref-28">&crarr;</a>
					</li>
					<li id="note-29">
						Ibid.: 19. <a href="#note-ref-29">&crarr;</a>
					</li>
					<li id="note-30">
						Ibid.: 20. <a href="#note-ref-30">&crarr;</a>
					</li>
					<li id="note-31">
						Zee 2022. <a href="#note-ref-31">&crarr;</a>
					</li>
					<li id="note-32">
						As Matthias Gross (2010) has carefully analysed, surprise and ignorance are abiding characteristics of knowledge-making and its
						applications within the practice and design of ecological restoration. The uncertainties within knowledge practices of ecological
						restoration have also, in recent decades, contributed to a wider debate about responsibility within environmental regulatory law and
						policy, and crystallised in a growing literature about the so-called precautionary principle. For an overview and discussion of the
						relation between scientific uncertainty, responsibility and the precautionary principle, see Pellizzoni and Ylönen 2008. <a href="#note-ref-32">&crarr;</a>
					</li>
				</ol>
				<hr />
				<h2>References</h2>
				<ul>
					<li>
						Agard-Jones, Vanessa. 2012. ‘What the Sands Remember’. <i>GLQ: A Journal of Lesbian and Gay Studies</i> <b>18</b> (2–3): 325–46.
						<a href="https://doi.org/10.1215/10642684-1472917" target="_blank" rel="noopener noreferrer">https://doi.org/10.1215/10642684-1472917</a>
					</li>
					<li>
						DeSilvey, Caitlin. 2017. <i>Curated Decay: Heritage beyond Saving</i>. Minneapolis; London: University of Minnesota Press
					</li>
					<li>
						Elkins, T.H. 1953a. ‘The Brown Coal Industry of Germany’. <i>Geography</i> <b>38</b> (1): 18–29.
					</li>
					<li>
						Elkins, T.H. 1953b. ‘The Cologne Brown-Coal Field: A Study of the Law and the Landscape’. <i>Transactions and Papers (Institute of British Geographers)</i> <b>19</b> (131).
						<a href="https://doi.org/10.2307/621233" target="_blank" rel="noopener noreferrer">https://doi.org/10.2307/621233</a>
					</li>
					<li>
						Gerwin, Werner, Wolfgang Schaaf, Detlef Biemelt, Michael Elmer, Thomas Maurer and Anna Schneider. 2010. ‘The Artificial Catchment “Hühnerwasser” (Chicken Creek): Construction and Initial Properties’.
						<a href="https://opus4.kobv.de/opus4-btu/frontdoor/index/index/docId/2008" target="_blank" rel="noopener noreferrer">https://opus4.kobv.de/opus4-btu/frontdoor/index/index/docId/2008</a>
					</li>
					<li>
						Gordillo, Gastón. 2014. <i>Rubble: The Afterlife of Destruction</i>. Durham, NC: Duke University Press.
					</li>
					<li>
						Gross, Matthias. 2010. <i>Ignorance and Surprise: Science, Society, and Ecological Design</i>. Cambridge, MA: The MIT Press.
						<a href="https://doi.org/10.7551/mitpress/9780262013482.001.0001" target="_blank" rel="noopener noreferrer">https://doi.org/10.7551/mitpress/9780262013482.001.0001</a>
					</li>
					<li>
						Head, Martin J., Philip Gibbard and Amos Salvador. 2008. ‘The Tertiary; a Proposal for Its Formal Definition’. <i>Episodes</i> <b>31</b> (2): 248–50.
						<a href="https://doi.org/10.18814/epiiugs/2008/v31i2/012" target="_blank" rel="noopener noreferrer">https://doi.org/10.18814/epiiugs/2008/v31i2/012</a>
					</li>
					<li>
						Helmreich, Stefan. 2011. ‘Nature/Culture/Seawater’. <i>American Anthropologist</i> <b>113</b> (1): 132–44.
					</li>
					<li>
						Landecker, Hannah. 2024. ‘Life as Aftermath: Social Theory for an Age of Anthropogenic Biology’. <i>Science, Technology, & Human Values</i> 01622439241233946 (March).
						<a href="https://doi.org/10.1177/01622439241233946" target="_blank" rel="noopener noreferrer">https://doi.org/10.1177/01622439241233946</a>
					</li>
					<li>
						Mathews, Andrew S. 2018. ‘Landscapes and Throughscapes in Italian Forest Worlds: Thinking Dramatically about the Anthropocene’. <i>Cultural Anthropology</i> <b>33</b> (3): 386–414. https://doi.org/10.14506/ca33.3.05
					</li>
					<li>
						Mitchell, B.R. 1975. <i></i>European Historical Statistics 1750–1970</i>. London: Palgrave Macmillan UK. https://doi.org/10.1007/978-1-349-01088-2
					</li>
					<li>
						Möller, Christian. 2022. ‘Braunkohle und Umweltschutz in der DDR: Ressourcenabhängigkeit, ökologische Folgen und umweltpolitische Lösungsversuche in der Diktatur’. In Helmuth Albrecht, Michael Farrenkopf, Helmut Maier, and Torsten Meyer(eds). <i>Bergbau und Umwelt in DDR und BRD: Praktiken der Umweltpolitik und Rekultivierung</i>, pp. 43–70. Oldenbourg: De Gruyter. https://doi.org/10.1515/9783110785289-003
					</li>
					<li>
						Pellizzoni, Luigi and Marja Ylönen. 2008. ‘Responsibility in Uncertain Times: An Institutional Perspective on Precaution’. <i>Global Environmental Politics</i> <b>8</b> (3): 51–73.
					</li>
					<li>
						Puig de la Bellacasa, María. ‘Encountering Bioinfrastructure: Ecological Struggles and the Sciences of Soil’. <i>Social Epistemology</i> <b>28</b> (1) (2014): 26–40.
						<a href="https://doi.org/10.1080/02691728.2013.862879" target="_blank" rel="noopener noreferrer">https://doi.org/10.1080/02691728.2013.862879</a>
					</li>
					<li>
						Ramani, Raja V. 2012. ‘Surface Mining Technology: Progress and Prospects’, SYMPHOS 2011 – 1st International Symposium on Innovation and Technology in the Phosphate Industry, <i>Procedia Engineering</i> <b>46</b> (January): 9–21.
						<a href="https://doi.org/10.1016/j.proeng.2012.09.440" target="_blank" rel="noopener noreferrer">https://doi.org/10.1016/j.proeng.2012.09.440</a>
					</li>
					<li>
						Richardson, Tanya and Gisa Weszkalnys. 2014. ‘Introduction: Resource Materialities’. <i>Anthropological Quarterly</i> <b>87</b> (1): 5–30.
						<a href="https://doi.org/10.1353/anq.2014.0007" target="_blank" rel="noopener noreferrer">https://doi.org/10.1353/anq.2014.0007</a>
					</li>
					<li>
						Skerrett, Robert G. 1921. ‘Germany’s Brown Coal’. <i>Scientific American</i> <b>124</b> (16): 304.
						<a href="https://doi.org/10.1038/scientificamerican04161921-304" target="_blank" rel="noopener noreferrer">https://doi.org/10.1038/scientificamerican04161921-304</a>
					</li>
					<li>
						Star, Susan Leigh and Geoffrey C. Bowker. 2007. ‘Enacting Silence: Residual Categories as a Challenge for Ethics, Information Systems, and Communication’. <i>Ethics and Information Technology</i> <b>9</b> (4): 273–80.
						<a href="https://doi.org/10.1007/s10676-007-9141-7" target="_blank" rel="noopener noreferrer">https://doi.org/10.1007/s10676-007-9141-7</a>
					</li>
					<li>
						Tsing, Anna Lowenhaupt, Andrew S. Mathews and Nils Bubandt. 2019. ‘Patchy Anthropocene: Landscape Structure, Multispecies History, and the Retooling of Anthropology: An Introduction to Supplement 20’. <i>Current Anthropology</i> <b>60</b> (S20): 186–97.
						<a href="https://doi.org/10.1086/703391" target="_blank" rel="noopener noreferrer">https://doi.org/10.1086/703391</a>
					</li>
					<li>
						Wiegleb, Gerhard, Udo Bröring, Gyewoon Choi, Hans-Uwe Dahms, Kamalaporn Kanongdate, Chan-Woo Byeon and Lian Guey Ler. 2013. ‘Ecological Restoration as Precaution and Not as Restitutional Compensation’. <i>Biodiversity and Conservation</i> <b>22</b> (9): 1931–48.
						<a href="https://doi.org/10.1007/s10531-013-0518-0" target="_blank" rel="noopener noreferrer">https://doi.org/10.1007/s10531-013-0518-0</a>
					</li>
					<li>
						Wu, Jianguo and Orie L. Loucks. 1995. ‘From Balance of Nature to Hierarchical Patch Dynamics: A Paradigm Shift in Ecology’. <i>The Quarterly Review of Biology</i> <b>70</b> (4): 439–66.
					</li>
					<li>
						Zee, Jerry C. 2022. <i>Continent in Dust: Experiments in a Chinese Weather System</i>. Berkeley: University of California Press.
						<a href="https://doi.org/10.1525/9780520384101" target="_blank" rel="noopener noreferrer"></a>https://doi.org/10.1525/9780520384101</a>
					</li>
				</ul>
			</LongFormContent>
		</PageContent>
	</main>
</Layout>
