---
const starSvg = (await import("../assets/star.svg?raw")).default;
---

<div class="horizontal-stars">
    <span set:html={starSvg} />
    <span set:html={starSvg} />
    <span set:html={starSvg} />
</div>

<style>
.horizontal-stars {
    column-gap: .5rem;
    display: flex;
    justify-content: center;
    margin: 4rem auto;
}

.horizontal-stars span {
    display: block;
    width: 1.5rem;
}

.horizontal-stars span :global(svg path) {
    fill: var(--decorative-warm-gray);
}
</style>
