---
const { unit } = Astro.props;
---
<div class={`formatted-text-block unit-${unit}`}>
    <slot />
</div>

<style>
.formatted-text-block {
    max-width: 760px;
}

.formatted-text-block :global(p a),
.formatted-text-block :global(li a),
.formatted-text-block :global(blockquote a) {
    font-weight: 400;
    transition: .3s all ease;
}

.formatted-text-block.unit-1 :global(p a),
.formatted-text-block.unit-1 :global(li a),
.formatted-text-block.unit-1 :global(blockquote a) {
    color: var(--accent-outline-unit-1);
    text-decoration-color: var(--accent-srgb-highlight-unit-1);
    text-decoration-color: var(--accent-p3-highlight-unit-1);
}

.formatted-text-block.unit-1 :global(p a:hover),
.formatted-text-block.unit-1 :global(li a:hover),
.formatted-text-block.unit-1 :global(blockquote a:hover) {
    color: var(--accent-color-unit-1);
}

.formatted-text-block.unit-2 :global(p a),
.formatted-text-block.unit-2 :global(li a),
.formatted-text-block.unit-2 :global(blockquote a) {
    color: var(--accent-outline-unit-2);
    text-decoration-color: var(--accent-srgb-highlight-unit-2);
    text-decoration-color: var(--accent-p3-highlight-unit-2);
}

.formatted-text-block.unit-2 :global(p a:hover),
.formatted-text-block.unit-2 :global(li a:hover),
.formatted-text-block.unit-2 :global(blockquote a:hover) {
    color: var(--accent-color-unit-2);
}

.formatted-text-block.unit-3 :global(p a),
.formatted-text-block.unit-3 :global(li a),
.formatted-text-block.unit-3 :global(blockquote a) {
    color: var(--accent-outline-unit-3);
    text-decoration-color: var(--accent-srgb-highlight-unit-3);
    text-decoration-color: var(--accent-p3-highlight-unit-3);
}

.formatted-text-block.unit-3 :global(p a:hover),
.formatted-text-block.unit-3 :global(li a:hover),
.formatted-text-block.unit-3 :global(blockquote a:hover) {
    color: var(--accent-color-unit-3);
}

.formatted-text-block.unit-4 :global(p a),
.formatted-text-block.unit-4 :global(li a),
.formatted-text-block.unit-4 :global(blockquote a) {
    color: var(--accent-outline-unit-4);
    text-decoration-color: var(--accent-srgb-highlight-unit-4);
    text-decoration-color: var(--accent-p3-highlight-unit-4);
}

.formatted-text-block.unit-4 :global(p a:hover),
.formatted-text-block.unit-4 :global(li a:hover),
.formatted-text-block.unit-4 :global(blockquote a:hover) {
    olor: var(--accent-color-unit-4);
}

.formatted-text-block :global(p:first-of-type) {
    margin-top: 0;
}

.formatted-text-block :global(p) {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 140%;
    margin: 1em auto;
}

.formatted-text-block :global(p.large) {
    font-size: 1.5rem;
}

.formatted-text-block :global(p.small) {}

.formatted-text-block :global(blockquote) {
    border-color: var(--decorative-warm-gray);
    border-style: solid;
    border-width: 0 0 0 2px;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 140%;
    margin: 1em auto 2.5em .25em;
    padding-left: .75em;
}

.formatted-text-block :global(ul) {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 140%;
    margin: 2.5em auto;
    padding-left: 1em;
}

.formatted-text-block :global(li) {
    margin-bottom: 0.75em;
}

.formatted-text-block :global(li:last-of-type) {
    margin-bottom: 0;
}

.formatted-text-block :global(span.highlight-tag) {
    color: var(--primary-text-color);
    font-weight: 600;
}
</style>