---
const { unit } = Astro.props;
---
<div class={`formatted-text-block unit-${unit}`}>
    <slot />
</div>

<style>
.formatted-text-block {
    max-width: 760px;
}

.formatted-text-block :global(p a),
.formatted-text-block :global(li a),
.formatted-text-block :global(blockquote a) {
    color: var(--primary-text-color);
    font-weight: 400;
    transition: .3s all ease;
    text-decoration-color: transparent;
}

.formatted-text-block :global(p a:hover),
.formatted-text-block :global(li a:hover),
.formatted-text-block :global(blockquote a:hover) {
    text-decoration-color: var(--primary-text-color);
}

.formatted-text-block :global(p:first-of-type) {
    margin-top: 0;
}

.formatted-text-block :global(p) {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 140%;
    margin: 1em auto;
}

.formatted-text-block :global(p.large) {
    font-size: 1.5rem;
}

.formatted-text-block :global(p.small) {}

.formatted-text-block :global(blockquote) {
    border-color: var(--decorative-warm-gray);
    border-style: solid;
    border-width: 0 0 0 2px;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 140%;
    margin: 1em auto 2.5em .25em;
    padding-left: .75em;
}

.formatted-text-block :global(ol),
.formatted-text-block :global(ul) {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 140%;
    margin: 2.5em auto;
    padding-left: 1em;
}

.formatted-text-block :global(li) {
    margin-bottom: 0.75em;
}

.formatted-text-block :global(li:last-of-type) {
    margin-bottom: 0;
}

.formatted-text-block :global(span.highlight-tag) {
    color: var(--primary-text-color);
    font-weight: 600;
}


.formatted-text-block :global(h3),
.formatted-text-block :global(h4) {
    color: var(--primary-text-color);
    font-size: 1.2rem;
    font-weight: 600;
    margin: 2.5em 0 1em 0;
}
</style>