---
import StripedBorder from "./StripedBorder.astro";

const { title } = Astro.props;
---

<div class="page-header">
    <div class="image-clipper">
        <img src="/images/hero.jpg" alt="placeholder hero image" />
    </div>
    <StripedBorder top={true} />
    <div class="text-overlay">
        <div class="title">
            <a class="site-title" href="/">Grasping<br />
            Soil</a> <h1>{title}</h1>
        </div>
    </div>
</div>

<style>
.page-header {
    display: block;
    margin: 2rem auto 4rem auto;
    max-width: var(--max-content-width);
    position: relative;
    width: auto;
}

.page-header .image-clipper {
    aspect-ratio: 4.8;
    overflow: hidden;
}

.page-header img {
    display: block;
    max-width: 100%;
    opacity: .7;
    position: relative;
    z-index: 0;
}

.page-header .text-overlay {
    height: 100%;
    position: absolute;
        top: 0;
        right: 0;
        left: -5px;
    z-index: 1;
}

.page-header .title {
    color: var(--accent-color-blue);
    font-family: 'Paix', sans-serif;
    font-size: 6rem;
    font-weight: 700;
    line-height: 80%;
    margin: 0;
    position: absolute;
        left: 0;
        bottom: -1.18rem;
    text-transform: uppercase;
    z-index: 1;
}

@media all and (max-width: 1120px) {
    .page-header .title {
        font-size: 5rem;
    }
}

@media all and (max-width: 960px) {
    .page-header .title {
        font-size: 4.5rem;
        bottom: -.9rem;
    }
}

@media all and (max-width: 840px) {
    .page-header .title {
        font-size: 4rem;
    }
}

@media all and (max-width: 740px) {
    .page-header .title {
        font-size: 3rem;
        bottom: -.5rem;
    }
}

@media all and (max-width: 540px) {
    .page-header .title {
        font-size: 2.5rem;
        bottom: -.4rem;
    }
}

.page-header .title .site-title {
    color: var(--accent-outline-blue);
    opacity: .5;
    text-decoration: none;
    transition: .3s all ease;
}

.page-header .title:hover .site-title {
    color: var(--accent-srgb-highlight-blue);
    color: var(--accent-p3-highlight-blue);
}

h1 {
    color: var(--accent-color-blue);
    display: inline;
    font-size: 1em;
    margin: 0;
}
</style>
