---

---
<div class="content">
    <slot />
</div>

<style>
.content {
    flex-grow: 1;
    margin: 0 auto;
    max-width: var(--max-content-width);
    padding-bottom: 8rem;
    width: 100%;
}
</style>
