---
const {
    unit,
    links,
} = Astro.props;
---
<div class="container">
    <div class="headline">Unit Outline</div>
    <ol class={`shortcut-list unit-${unit}`}>
        {links.map((link, idx) => (
            <li>
                <a href={`#day-${idx + 1}`}>{link}</a>
            </li>
        ))}
    </ol>
</div>

<style>
div.container {
    float: right;
    margin: 0 0 2rem 2rem;
    max-width: 33.333%;
}

div.headline {
    color: var(--primary-text-color);
    font-size: 1.5rem;
    font-weight: 600;
}

ol.shortcut-list {
    counter-reset: list;
    font-size: 1.2rem;
    list-style-type: none;
    padding-left: 0;
}

li {
    counter-increment: list;
    line-height: 145%;
    margin-bottom: .5em;
    padding-left: 1rem;
}

li::before {
    content: counter(list) ". ";
    color: var(--tertiary-text-color);
    margin-left: -1rem;
}

ol.unit-1 a {
    color: var(--accent-color-unit-1);
    text-decoration-color: var(--accent-srgb-highlight-unit-1);
    text-decoration-color: var(--accent-p3-highlight-unit-1);
}

</style>