---
const {
    unit,
    questions
} = Astro.props;
---

<h4>Questions</h4>

<ul class={`unit-${unit}`}>
{questions.map(question => (
    <li set:html={question} />
))}
</ul>

<style>
h4 {
    border-color: var(--decorative-warm-gray);
    border-style: solid;
    border-width: 1px 0 0 0;
    font-size: 1.5rem;
    font-weight: 300;
    margin-top: 4rem;
    margin-left: -1em;
    padding-top: 1em;
    padding-left: 1em;
    width: calc(100% + 1em);
}

ul {
    list-style-type: none;
    margin: 2rem 0;
    max-width: 760px;
    padding: 0;
}

li {
    font-size: 1.5rem;
    font-weight: 200;
    line-height: 130%;
    margin-top: 1em;
}

li:first-of-type {
    margin-top: 0;
}

ul :global(a) {
    font-weight: 400;
    transition: .3s all ease;
}

ul.unit-1 :global(a) {
    color: var(--accent-outline-unit-1);
    text-decoration-color: var(--accent-srgb-highlight-unit-1);
    text-decoration-color: var(--accent-p3-highlight-unit-1);
}
ul.unit-1 :global(a:hover) {
    color: var(--accent-color-unit-1);
}
ul.unit-2 :global(a) {
    color: var(--accent-outline-unit-2);
    text-decoration-color: var(--accent-srgb-highlight-unit-2);
    text-decoration-color: var(--accent-p3-highlight-unit-2);
}
ul.unit-2 :global(a:hover) {
    color: var(--accent-color-unit-2);
}
ul.unit-3 :global(a) {
    color: var(--accent-outline-unit-3);
    text-decoration-color: var(--accent-srgb-highlight-unit-3);
    text-decoration-color: var(--accent-p3-highlight-unit-3);
}
ul.unit-3 :global(a:hover) {
    color: var(--accent-color-unit-3);
}
ul.unit-4 :global(a) {
    color: var(--accent-outline-unit-4);
    text-decoration-color: var(--accent-srgb-highlight-unit-4);
    text-decoration-color: var(--accent-p3-highlight-unit-4);
}
ul.unit-4 :global(a:hover) {
    color: var(--accent-color-unit-4);
}
</style>
