---
const {
    unit,
    questions
} = Astro.props;
---

<h4 class="questions-header">Questions</h4>

<ul class={`questions-list unit-${unit}`}>
{questions.map(question => (
    <li set:html={question} />
))}
</ul>

<style>
h4.questions-header {
    border-color: var(--decorative-warm-gray);
    border-style: solid;
    border-width: 1px 0 0 0;
    font-size: 1.5rem;
    font-weight: 300;
    margin-top: 4rem;
    padding-top: 1em;
    padding-left: 1rem;
    width: calc(100% + 1em);
}

ul.questions-list {
    list-style-type: none;
    margin: 1rem 2rem 4rem 2rem;
    max-width: 760px;
    padding: 0;
}

li {
    font-size: 1.5rem;
    font-weight: 200;
    line-height: 130%;
    margin-top: .5em;
}

li:first-of-type {
    margin-top: 0;
}

ul :global(a) {
    font-weight: 400;
    transition: .3s all ease;
}
</style>
