---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
:root {
	--text-color: rgb(50, 48, 34);
	--background-color: rgb(205, 193, 175);
	--translucent-background-color: rgba(205, 193, 175, 0.8);
	--accent-color: rgb(72, 94, 63);
	--accent-color-brown-1: rgb(202, 177, 20);
	--accent-color-brown-2: rgb(58, 43, 45);
	--accent-color-brown-3: rgb(94, 82, 71);
}
html {
	font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
	font-weight: normal;
}

body {
	background-color: var(--background-color);
	color: var(--text-color);
	margin: 0;
	padding: 0;
}
</style>
