---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
		<footer>
			<div class="content">
				<div class="left-side">
					<div>
						<ul class="primary">
							<li>
								<a href="/syllabus">Syllabus</a>
								<ul>
									<li><a href="/units/1-soil-as-substrate">1. Soil as Substrate</a></li>
									<li><a href="/units/2-soil-as-archive">2. Soil as Archive</a></li>
									<li><a href="/units/3-soil-as-health">3. Soil as Health</a></li>
									<li><a href="/units/4-soil-as-belonging">4. Soil as Belonging</a></li>
								</ul>
							</li>
						</ul>
					</div>
					<div>
						<ul class="primary">
							<li>
								<a href="/essays">Essays</a>
							</li>
							<li>
								<a href="/reading-list">Reading List</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="right-side">
					<div>&copy; 2024 / <a href="/colophon">Colophon</a></div>
				</div>
			</div>
		</footer>
	</body>
</html>
<style is:global>
/* Seravek Web Extra Light */
@font-face {
	font-family: 'SeravekWeb';
	src: url('/fonts/SeravekWebExtraLight/SeravekWebExtraLight.woff2') format('woff2'),
	url('/fonts/SeravekWebExtraLight/SeravekWebExtraLight.woff') format('woff');
	font-weight: 200;
	font-style: normal;
}

/* Seravek Web Extra Light Italic */
@font-face {
	font-family: 'SeravekWeb';
	src: url('/fonts/SeravekWebExtraLightItalic/SeravekWebExtraLightItalic.woff2') format('woff2'),
	url('/fonts/SeravekWebExtraLightItalic/SeravekWebExtraLightItalic.woff') format('woff');
	font-weight: 200;
	font-style: italic;
}

/* Seravek Web Light */
@font-face {
	font-family: 'SeravekWeb';
	src: url('/fonts/SeravekWebLight/SeravekWebLight.woff2') format('woff2'),
	url('/fonts/SeravekWebLight/SeravekWebLight.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

/* Seravek Web Light Italic */
@font-face {
	font-family: 'SeravekWeb';
	src: url('/fonts/SeravekWebLightItalic/SeravekWebLightItalic.woff2') format('woff2'),
	url('/fonts/SeravekWebLightItalic/SeravekWebLightItalic.woff') format('woff');
	font-weight: 300;
	font-style: italic;
}

/* Seravek Web Regular */
@font-face {
	font-family: 'SeravekWeb';
	src: url('/fonts/SeravekWebRegular/SeravekWebRegular.woff2') format('woff2'),
	url('/fonts/SeravekWebRegular/SeravekWebRegular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

/* Seravek Web Regular Italic */
@font-face {
	font-family: 'SeravekWeb';
	src: url('/fonts/SeravekWebRegularItalic/SeravekWebRegularItalic.woff2') format('woff2'),
	url('/fonts/SeravekWebRegularItalic/SeravekWebRegularItalic.woff') format('woff');
	font-weight: 400;
	font-style: italic;
}

/* Seravek Web Medium */
@font-face {
	font-family: 'SeravekWeb';
	src: url('/fonts/SeravekWebMedium/SeravekWebMedium.woff2') format('woff2'),
	url('/fonts/SeravekWebMedium/SeravekWebMedium.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

/* Seravek Web Medium Italic */
@font-face {
	font-family: 'SeravekWeb';
	src: url('/fonts/SeravekWebMediumItalic/SeravekWebMediumItalic.woff2') format('woff2'),
	url('/fonts/SeravekWebMediumItalic/SeravekWebMediumItalic.woff') format('woff');
	font-weight: 600;
	font-style: italic;
}

/* Seravek Web Bold */
@font-face {
	font-family: 'SeravekWeb';
	src: url('/fonts/SeravekWebBold/SeravekWebBold.woff2') format('woff2'),
	url('/fonts/SeravekWebBold/SeravekWebBold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

/* Seravek Web Bold Italic */
@font-face {
	font-family: 'SeravekWeb';
	src: url('/fonts/SeravekWebBoldItalic/SeravekWebBoldItalic.woff2') format('woff2'),
	url('/fonts/SeravekWebBoldItalic/SeravekWebBoldItalic.woff') format('woff');
	font-weight: 700;
	font-style: italic;
}

:root {
	--max-content-width: 1280px;
	--max-page-width: 960px;
	--text-color: rgb(50, 48, 34);
	--background-color: rgb(214, 201, 189);
	--translucent-background-color: rgb(214, 201, 189, 0.8);
	--accent-color: rgb(72, 94, 63);
	--accent-color-brown-1: rgb(202, 177, 20);
	--accent-color-brown-2: rgb(58, 43, 45);
	--accent-color-brown-3: rgb(94, 82, 71);
}
html {
	font-family: 'SeravekWeb', Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
	font-weight: normal;
}

body {
	background-color: var(--background-color);
	color: var(--text-color);
	margin: 0;
	padding: 0;
}

footer {
	background-color: var(--text-color);
	color: var(--background-color);
	min-height: 100px;
}

footer .content {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: 0 auto;
	max-width: var(--max-content-width);
	padding: 4rem 0 3rem 0;
	width: 100%;
}

footer .left-side {
	column-gap: 4rem;
	display: flex;
	justify-content: flex-start;
	padding-left: 40px;
}

footer .content ul {
	font-size: 1.4rem;
	font-weight: 400;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

footer .content  ul.primary > li {
	margin-bottom: .25em;
}

footer .content li > ul {
	font-size: 1.2rem;
	font-weight: 300;
	margin-top: .5em;
	padding-left: .5em;
}

footer .content li > ul li {
	margin-top: .25em;
}

footer .content a {
	color: var(--background-color);
	text-decoration-color: transparent;
	transition: all ease 0.1s;
}

footer .content a:hover {
	color: var(--accent-color-brown-1);
	text-decoration-color: var(--accent-color-brown-1);
}

footer .right-side {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding-right: 40px;
	text-align: right;
}
</style>
