---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
		<footer>
			<div class="content">
				<div class="left-side">
					<div>
						<ul class="primary">
							<li>
								<a href="/syllabus">Syllabus</a>
								<ul>
									<li><a href="/units/1-soil-as-substrate">1. Soil as Substrate</a></li>
									<li><a href="/units/2-soil-as-archive">2. Soil as Archive</a></li>
									<li><a href="/units/3-soil-as-health">3. Soil as Health</a></li>
									<li><a href="/units/4-soil-as-belonging">4. Soil as Belonging</a></li>
								</ul>
							</li>
						</ul>
					</div>
					<div>
						<ul class="primary">
							<li>
								<a href="/essays">Essays</a>
							</li>
							<li>
								<a href="/reading-list">Reading List</a>
							</li>
							<li>
								<a href="/contributors">Contributors</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="right-side">
					<div>&copy; 2024 / <a href="/colophon">Colophon</a></div>
				</div>
			</div>
		</footer>
	</body>
</html>
<style is:global>
/* Seravek Web Extra Light */
@font-face {
	font-family: 'SeravekWeb';
	src: url('/fonts/SeravekWebExtraLight/SeravekWebExtraLight.woff2') format('woff2'),
	url('/fonts/SeravekWebExtraLight/SeravekWebExtraLight.woff') format('woff');
	font-weight: 200;
	font-style: normal;
}

/* Seravek Web Extra Light Italic */
@font-face {
	font-family: 'SeravekWeb';
	src: url('/fonts/SeravekWebExtraLightItalic/SeravekWebExtraLightItalic.woff2') format('woff2'),
	url('/fonts/SeravekWebExtraLightItalic/SeravekWebExtraLightItalic.woff') format('woff');
	font-weight: 200;
	font-style: italic;
}

/* Seravek Web Light */
@font-face {
	font-family: 'SeravekWeb';
	src: url('/fonts/SeravekWebLight/SeravekWebLight.woff2') format('woff2'),
	url('/fonts/SeravekWebLight/SeravekWebLight.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

/* Seravek Web Light Italic */
@font-face {
	font-family: 'SeravekWeb';
	src: url('/fonts/SeravekWebLightItalic/SeravekWebLightItalic.woff2') format('woff2'),
	url('/fonts/SeravekWebLightItalic/SeravekWebLightItalic.woff') format('woff');
	font-weight: 300;
	font-style: italic;
}

/* Seravek Web Regular */
@font-face {
	font-family: 'SeravekWeb';
	src: url('/fonts/SeravekWebRegular/SeravekWebRegular.woff2') format('woff2'),
	url('/fonts/SeravekWebRegular/SeravekWebRegular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

/* Seravek Web Regular Italic */
@font-face {
	font-family: 'SeravekWeb';
	src: url('/fonts/SeravekWebRegularItalic/SeravekWebRegularItalic.woff2') format('woff2'),
	url('/fonts/SeravekWebRegularItalic/SeravekWebRegularItalic.woff') format('woff');
	font-weight: 400;
	font-style: italic;
}

/* Seravek Web Medium */
@font-face {
	font-family: 'SeravekWeb';
	src: url('/fonts/SeravekWebMedium/SeravekWebMedium.woff2') format('woff2'),
	url('/fonts/SeravekWebMedium/SeravekWebMedium.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

/* Seravek Web Medium Italic */
@font-face {
	font-family: 'SeravekWeb';
	src: url('/fonts/SeravekWebMediumItalic/SeravekWebMediumItalic.woff2') format('woff2'),
	url('/fonts/SeravekWebMediumItalic/SeravekWebMediumItalic.woff') format('woff');
	font-weight: 600;
	font-style: italic;
}

/* Seravek Web Bold */
@font-face {
	font-family: 'SeravekWeb';
	src: url('/fonts/SeravekWebBold/SeravekWebBold.woff2') format('woff2'),
	url('/fonts/SeravekWebBold/SeravekWebBold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

/* Seravek Web Bold Italic */
@font-face {
	font-family: 'SeravekWeb';
	src: url('/fonts/SeravekWebBoldItalic/SeravekWebBoldItalic.woff2') format('woff2'),
	url('/fonts/SeravekWebBoldItalic/SeravekWebBoldItalic.woff') format('woff');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'Paix';
	src: url('/fonts/paix-webfont.woff2') format('woff2'),,
	url('/fonts/paix-webfont.woff') format('woff');)
	font-weight: 700;
	font-style: normal;
}

:root {
	--max-content-width: 1280px;
	--max-page-width: 960px;
	--primary-text-color: #2A2523;
	--secondary-text-color: #403833;
	--tertiary-text-color: #665C55;
	--background-color: #F5F4F2;
	--background-color-rgb: 245, 244, 242;
	--background-light-color: #FAF9F7;
	--accent-color-blue: #426A79;
	--accent-srgb-highlight-blue: #4DB8FF;
	--accent-p3-highlight-blue: color(display-p3 0.25 0.7 1);
	--accent-outline-blue: #2F4B56;
	--accent-color-unit-1: #A64534;
	--accent-srgb-highlight-unit-1: #FF6B50;
	--accent-p3-highlight-unit-1: color(display-p3 1 0.5 0.4);
	--accent-outline-unit-1: #803626;
	--accent-color-unit-2: #B37647;
	--accent-srgb-highlight-unit-2: #FFB05C;
	--accent-p3-highlight-unit-2: color(display-p3 1 0.7 0.35);
	--accent-outline-unit-2: #8C5C37;
	--accent-color-unit-3: #9D5C4A;
	--accent-srgb-highlight-unit-3: #FF8D7A;
	--accent-p3-highlight-unit-3: color(display-p3 1 0.55 0.5);
	--accent-outline-unit-3: #7A4839;
	--accent-color-unit-4: #A67D62;
	--accent-srgb-highlight-unit-4: #FFC68C;
	--accent-p3-highlight-unit-4: color(display-p3 1 0.8 0.55);
	--accent-outline-unit-4: #85634E;
	--decorative-warm-gray: #D8D3CD;
}

html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

html {
	font-family: 'SeravekWeb', Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
	font-weight: normal;
}

body {
	background-color: var(--background-color);
	color: var(--secondary-text-color);
	margin: 0;
	padding: 0;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	min-height: 100vh;
}

footer {
	min-height: 100px;
}

footer .content {
	border-color: var(--decorative-warm-gray);
	border-style: solid;
	border-width: 3px 0 0 0;
	display: grid;
	grid-template-columns: 3fr 2fr;
	margin: 0 auto;
	max-width: var(--max-content-width);
	padding: 2rem 0 3rem 0;
	width: 90%;
}

@media all and (max-width: 840px) {
	footer .content {
		grid-template-columns: 100%;
		row-gap: 2rem;
	}
}


footer .left-side {
	column-gap: 4rem;
	display: flex;
	justify-content: flex-start;
}

@media all and (max-width: 512px) {
	footer .left-side {
		flex-direction: column;
		row-gap: 2rem;
	}
}

footer .content ul {
	font-size: 1.4rem;
	font-weight: 400;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

footer .content  ul.primary > li {
	font-family: 'Paix', sans-serif;
	margin-bottom: .25em;
	text-transform: uppercase;
}

footer .content li > ul {
	font-size: 1.2rem;
	font-weight: 300;
	margin-top: .5em;
	padding-left: .5em;
}

footer .content li > ul li {
	font-family: 'SeravekWeb', Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
	margin-top: .25em;
	text-transform: none;
}

footer .content a {
	color: var(--primary-text-color);
	text-decoration-color: transparent;
	transition: all ease 0.3s;
}

footer .content a:hover {
	color: var(--accent-color-blue);
	text-decoration-color: var(--accent-srgb-highlight-blue);
	text-decoration-color: var(--accent-p3-highlight-blue);
}

footer .right-side {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	text-align: right;
}

@media all and (max-width: 512px) {
	footer .right-side {
		text-align: left;
	}
}
</style>
