---
import Layout from "./Layout.astro";

const {
    title,
    number,
} = Astro.props;
---

<Layout title={title}>
    <main>
        <slot />
    </main>
</Layout>

<style>
main {
    min-height: 100vh;
}
</style>